<!------------------------------------------------------>
<!--一覧画面                                                                               -->
<!------------------------------------------------------>

{% include "app/app_icon.html" %}

<div class="app_list_info">

{% if is_iphone %}
	　<div style="float:left"><img src="static_files/app/app_p1.jpg" width=160px height=160px></div><div style="margin-top:50px;"><H1><p>イラストブックマーケット(β)</p></H1>
</div><BR CLEAR="all"><BR><BR>
<H1 style="padding-bottom: 2px;"><p>イラストブックマーケットとは？</p></H1>
<HR>
{% else %}
<H1><p>イラストブックマーケット(β)</p></H1>
{% endif %}

<div class="app_text">
<p>イラストブックマーケットでは、イラストブックのバーチャルグラフやイラストを使用したアプリを楽しんだり、イラストを表示するプラグインを自分のホームページやBLOGに貼り付けたり、掲示板に適用するデザインを入手したりすることができます。</p>
<!-- <p>イラストのアプリ＆プラグインでの使用許可は掲示板の設定画面から設定することができ、使用許可の無い掲示板のイラストはサムネイルのみ参照できます。現在、イラストブックマーケットで公開されているコンテンツは全て無料です。</p> -->
</div>

<p>&nbsp</p>

<H1 style="padding-bottom: 2px;"><p>アプリ</p></H1>
<HR>

<div class="app_text">
{% if hot_app_list %}
	{% for app in hot_app_list %}
		{% if is_iphone %}
			{{app|show_app_iphone|safe}}
		{% else %}
			{{app|show_app|safe}}
		{% endif %}
	{% endfor %}
{% else %}
	<p>公開されているアプリはまだありません。</p>
{% endif %}
<br clear="all">
</div>

<p>&nbsp</p>

<H1 style="padding-bottom: 2px;"><p>プラグイン</p></H1>
<HR>

<div class="app_text">
{% if hot_plugin_list %}
	{% for app in hot_plugin_list %}
		{% if is_iphone %}
			{{app|show_app_iphone|safe}}
		{% else %}
			{{app|show_app|safe}}
		{% endif %}
	{% endfor %}
{% else %}
	<p>公開されているプラグインはまだありません。</p>
{% endif %}
<br clear="all">
</div>

<p>&nbsp</p>

<H1 style="padding-bottom: 2px;"><p>デザイン</p></H1>
<HR>

<div class="app_text">
{% if hot_css_list %}
	{% for app in hot_css_list %}
		{% if is_iphone %}
			{{app|show_app_iphone|safe}}
		{% else %}
			{{app|show_app|safe}}
		{% endif %}
	{% endfor %}
{% else %}
	<p>公開されているデザインはまだありません。</p>
{% endif %}
<br clear="all">
</div>

</div>

<div class="app_list_news">
{% if not is_iphone %}
	<img src="static_files/app/app_p1.jpg">
{% endif %}

<p>&nbsp</p>

<H1 style="padding-bottom: 2px;"><p>新着コンテンツ</p></H1>
<HR>

<div class="app_text">
{% if new_app_list %}
	{% for app in new_app_list %}
		<p><a href="app?mode=play&app_id={{app.app_id}}">{{app.public_date|time_JST_format(2)}} {{app.app_name}}</a></p>
	{% endfor %}
{% else %}
	<p>新着コンテンツはまだありません。</p>
{% endif %}
</div>

<p>&nbsp</p>

<H1 style="padding-bottom: 2px;"><p>コンテンツを作る</p></H1>
<HR>

<div class="app_text">
<p><a href="dev" class="declink">デベロッパーポータル</a></p>
</div>

</div>

{% if not is_iphone %}
<br clear="all">
{% endif %}
