<script><!--
	function show_one_user(code){
		//JSONをデコード
		code="("+decodeURI(code)+")";
		
		//タグ作成
		var obj=eval(code);
		var txt="";
		txt+="<div style='float:left;'>"
		txt+="<h2>"+obj["no"]+"位</h2>　";
		txt+='<a href="./mypage?user_id='+obj['user_id']+'">'
		txt+="<p><b>"+obj["name"]+"</b></p>";
		txt+='<img src="./show_icon?key='+obj['user_id']+'&size=mini" class="radius_image" width=50px height=50px />　';
		txt+='</a>';

		txt+="</div><div style='float:left;margin-right:10px;'>"
		txt+='';

		txt+='<a href="'+obj['thread_url']+'">'
		txt+='<img src="'+obj["thumbnail_url"]+'"/>　';
		txt+='</a>';

		txt+='</div>'

		//改行
		var no=obj["no"];
		var unit=4;
		{% if is_iphone %}unit=1;{% endif %}
		if(no%unit==unit-1){
			txt+="<BR CLEAR='ALL'>"
		}
		
		//ライト
		document.write(txt);
	}
--></script>

<!-- ユーザ一覧 -->
<div class="example">
	<p><h2>{{ranking_name}}</h2></p>
	{% for user in ranking_list %}
		<script>show_one_user('{{user|safe}}');</script>
	{% endfor %}
	<br clear="all">
</div>

<!-- ページ -->
<div class="g-button-group">
	<a id="feed_previous_page" href="{{host}}ranking?mode={{ranking_mode}}&page={{page|add:-1}}" class="g-button no-text {%ifequal page 1%}disabled2{%endifequal%}"><i class="icon-chevron-left"></i></a>
	<a id="feed_next_page" href="{{host}}ranking?mode={{ranking_mode}}&page={{page|add:1}}" class="g-button no-text"><i class="icon-chevron-right"></i></a>
</div>
