<div class="guide">
	<h2>ユーザランキング</h2>
	今日のランクは{% if user_rank %}{{user_rank}}{% else %}-{% endif %}位でした。
</div>

{% set count = (page-1)*page_unit+1 %}
{% for user in ranking_list %}
	<div class="item">
		<a href="{{user.profile_url}}">
		<h2>{{count}}位&nbsp;{{user.name}}</h2>
		<img src="{{user.icon_url}}" width=50px height=50px />　
		</a>
		{% set count = count + 1 %}
	</div>
{% endfor %}
<br clear="all">

<!-- ページ -->
<div class="guide">
	<div class="g-button-group">
		<a id="feed_previous_page" href="{{host}}ranking?mode={{ranking_mode}}&page={{page-1}}" class="g-button no-text {%if page == 1%}disabled2{%endif%}"><i class="icon-chevron-left"></i></a>
		<a id="feed_next_page" href="{{host}}ranking?mode={{ranking_mode}}&page={{page+1}}" class="g-button no-text"><i class="icon-chevron-right"></i></a>
	</div>
</div>

