
.icon-star:before { content: '\e800'; } /* '' */
.icon-help-circled:before { content: '\e801'; } /* '' */
.icon-star-empty:before { content: '\e802'; } /* '' */
.icon-user-1:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-comment:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-help-1:before { content: '\e807'; } /* '' */
.icon-help-circled-1:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-info-1:before { content: '\e80a'; } /* '' */
.icon-info-circled-1:before { content: '\e80b'; } /* '' */
.icon-rss-1:before { content: '\e80c'; } /* '' */
.icon-docs:before { content: '\e80d'; } /* '' */
.icon-doc:before { content: '\e80e'; } /* '' */
.icon-layout:before { content: '\e80f'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-rss:before { content: '\f09e'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-calendar-empty:before { content: '\f133'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */