<script>
	function join_chat(key,viewmode,pass){
		if(pass!=""){
			var pass=window.prompt("ルームのパスワードを入力","");
			if(pass==null){
				return;
			}
		}
		window.location.href="./chat?mode=tool&key="+key+"&viewmode="+viewmode+"&pass="+pass
	}

	function delete_room(url){
		if(confirm("ルームを削除してもよろしいですか？")){
			window.location.href=url;
		}
	}
</script>

<div style="margin-left:4px;margin-right:4px;">

<div style="float:left;margin-right:10px;">
<img src="./static_files/chat/logo.png">
</div>

<div style="float:left;">
{% if not is_iphone %}
	<p>&nbsp</p>
{% endif %}
<p>&nbsp</p>
<H1>イラブチャットとは</H1>
<p>イラブチャット（β）はPCとiPadで楽しめるお絵かきチャットです。</p>
<p>複数人同時にお絵かきとチャットを楽しむことができます。</p>
<p>作成したイラストはイラストブックのお絵描き掲示板に投稿することができます。</p>
<p>ご利用にはHTML5をサポートしたブラウザが必要です。IEは9以降にのみ対応しています。</p>
<a href="chat?mode=tool&key=always&viewmode=false&pass=false" class="g-button green">まずはお試し</a>
<a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-hashtags="ilbchat">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<br clear="all">
<br clear="all">
<img src="./static_files/chat/ipad.png"><img src="./static_files/chat/bbs.png">

<div>

<p>&nbsp</p>

<H1>稼働中のルーム</H1>

{% if not user %}
<p>ルームへの参加には<A HREF="{{redirect_url|login_url}}" class="declink">ログイン</A>が必要です。</H1>
<p>&nbsp</p>
{% endif %}

{% if room_list %}
	{% for room in room_list %}
		<div style="float:left;">
			<div style="background-color:#aaaaaa;padding:1px;margin-right:4px;">
				{% if user %}
		<A HREF="javascript:join_chat('{{room.key}}',false,{% if room.password %}true{%else%}false{%endif%});" class="declink">{% endif %}
				{% if room.password %}
					<div style="width:100px;height:100px;background-color:#ffffff;color:#333333;">password lock</div>
				{% else %}
					<img src="./chat?mode=thumbnail&key={{room.key}}" WIDTH=100px HEIGHT=100px>
				{% endif %}
				{% if user %}</A>{% endif %}
			</div>
		</div><div>
		<p><H2>{{room.name}}{% if room.is_always %}(常時稼動ルーム){% endif %}
		{% if room.password %}
			（パスワードが必要）{% if user %}{% ifequal user.user_id room.user_id %}（{{room.password}}）{% endifequal %}{% endif %}　
		{% else %}
			（誰でも参加可能）
		{% endif %}
		</H2></p>
		<p>from <A HREF="./mypage?user_id={{room.user_id}}">{{room.user_name}}</A><br>
		最終更新から{{room.from_last_update}}分経過<br>
		{% if user %}
		</p>
		<div class="actions g-button-container">
		<div class="g-button-group">
		<A HREF="javascript:join_chat('{{room.key}}',false,{% if room.password %}true{%else%}false{%endif%});" class="g-button green">{% if not is_iphone %}{% endif %}参加（{{room.user_count}}人）</A>
		{% if user %}{% ifequal user.user_id room.user_id %}<A HREF="javascript:delete_room('./chat?mode=delete&key={{room.key}}');" class="g-button green">{% if not is_iphone %}{% endif %}削除</A>{% endifequal %}{% endif %}
		<!--<A HREF="javascript:join_chat('{{room.key}}',true,{% if room.password %}true{%else%}false{%endif%});" class="g-button 
		green">{% if not is_iphone %}{% endif %}閲覧</A>-->
		{% endif %}
		</div>
		</div>
		</div>
		<br clear="all">
	{% endfor %}
{% else %}
	<p>稼働中のルームはありません。</p>
{% endif %}
	<p>&nbsp</p>
</div>

<script>
	function create_new_room(){
		$("#new_room").hide();
		$("#new_room_exec").show();
		document.new_room_form.submit();
	}
</script>

<div>
<H1>ルームの作成</H1>

<div id="new_room_exec" style="display:none;">
	<img src="./static_files/loading.gif"><BR>
	<p>ルームを作成しています。<BR>
	しばらくお待ち下さい。</p>
</div>

<div id="new_room">

{% if not user %}
<p>ルームの作成には<A HREF="{{redirect_url|login_url}}" class="declink">ログイン</A>が必要です。</p>
{% else %}
<form action="./chat" enctype="multipart/form-data" method="GET" name="new_room_form">
<input type="hidden" name="mode" value="create">
<TABLE class="g-table">
<TR><TH>ルーム名（必須）</TH><TD><input type="text" name="name" style="width:200px"></TD></TR>
<TR><TH>パスワード</TH><TD><input type="text" name="pass" style="width:200px">　パスワードを設定しない場合は誰でも参加可能</TD></TR>
<TR><TH>キャンバスサイズ</TH><TD><select name="canvas_size">
<option value="600x600">600x600px</option>
<option value="800x600">800x600px</option>
</select>
</TABLE>
<BR>
<a href="javascript:create_new_room();" class="g-button green">ルームを作成</a>
</form>
{% endif %}
</div>
</div>

<p>&nbsp</p>
<p>&nbsp</p>
<H1>利用ガイド</H1>
<p>ご利用にはイラストブックへのログインが必要です。</p>
<p>制限時間はありません。ルームは最終更新から10分が経過すると自動的に削除されます。</p>
<p>バグ報告や要望は<A HREF="./support/" class="declink">サポート掲示板</A>までどうぞ。</p>
{% if is_admin %}<p>管理者向け：パスワードにalwaysと入れると常時稼動ルームになります</p>{% endif %}
<p>&nbsp</p>

</div>