<script>
	function join_chat(key,viewmode,pass){
		if(pass!=""){
			var pass=window.prompt("ルームのパスワードを入力","");
			if(pass==null){
				return;
			}
		}
		window.location.href="./chat?mode=tool&key="+key+"&viewmode="+viewmode+"&pass="+pass
	}
</script>

<div style="margin-left:4px;margin-right:4px;">

<div style="float:left;margin-right:10px;">
<img src="./static_files/chat/logo.png">
</div>

<div style="float:left;">
{% if not is_iphone %}
	<p>&nbsp</p>
	<p>&nbsp</p>
{% endif %}
<p>&nbsp</p>
<H1>イラブチャットの概要</H1>
<p>イラブチャット（β）はPCとiPadで楽しめるお絵かきチャットです。</p>
<p>複数人同時にお絵かきとチャットを楽しむことができます。</p>
<p>作成したイラストはイラストブックのお絵描き掲示板に投稿することができます。</p>
<p>ご利用にはHTML5をサポートしたブラウザが必要です。IEには対応していません。</p>
</div>

<br clear="all">
<br clear="all">
<img src="./static_files/chat/ipad.png"><img src="./static_files/chat/bbs.png">

<p>&nbsp</p>
<H1>利用ガイド</H1>
<p>チャットで使用する名前とサムネイルは<A HREF="./mypage" class="declink">マイページ</A>で設定することができます。</p>
<p>ルームは最終更新から10分が経過すると自動的に削除されます。</p>
<p>UNDO/REDOはサーバに送信されるまでの一定時間(3〜6秒)のみ可能です。</p>
<p>レイヤーは2枚まで使用できます。筆圧は使用できません。</p>
<p>バグ報告や要望は<A HREF="./support/" class="declink">サポート掲示板</A>までどうぞ。</p>
<p>&nbsp</p>

<div style="float:left;margin-right:16px;">

<H1>稼働中のルーム</H1>

{% if not user %}
<p>参加と閲覧には<A HREF="{{redirect_url|login_url}}" class="declink">Googleアカウントでのログイン</A>が必要です。</H1>
<p>&nbsp</p>
{% endif %}

{% if room_list %}
	{% for room in room_list %}
		<table>
		<tr><td>
			<div style="background-color:#aaaaaa;padding:1px;">
				<img src="./chat?mode=thumbnail&key={{room.key}}" WIDTH=60px HEIGHT=60px>
			</div>
		</td>
		<td>
		ルーム名：{{room.name}}　作成者：<A HREF="./mypage?user_id={{room.user_id}}" class="declink">{{room.user_name}}</A><BR>
		参加人数：{{room.user_count}}人　最終更新から：{{room.from_last_update}}分　作成から：{{room.from_created}}分<BR>
		{% if room.password %}
			パスワードが必要{% if user %}{% ifequal user.user_id room.user_id %}（{{room.password}}）{% endifequal %}{% endif %}<BR>
		{% else %}
			誰でも参加可能<BR>
		{% endif %}
		{% if user %}
		<A HREF="javascript:join_chat('{{room.key}}',false,{% if room.password %}true{%else%}false{%endif%});" class="declink">チャットに参加</A>　
		<A HREF="javascript:join_chat('{{room.key}}',true,{% if room.password %}true{%else%}false{%endif%});" class="declink">チャットを閲覧</A>　
		{% endif %}
		{% if user %}{% ifequal user.user_id room.user_id %}<A HREF="./chat?mode=delete&key={{room.key}}" class="declink">削除</A>{% endifequal %}{% endif %}
		</td></tr>
		</table>
	{% endfor %}
{% else %}
	<p>稼働中のルームはありません。</p>
{% endif %}
	<p>&nbsp</p>
</div>

<div style="float:left;">
<H1>ルームの作成</H1>
{% if not user %}
<p>ルームの作成には<A HREF="{{redirect_url|login_url}}" class="declink">Googleアカウントでのログイン</A>が必要です。</H1>
<p>&nbsp</p>
{% else %}
<form action="./chat">
<input type="hidden" name="mode" value="create">
<TABLE>
<TR><TD>ルーム名（必須）</TD><TD><input type="text" name="name" style="width:200px"></TD></TR>
<TR><TD>パスワード</TD><TD><input type="text" name="pass" style="width:200px"></TD></TR>
<TR><TD>キャンバスサイズ</TD><TD><select name="canvas_size">
<option value="600x600">600x600px</option>
<option value="800x450">800x600px</option>
<option value="1120x450">1200x600px</option>
</select>
</TABLE>
<input type="submit" value="ルームを作成">
</form>
<p>&nbsp</p>
<p>パスワードを設定しない場合は誰でも参加可能になります。</p>
{% endif %}
</div>

<br clear="all">

<p>&nbsp</p>
<H1>動作環境</H1>
<TABLE BORDER=1>
<TR><TD>PC</TD><TD>HTML5に対応したブラウザ(Chrome、Safari、FireFox)(IEは非対応)</TD></TR>
<TR><TD>iPad</TD><TD>第２世代以降のiPad(第一世代だと速度が遅いです)</TD></TR>
<TR><TD>Android</TD><TD>3.0ではまともに動きません、4.0は可能性があるかも？</TD></TR>
</TABLE>
</div>