<script type="text/javascript">
	function require_password(key,viewmode,pass){
		jPrompt("{% if is_english %}Put room password{% else %}ルームのパスワードを入力して下さい{% endif %}","","{% if is_english %}Password{% else %}パスワードの入力{% endif %}",function(pass){
			if(pass){
				require_username(key,viewmode,pass);
			}
		});
	}

	function require_username(key,viewmode,pass){
		{% if not user %}
			jPrompt("{% if is_english %}Put your name{% else %}チャットで使用する名前を入力して下さい{% endif %}","{{user_name}}","{% if is_english %}Name{% else %}名前の入力{% endif %}",function(name){
				if(name){
					start_chat(key,viewmode,pass,name);
				}
			});
		{% else %}
			start_chat(key,viewmode,pass,"{{user_name}}");
		{% endif %}
	}

	function start_chat(key,viewmode,pass,name){
		window.location.href="./chat?mode=tool&amp;key="+key+"&amp;viewmode="+viewmode+"&amp;name="+name+"&amp;pass="+pass
	}

	function join_chat(key,viewmode,pass){
		if(pass!=""){
			require_password(key,viewmode,pass);
		}else{
			require_username(key,viewmode,pass);
		}
	}

	function delete_room(url){
		if(confirm("{% if is_english %}This room will delete. Is this OK?{% else %}ルームを削除してもよろしいですか？{% endif %}")){
			window.location.href=url;
		}
	}

	function create_new_room(){
		$("#new_room").hide();
		$("#new_room_exec").show();
		document.new_room_form.submit();
	}
</script>

<!-- container -->
<div class="message">
	<div style="float:left;margin-right:10px;">
		<img src="./static_files/chat/logo.png" alt="logo"/>
	</div>
	<div style="float:left;">
		<h1>{% if is_english %}What's ilbchat{% else %}イラブチャットとは{% endif %}</h1>
		<p>{% if is_english %}
			ilbchat is illust chat for PC and iPad.
			{% else %}
			イラブチャット（β）はPCとiPadで楽しめるお絵かきチャットです。<br/>
	作成したイラストはイラストブックに投稿することができます。<br/>
	ご利用にはHTML5に対応したブラウザが必要です。
			{% endif %}</p>
		<a href="chat?mode=tool&amp;key=always&amp;viewmode=false&amp;pass=false" class="g-button">{% if is_english %}Trial{% else %}まずはお試し{% endif %}</a>&nbsp;
		<a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-hashtags="ilbchat">ツイート</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>

<div class="message">
<img src="./static_files/chat/ipad.png" alt="ipad"/>
<img src="./static_files/chat/bbs.png" alt="submitable"/>
</div>

<div class="message">
	<h1>{% if is_english %}Room{% else %}稼働中のルーム{% endif %}</h1>
	{% if room_list %}
	{% for room in room_list %}
		<div style="float:left;">
			<a href="javascript:join_chat('{{room.key()}}',false,{% if room.password %}true{%else%}false{%endif%});" class="declink">
				{% if room.password %}
					<div style="width:120px;height:120px;"></div>
				{% else %}
					<img src="./chat?mode=thumbnail&amp;key={{room.key()}}" width="120px" height="120px" alt="room thumbnail"/>
				{% endif %}
			</a>
		</div>
		<div style="float:left;margin:4px;{% if is_iphone %}width:170px;{% endif %}">
			<h2>{{room.name}}{# {% if room.is_always %}（常時稼動ルーム）{% endif %} #}
			{% if room.password %}
				（{% if is_english %}Password{% else %}パスワード{% endif %}）{% if user %}{% if user.user_id == room.user_id %}（{{room.password}}）{% endif %}{% endif %}　
			{% else %}
				（{% if is_english %}Everybody{% else %}誰でも{% endif %}）
			{% endif %}
			</h2>
			<p>
				{% if is_english %}by {% else %}作成者：{% endif %}<a href="./mypage?user_id={{room.user_id}}" style="text-decoration:none;color:#333;">
					<img src="{{host}}show_icon?key={{room.user_id}}&amp;size=mini" width="24px" height="24px" alt="{{room.user_name}}"/>
					{{room.user_name}}
				</a><br/>
				{% if is_english %}{% else %}最終更新から{% endif %}{{room.from_last_update}}{% if is_english %} minutes ago{% else %}分経過{% endif %}<br/>
			</p>
			<div class="actions g-button-container">
				<div class="g-button-group">
					<a href="javascript:join_chat('{{room.key()}}',false,{% if room.password %}true{%else%}false{%endif%});" class="g-button">{% if not is_iphone %}{% endif %}{% if is_english %}Join{% else %}参加{% endif %}（{{room.user_count}}人）</a>
					{% if user %}{% if user.user_id() == room.user_id %}<a href="javascript:delete_room('./chat?mode=delete&amp;key={{room.key()}}');" class="g-button">{% if is_english %}Delete{% else %}削除{% endif %}</a>{% endif %}{% endif %}
				</div>
			</div>
		</div>
		<br clear="all"/>
	{% endfor %}
	{% else %}
		<p>{% if is_english %}No room exist{% else %}稼働中のルームはありません。{% endif %}</p>
	{% endif %}
</div>

<div class="message">
	<h1>{% if is_english %}Create room{% else %}ルームの作成{% endif %}</h1>

	<div id="new_room_exec" style="display:none;">
		<img src="./static_files/loading2.gif" alt="loading"/>
		<br/>
		<p>{% if is_english %}Creating...{% else %}ルームを作成しています。<br/>
		しばらくお待ち下さい。{% endif %}</p>
	</div>

	<div id="new_room">
		{% if not user %}
			<p>{% if is_english %}Require login{% else %}ルームの作成には<a href="{{redirect_url|login_url}}" class="declink">ログイン</a>が必要です。{% endif %}</p>
		{% else %}
		<form action="./chat" enctype="multipart/form-data" method="GET" name="new_room_form">
			<input type="hidden" name="mode" value="create">
			<table class="g-table">
			<tr><th>{% if is_english %}Room name (MUST){% else %}ルーム名（必須）{% endif %}</th><td><input type="text" name="name" style="width:200px"></td></tr>
			<tr><th>{% if is_english %}Password{% else %}パスワード{% endif %}</th><td><input type="text" name="pass" style="width:200px">
			{% if not is_english %}<br/>パスワードを設定しない場合は誰でも参加可能{% endif %}</td></tr>
			<tr><th>{% if is_english %}Canvas size{% else %}キャンバスサイズ{% endif %}</th><td>
				<select name="canvas_size">
				<option value="600x600">600x600px</option>
				<option value="800x600">800x600px</option>
				</select>
			</td></tr>
			</table>
			<br/>
			<a href="javascript:create_new_room();" class="g-button">{% if is_english %}Create{% else %}ルームを作成{% endif %}</a>
		</form>
		{% endif %}

		{% if not is_english %}
		<p>ルームは最終更新から10分が経過すると自動的に削除されます。<br/>
		{% if is_admin %}管理者向け：パスワードにalwaysと入れると常時稼動ルームになります<br/>{% endif %}
		</p>
		{% endif %}
	</div>
</div>

<br clear="all"/>