	<div style="margin:5px;padding:5px;">
	<h1>{% if is_english %}Create room{% else %}ルームの作成{% endif %}</h1>

	<div id="new_room_exec" style="display:none;">
		<img src="./static_files/loading2.gif" alt="loading"/>
		<br/>
		<p>{% if is_english %}Creating...{% else %}ルームを作成しています。<br/>
		しばらくお待ち下さい。{% endif %}</p>
	</div>

	<div id="new_room">
		{% if not bookmark %}
			<p>{% if is_english %}Require login{% else %}ルームの作成には<a href="{{redirect_url|login_url}}" class="declink">ログイン</a>が必要です。{% endif %}</p>
		{% else %}
		<form action="./chat" enctype="multipart/form-data" method="GET" name="new_room_form">
			<input type="hidden" name="mode" value="create">
			<table class="g-table">
			<tr><td>{% if is_english %}Room name (MUST){% else %}ルーム名（必須）{% endif %}</td><td><input type="text" name="name" style="width:200px"></td></tr>
			<tr><td>{% if is_english %}Password{% else %}パスワード{% endif %}</td><td><input type="text" name="pass" style="width:200px"></td></tr>
			<tr><td>{% if is_english %}Canvas size{% else %}キャンバスサイズ{% endif %}</td><td>
				<select name="canvas_size">
				<option value="600x600">600x600px</option>
				<option value="800x600">800x600px</option>
				<option value="1024x1024">1024x1024px</option>
				</select>
			</td></tr>
			</table>
			<br/>
			<a href="javascript:create_new_room();" class="g-button">{% if is_english %}Create{% else %}作成{% endif %}</a>
		</form>
		{% endif %}

		{% if not is_english %}
		<p>
		{% if not is_english %}パスワードを設定しない場合は誰でも参加可能です。<br/>{% endif %}
		ルームは最終更新から10分が経過すると自動的に削除されます。<br/>
		{% if is_admin %}管理者向け：パスワードにalwaysと入れると常時稼動ルームになります<br/>{% endif %}
		</p>
		{% endif %}
	</div>
	</div>
