{% for room in room_list %}
	<div class="item">
		<div class="deletable">
			<div class="side-corner-tag" style="width:100%;">
				<a href="javascript:join_chat('{{room.key()}}',false,{% if room.password %}true{%else%}false{%endif%});" class="declink">
				{% if room.password %}
					<img src="./static_files/empty_user.png" alt="room thumbnail" class="item_radius_image" style="width:100%;"/>
				{% else %}
					<img src="./chat?mode=thumbnail&amp;key={{room.key()}}" alt="room thumbnail" class="item_radius_image" style="width:100%;"/>
				{% endif %}
				</a>
				<p><span>
				{% if not is_english %}{% endif %}{{room.user_count}}{% if is_english %} Person{% else %}人参加中{% endif %}<br/>
				</span></p>
			</div>
		</div>

		<div class="illust_summary">
			<h2>{{room.name}}</h2>

			<div class="actions g-button-container" style="margin:2px;">
				<div class="g-button-group">
					<a href="javascript:join_chat('{{room.key()}}',false,{% if room.password %}true{%else%}false{%endif%});" class="g-button">{% if not is_iphone %}{% endif %}{% if is_english %}Join{% else %}参加{% endif %}</a>
					{% if bookmark %}{% if bookmark.user_id == room.user_id %}<a href="javascript:delete_room('./chat?mode=delete&amp;key={{room.key()}}');" class="g-button">{% if is_english %}Delete{% else %}削除{% endif %}</a>{% endif %}{% endif %}
				</div>
			</div>
		</div>

		<div class="item_info">
			<div style="float:left;width:100%;">
				<hr/>
				<div style="float:right;width:100%;margin-left:-34px;">
					<div class="item_info_author">
						 {%if room.user_id %}
							<a href="{{host}}mypage?user_id={{room.user_id}}" style="overflow:hidden;max-width:80%;">
						 {% endif %}
							<small>{{room.user_name}}</small>
						 {%if room.user_id %}
							 </a>
						 {% endif %}
					</div>
					<div class="item_info_bookmark">
					</div>
				
					<br clear="all"/>
				
					<div class="item_info_date">
						{% if is_english %}{% else %}最終更新から{% endif %}{{room.from_last_update}}{% if is_english %} minutes ago{% else %}分経過{% endif %}
						<br/>
					</div>
					<div class="item_info_applause">
					</div>
				</div>
				<div style="float:left;margin:4px;width:26px;">
					{%if room.user_id %}
						<a href="{{host}}mypage?user_id={{room.user_id}}">
						<img src="{{host}}show_icon?key={{room.user_id}}&amp;size=mini" width="26px" height="26px" alt="{{room.user_id}}"/>
						</a>
					{% else %}
						<div style="width:26px;height:26px;">&nbsp;</div>
					{% endif %}
				</div>
				<hr/>
			</div>
		</div>

		<div class="item_info_bbs">
			<small>
				{% if room.password %}
					{% if is_english %}Password Locked{% else %}パスワードが必要{% endif %}
					{% if user %}{% if user.user_id == room.user_id %}（{{room.password}}）{% endif %}{% endif %}　
				{% else %}
					{% if is_english %}Everybody{% else %}誰でも参加可能{% endif %}
				{% endif %}
			</small>
		</div>
	</div>
{% endfor %}
