{% include "./portal_css/option_google_button.html" %}
{% if template_path%}
	<link rel="stylesheet" type="text/css" media="screen,print" href="{{css_name}}" />
	<link rel="stylesheet" type="text/css" media="screen,print" href="{{host}}template/common/style_common2.css" />
{% else %}
	{% if css_key %}
		<link rel="stylesheet" type="text/css" href="{{host}}css/{{css_key}}.key{% if is_iphone %}?is_iphone=1{% endif %}" media="screen,print" />
	{% else %}
		<link rel="stylesheet" type="text/css" href="{{host}}css/{{bbs.key()}}.css{% if is_iphone %}?is_iphone=1{% endif %}" media="screen,print" />
	{% endif %}
{% endif %}

<style type="text/css">
	.entry-name img{
		margin-bottom:2px;
		vertical-align:middle;
	}

	{% if is_iphone %}

	#contents-header-edit{
		text-align:left;
		float:left;
	}

	#contents-header {
		height:32px;
		padding:4px;
		padding-left:8px;
	}

	.mobile_ad {
		margin-left:-6px;
		width:320px;
		padding-left:0px;
		padding-right:0px;
		background: none;
	}

	{% endif %}
</style>