{% include "./portal_css/option_google_button.html" %}
{% if template_path%}
	<link rel="stylesheet" type="text/css" media="screen,print" href="{{css_name}}" />
	<link rel="stylesheet" type="text/css" media="screen,print" href="{{host}}template/common/style_common2.css" />
{% else %}
	{% if css_key %}
		<link rel="stylesheet" type="text/css" href="{{host}}css/{{css_key}}.key{% if is_iphone %}?is_iphone=1{% endif %}" media="screen,print" />
	{% else %}
		<link rel="stylesheet" type="text/css" href="{{host}}css/{{bbs.key}}.css{% if is_iphone %}?is_iphone=1{% endif %}" media="screen,print" />
	{% endif %}
{% endif %}
