
<style type="text/css">
	.entry-name img{
		margin-bottom:2px;
		vertical-align:middle;
	}

	.twitter-share-button {
		width: 100px !important;
	}

	{% if not template_path %}
	#contents-footer{
		width:100%;
		background:#ffffff;
		color:#333;
		bottom:0px;
		margin:0px;
		padding-top:4px;
		padding-bottom:4px;
	}

	#contents-footer a{
		color:#333;
	}
	{% endif %}

	{% if is_iphone %}

	#contents-header-edit{
		text-align:left;
		float:left;
	}

	#contents-header {
		height:32px;
		padding:4px;
		padding-left:8px;
	}

	.mobile_ad {
		margin-left:-6px;
		width:320px;
		padding-left:0px;
		padding-right:0px;
		background: none;
	}

	{% endif %}
</style>