<!-- bbs base -->
<!--
		{% if template_path %}
			<img src="{{template_path}}images/i_name.gif" alt="投稿者" width="64" height="20" style="margin-top:4px;"/>
		{% else %}
			投稿者：
		{% endif %}
		{{thread|author_name_thread:host|safe}}

		{% if thread.category %}
			{%if is_iphone%} <br/>{%endif%}
			{%if template_path %}
				<img src="{{template_path}}images/i_category.gif" alt="カテゴリ" width="64" height="20" style="margin-top:4px;" />
			{% else %}
				カテゴリ：
			{% endif%}
				<a href="{{usrhost}}?category={{thread.category|iriencode}}" class="g-button mini" style="margin-left:2px;margin-bottom:2px;">{{thread.category}}</a>
		{%endif%}

		{%if is_iphone%} <br/>{%endif%}
		{% if template_path %}
			<img src="{{template_path}}images/i_day.gif" alt="投稿日" width="64" height="20" style="margin-top:4px;" />
		{% else %}
			投稿日：
		{% endif %}
		 {{thread.create_date|time_JST_format:bbs.date_format}}
-->

<!-- thread base -->

<style type="text/css">
	.entry-name img{
		margin-bottom:2px;
		vertical-align:middle;
	}
</style>

{%if template_path %}
	<img src="{{template_path}}images/i_name.gif" alt="投稿者" width="64" height="20"/>
{%else%}
	投稿者：
{%endif%}
{{thread|author_name_thread:host|safe}}　

{% if thread.category %}
	{% if is_iphone %}<br/>{% endif %}
	{%if template_path %}
		<img src="{{template_path}}images/i_category.gif" alt="カテゴリ" width="64" height="20"/>
	{% else %}
		カテゴリ：
	{% endif%}
	<a href="{{usrhost}}?category={{thread.category|iriencode}}" class="g-button mini" style="color:#444;margin-left:0px;margin-bottom:2px;">{{thread.category}}</a>　
{%endif%}

{% if thread.create_date %}
	{% if is_iphone %}<br/>{% endif %}
	{%if template_path %}
		<img src="{{template_path}}images/i_day.gif" alt="投稿日" width="64" height="20"/>
	{% else %}
		投稿日：
	{% endif%}
	{{thread.create_date|time_JST_format:bbs.date_format}}
{% endif %}

<!-- -->
