{% if not bbs.disable_author %}
	{%if template_path %}
		<img src="{{template_path}}images/i_name.gif" alt="投稿者" width="64" height="20"/>
	{%else%}
		{% if is_english %}Name{% else %}投稿者{% endif %}：
	{%endif%}
	{{thread|author_name_thread(host)|safe}}　
{% endif %}

{% if thread.category %}
	{% if is_iphone %}<br/>{% endif %}
	{%if template_path %}
		<img src="{{template_path}}images/i_category.gif" alt="カテゴリ" width="64" height="20"/>
	{% else %}
		{% if is_english %}Category{% else %}カテゴリ{% endif %}：
	{% endif%}
	<a href="{{usrhost}}?category={{thread.category|iriencode}}" class="g-button mini" style="color:#444;margin-left:0px;margin-bottom:2px;">{{thread.category}}</a>　
{%endif%}

{% if bbs.date_format!=-1 %}
	{% if thread.create_date %}
		{% if is_iphone %}<br/>{% endif %}
		{%if template_path %}
			<img src="{{template_path}}images/i_day.gif" alt="投稿日" width="64" height="20"/>
		{% else %}
			{% if is_english %}Date{% else %}投稿日{% endif %}：
		{% endif%}
		{% if is_english %}
		{{thread.create_date|time_UTC_progress()}}
		{% else %}
		{{thread.create_date|time_JST_format(bbs.date_format)}}
		{% endif %}
	{% endif %}
{% endif %}