{% if not bbs.disable_author %}
	<div class="entry-info-tag">
	{%if template_path and not is_english %}
		<img src="{{template_path}}images/i_name.gif" alt="投稿者" width="64" height="20"/>
	{%else%}
		{% if is_english %}Name{% else %}投稿者{% endif %}{% if not is_iphone %}：{% endif %}
	{%endif%}
	</div>
	<div class="entry-info-data">
	{{thread|author_name_thread(host)|safe}}
	{% if bbs.show_remote_addr_id and not thread.user_id %}
		(ID:{{thread.remote_addr|ip_hash}})
	{% endif %}
	</div>
	{% if is_iphone %}<br clear="all"/>{% endif %}
{% endif %}

{% if thread.category %}
	<div class="entry-info-tag">
	{%if template_path and not is_english %}
		<img src="{{template_path}}images/i_category.gif" alt="カテゴリ" width="64" height="20"/>
	{% else %}
		{% if is_english %}Category{% else %}カテゴリ{% endif %}{% if not is_iphone %}：{% endif %}
	{% endif%}
	</div>
	<div class="entry-info-data">
		<a href="{{usrhost}}?category={{thread.category|iriencode}}" class="g-button mini">{{thread.category|truncate_category}}</a>
	</div>
	{% if is_iphone %}<br clear="all"/>{% endif %}
{%endif%}

{% if bbs.date_format!=-1 %}
	{% if thread.create_date %}
		<div class="entry-info-tag">
		{%if template_path and not is_english %}
			<img src="{{template_path}}images/i_day.gif" alt="投稿日" width="64" height="20"/>
		{% else %}
			{% if is_english %}Date{% else %}投稿日{% endif %}{% if not is_iphone %}：{% endif %}
		{% endif%}
		</div>
		<div class="entry-info-data">
			{% if is_english %}
			{{thread.create_date|time_UTC_progress()}}
			{% else %}
			{{thread.create_date|time_JST_format(bbs.date_format)}}
			{% endif %}
		</div>
	{% endif %}
	{% if is_iphone %}<br clear="all"/>{% endif %}
{% endif %}

{% if not is_iphone %}
<br clear="all"/>
{% endif %}