<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% if is_tablet %}
	<meta name="viewport" content="width=820">
{% endif %}
{% if is_iphone %}
	<meta name="viewport" content="width=device-width">
{% endif %}
<meta name="google-site-verification" content="tDxCTlHc4ZiHH3ufegQflliprI4XMLpK6OsChsk5FCA" />
{%if bbs %}
{%if bbs.short == "moper"%}
<script type="text/javascript">
window.google_analytics_uacct = "UA-8633292-7";
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8633292-7']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_trackPageLoadTime']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{%else%}
<script type="text/javascript">
window.google_analytics_uacct = "UA-8633292-4";
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8633292-4']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_trackPageLoadTime']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{%endif%}
{%else%}
<script type="text/javascript">
window.google_analytics_uacct = "UA-8633292-4";
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-8633292-4']);
  _gaq.push(['_trackPageview']);
  _gaq.push(['_trackPageLoadTime']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{%endif%}