{% if is_iphone %}<center><p>{% endif %}<a href="{{host}}">イラストブック</a> {% if is_iphone %}<BR>{% endif %}&copy; 2010-2012 <a href="http://www.abars.biz">ABARS</a> all rights reserved. {% if is_iphone %}</p></center>
{% else %}
{% ifequal mode "chat"%}
　イラスト：<a href="http://www.geocities.jp/tarowy85/makol.html">まことじ</a>
{% endifequal %}
{% ifequal mode "index"%}
　イラスト：<a href="http://himao.ame-zaiku.com/">ひまお</a>
{% endifequal %}
{% ifequal mode "community"%}
　イラスト：<a href="http://himao.ame-zaiku.com/">ひまお</a>
{% endifequal %}
{% endif %}
