{% if is_iphone %}
<style> img {max-width:100%;} </style>
{% endif %}

{% if not contents %}

{% if is_english %}<h1>These articles are Japanese version only.</h1>{% endif %}

<h1>{% if is_english %}How to use ILLUSTBOOK{% else %}イラストブックの使い方{% endif %}</h1>

<a href="{{host}}guide?contents=about">イラストブックの特徴</a><br/>
<a href="{{host}}guide?contents=pc">イラブペイント(PC版/アプリ版)の使い方</a><br/>
<a href="{{host}}guide?contents=mobile">イラブペイント(モバイル版)の使い方</a><br/>
<a href="{{host}}guide?contents=sns">SNS機能の使い方</a><br/>

<p>&nbsp;</p>

<h1>{% if is_english %}Manga for Introduction{% else %}イラストブック紹介漫画{% endif %}</h1>

<a href="./comic">
<img src="./static_files/comic/banar.png" alt="コミック"/>
</a>

<p>&nbsp;</p>

<h1>{% if is_english %}Link{% else %}リンク{% endif %}</h1>

<p>
<a href="./{{host}}guide?contents=ad" class="declink">広告掲載のお問い合わせ</a><br/>
<a href="./dev" class="declink">開発者向けサイト</a><br/>
<a href="./moper_guide" class="declink">動画お絵かきツールの使い方</a><br/>
<a href="http://www.kooss.com/" class="declink">無料サイト集 Kooss.com</a><br/>
</p>

{% endif %}

{% if contents=="about" %}
	{% include "portal/guide_about.html" %}
{% endif %}

{% if contents=="pc" %}
	{% include "portal/guide_pc.html" %}
{% endif %}

{% if contents=="mobile" %}
	{% include "portal/guide_mobile.html" %}
{% endif %}

{% if contents=="sns" %}
	{% include "portal/guide_sns.html" %}
{% endif %}

{% if contents=="ad" %}
	{% include "portal/guide_ad.html" %}
{% endif %}
