<script>
	function display_tab(tab){
		$(".one_tab").hide();
		$("#"+tab).show();
		$(".g-button").removeClass("checked");
		$("#"+tab+"_tab").addClass("checked");
		//return false;
	}
</script>


<div style="margin-left:2px;margin-right:2px;">
	{% if is_maintenance %}
		{% include "portal/maintenance.html" %}
	{% endif %}
			
	<div style="padding:4px;float:left;width:180px;">
		<img src="static_files/banner_360.png" width="180px" height="180px">
	</div>
	
	<div style="padding:4px;float:left;width:120px;">
		<p>&nbsp</p>
		<p>「イラストブック」に搭載されたお絵かきツールとあなた専用のお絵かき掲示版を使って、作品を世界中に公開することができます。 </p>
		<p>&nbsp</p>
		<div class="g-button-group">
		  <a class="g-button dropdown-toggle" data-toggle="dropdown" href="#">
		    サイトマップ <span class="caret"></span>
		  </a>
		  <ul class="dropdown-menu">
		      <li><a href="{{host}}guide">使い方を知る</a></li>
		      <li><a href="{{host}}app">アプリを探す</a></li>
		      <li><a href="{{host}}chat">イラブチャット</a></li>
		      <li><a href="{{host}}support">サポート</a></li>
		      <li><a href="http://www.illustbook.net/support/2010516491.html">更新履歴</a></li>
		      <li><a href="{{host}}terms">ご利用規約</a></li>
		      <li><a href="{{host}}link">リンク</a></li>
		  </ul>
		</div>
	</div>
	
	<div class="clr"></div>

	<div class="example">
	<p><h2>イラストを探す</h2></p>

		<div class="g-button-group toggle-buttons" style="padding:4px;">
		<a id="tab_hot_tab" href="javascript:display_tab('tab_hot');" class="g-button checked">人気</a>
		<a id="tab_new_tab" href="javascript:display_tab('tab_new');" class="g-button">新着</a>
		<a id="tab_tag_tab" href="javascript:display_tab('tab_tag');" class="g-button">話題のタグ</a>
		</div>
		
	<div class="one_tab" id="tab_hot">
		<div id="moper" style="padding:4px;">Loading</div>
	</div>

	<div class="one_tab" id="tab_new" style="display:none;">
		<div id="news" style="padding:4px;">Loading</div>
	</div>

	<div class="one_tab" id="tab_tag" style="display:none;">
		<p>&nbsp</p>
		<div style="padding:4px;">
		{% include "search/search_top_tag.html" %}
		</div>
	</div>
	
	</div>

	<div class="example">
	<p><h2>イラストを描く</h2></p>

	<div style="padding:4px;">
		<p><a href="{{host}}sample/" class="g-button ">まずはお試し</a></p>
		<p>サンプルお絵描き掲示板で試し描きをすることができます。</p>
		<p>&nbsp</p>
		<p><a href="{{host}}mypage" class="g-button ">登録して使う</a></p>
		<p>自分専用の掲示板をレンタルすることができます。現在、<strong>{{bbs_n}}人</strong>の方が、イラストブックに登録され、<strong>{{illust_n}}点</strong>の作品が公開されています。</p>
	</div>
	</div>

	<div class="example">
	<p><h2>イラストで交流する</h2></p>
	<div style="padding:4px;">
		<p><a href="{{host}}anything/" class="g-button ">何でも投稿　</a></p>
		<p>イラストを使ってユーザ間で交流することができます。</p>
		<p>&nbsp</p>
		<p><a href="{{host}}commu/" class="g-button ">コミュニティ</a></p>
		<p>スレッドを使ってユーザ間で交流することができます。</p>
	</div>
	</div>
	
	<div class="clr"></div>
</div>

<!--
<div align="center">
<img src="static_files/icon/mascot.gif">
</div>
-->

<p>{% include "portal/footer_link.html" %}</p>