		<div>
			{% if is_maintenance %}
				{% include "portal/maintenance.html" %}
			{% endif %}
			
			<center>
			<div style="padding:4px;">
			<img src="static_files/banar_180.png">
			</div>
			</center>

				<div class="clr"></div>

			<p class="bar">イラストブックとは？</p>

				<div style="padding:4px">
				<p>お絵かきソフトがなくても誰でもすぐに描ける。それが「イラストブック」です。
					「イラストブック」は、エイバースが提供する無料のレンタルお絵かき掲示板サイト。「イラストブック」に搭載されたお絵かきツールとあなた専用のお絵かき掲示版を使って、作品を世界中に公開しましょう。 </p>
				</div>
				
				<div class="clr"></div>

	<script>
		function display_tab(tab){
			$(".one_tab").hide();
			$("#"+tab).show();
			$(".none").removeClass("none");
			$("#"+tab+"_tab").addClass("none");
			return false;
		}
	</script>

		<p class="bar">イラストを探す</p>

		<ul class="tab clear">
		<li class="none" id="tab_hot_tab"><a href="#" class="green" onClick="return display_tab('tab_hot');">人気</a></li>
		<li id="tab_new_tab"><a href="#" class="green" onClick="return display_tab('tab_new');">新着イラスト</a></li>
		<li id="tab_tag_tab"><a href="#" class="green" onClick="return display_tab('tab_tag');">話題のタグ</a></li>
		</ul>
	
		<div class="one_tab" id="tab_hot">
			<div id="moper" style="padding:4px;"></div>
		</div>

		<div class="one_tab" id="tab_new" style="display:none;">
			<div id="news" style="padding:4px;"></div>
		</div>

		<div class="one_tab" id="tab_tag" style="display:none;">
			<p>&nbsp</p>
			<div style="padding:4px;">
			{% include "search/search_top_tag.html" %}
			</div>
		</div>
			
			<p>&nbsp</p>

			<p class="bar">イラストを描く</p>

				<div style="padding:4px;">
					<p><a href="{{host}}sample/" class="g-button green">まずはお試し</a></p>
					<p>サンプルお絵描き掲示板で試し描きをすることができます。</p>
					<p>&nbsp</p>
					<p><a href="{{host}}mypage" class="g-button green">登録して使う</a></p>
					<p>掲示板のレンタルにはGoogleアカウントを使用します。現在、<strong>{{bbs_n}}人</strong>の方が、イラストブックに登録され、<strong>{{illust_n}}点</strong>の作品が公開されています。</p>
				</div>
				<div class="clr"></div>
		</div>

			<p>&nbsp</p>

			<p class="bar">サイトマップ</p>
			<div style="padding:4px;">
			<p>{% include "portal/footer_sitemap.html" %}</p>
			</div>

			<p>&nbsp</p>

			<p>{% include "portal/footer_link.html" %}</p>