		<div id="main">
			{% if is_maintenance %}
				{% include "portal/maintenance.html" %}
			{% endif %}
			<div id="toha">
				<h2><img src="static_files/general/images/top/top_toha.gif" alt="イラストブックとは？" width="52" height="72" /></h2>
				<p>お絵かきソフトがなくても誰でもすぐに描ける。それが「イラストブック」です。
					「イラストブック」は、エイバースが提供する無料のレンタルお絵かき掲示板サイト。「イラストブック」に搭載されたお絵かきツールとあなた専用のお絵かき掲示版を使って、作品を世界中に公開しましょう。 </p>
				<div class="clr"></div>
			</div>
			<div id="howto">
				<div id="howto-l">
					<p><img src="static_files/general/images/top/top_howto.gif" alt="イラストブックの使い方" width="215" height="35" /></p>
					<dl>
						<dt><img src="static_files/general/images/top/top_howto01.gif" alt="1" width="22" height="22" /></dt>
						<dd>「イラストブック」では、<strong>あなた専用のお絵かき掲示版を無料でレンタルすることができます。 
							</strong><A HREF="https://www.google.com/accounts/NewAccount?hl=ja" TARGET="_BLANK">登録には、グーグルアカウントが必要ですので、グーグルアカウントを取得してください。</A>（登録する前に試し描きが可能です。右の「まずはお試し」ボタンからお試しください。）</dd>
						<dt><img src="static_files/general/images/top/top_howto02.gif" alt="2" width="22" height="22" /></dt>
						<dd><strong><A HREF="{{host}}mypage">「登録して使う」からお絵かき掲示板をレンタルする。</A></strong></dd>
						<dt><img src="static_files/general/images/top/top_howto03.gif" alt="3" width="22" height="22" /></dt>
						<dd><strong>お絵かきを始める。 </strong><br />
							<A HREF="{{host}}guide">（お絵かきツールの使い方はこちらへ）</A></dd>
						<dt><img src="static_files/general/images/top/top_howto04.gif" alt="4" width="22" height="22" /></dt>
						<dd><strong>作品を公開する。友達に教える。</strong><br />
							レンタルしたお絵かき掲示板は、お絵かきブログとして使ったり、 友達にアドレスを教えてコミュニティを作る楽しみ方ができます。 </dd>
					</dl>
				</div>
				<div id="howto-r">
					<p><a href="{{host}}sample/"><img src="static_files/general/images/top/top_howto_trial.gif" alt="まずはお試し" width="191" height="68" /></a></p>
					<div id="howto-entry">
						<p><a href="{{host}}mypage"><img src="static_files/general/images/top/top_howto_entry.gif" alt="登録して使う" width="189" height="64" /></a></p>
						<p class="txt">現在、<strong>{{bbs_n}}人</strong>の方が、イラストブックに登録され、<strong>{{illust_n}}点</strong>の作品が公開されています。</p>
					</div>
				</div>
				<div class="clr"></div>
			</div>
			<div id="clap">
				<p><img src="static_files/general/images/top/top_clap.jpg" alt="拍手の多い作品" width="150" height="40" /></p>
				<div id="clap-area">
					<div id="applause"></div>
					<div class="clr"></div>
				</div>
			</div>
		</div>
		<div id="side">
			<div id="new">
				<h3><img src="static_files/general/images/top/top_new.jpg" alt="新着作品" width="235" height="29" /></h3>
					<div id="news"></div>				
			</div>
			<div id="anime">
				<h3><img src="static_files/general/images/top/top_anime.jpg" alt="拍手の多い動画作品" width="235" height="31" /></h3>
					<div id="moper"></div>
			</div>
		</div>
		<div class="clr"></div>
