<!-- デフォルトのtempformとtemplateを上書きする -->

<style type="text/css">
	/* スレッド一覧 */
	.square_thread_list {
		position:relative;
		width:148px;
		height:148px;
		border: 1px solid #ddd;
		float:left;
		margin:2px;
		word-break:break-all;
		overflow:hidden;
		color:#333;
	}

	.square_thread_list_comment_cnt {
		margin: 2px;
		background: #ffffff;
	}

	.square_thread_list_info {
		position:absolute;
		margin:2px;
		width:100%;
		background: #ffffff;
		bottom:0px;
	}
	
	.square_thread_list:hover{
		opacity: 0.5;
		text-decoration: none;
	}

	/* 投稿者名 */
	.entry-info-tag {
		{% if is_iphone and (not template_path or is_english) %}
			width:64px;
		{% endif %}
		float:left;
	}

	.entry-info-data {
		float:left;
		margin-right:16px;
	}

	/* レイアウトの微調整 */
	.entry-name img{
		margin-bottom:2px;
		vertical-align:middle;
	}

	.twitter-share-button {
		width: 100px !important;
	}

	p {
		margin-top:2px;
		margin-bottom:2px;
	}

	.dropdown-menu a:hover{
		border-bottom:none;
	}

	.entry-comment p {
		line-height:normal;
	}

	{% if is_iphone and template_path %}
	.entry-title {
		border-bottom: dotted 1px #999999;
	}

	.entry-title h3 {
		float: left;
		width: 210px;
		border-bottom: none;
		margin-bottom: 0px;
	}

	.clap {
		padding-top:3px;
	}
	{% endif %}

	{% if is_iphone %}
		{# 高解像度 Android 対応 #}
		#container {
			width:100%;
		}

		#contents-header {
			background-size:cover;
		}

		#contents-header-edit{
			text-align:left;
			float:left;
		}

		#contents-header {
		{% if template_path %}
			height:38px;
			padding:2px;
			padding-left:8px;
		{% else %}
			padding:8px;
		{% endif %}
		}

		#contents-footer {
			background-repeat: no-repeat;
			background-size: cover;
		}

		.mobile_ad {
			margin-left:-6px;
			width:320px;
			padding-left:0px;
			padding-right:0px;
			background: none;
		}

		/* 関連スレッド */
		.related {
			width:100%;
			height:70px;
			overflow-y:hidden;
			overflow-x:scroll;
			white-space:nowrap;
			-webkit-overflow-scrolling:touch;
		}
	{% endif %}
</style>
