{% if True %}
<link rel="stylesheet" type="text/css" media="screen,print" href="{{host}}js/buttons/css/google-buttons-flat.css" />
{% else %}
<link rel="stylesheet" type="text/css" media="screen,print" href="{{host}}static_files/google_buttons/css/google-buttons.css" />
{% endif %}
{% if bbs or order=="chat" %}
    <link rel="stylesheet" type="text/css" media="screen,print" href="{{host}}js/jquery/jquery.alerts.css" />
{% endif %}
{% include "css/infinite_scroll.html" %}

{% if is_iphone %}
<link rel="stylesheet" href="{{host}}static_files/font2/fontello.css">
{% endif %}