{% if not is_english %}
<div class="message hot_bbs">
		<p>{% if is_english %}Require Login{% else %}イラスト投稿へのログイン要求について{% endif %}</p>
		削除キーを設定することで、ログイン不要でイラストの新規投稿ができる運営方式をトライアル中です。
		ボードの管理人に連絡がつかない場合は、削除キーを使用して削除して下さい。
</div>
<br clear="all"/>
{% endif %}

<!--
<div class="message hot_bbs">
		<p>{% if is_english %}Regulated host{% else %}アクセス規制について{% endif %}</p>
		掲示板への迷惑行為の対策として、ap.yournet.ne.jpからの書き込みを規制しています。
		ログインして投稿する場合は規制対象外になりますので、該当されるユーザ様はログインをお願い致します。
</div>
<br clear="all"/>
-->

