{% if not is_english %}

<div class="message hot_bbs">
	<p>イラストブックのサービス終了について</p>
	いつもイラストブックをご利用いただき、どうもありがとうございます。
	この度、誠に勝手ながら、2023年1月31日をもちまして、イラストブックのサービスを終了させていただくことになりました。
	2010年のリリースから、12年間にわたりご愛顧いただき、どうもありがとうございました。
	（<a href="http://blog.abars.biz/archives/52537839.html">ABARSの運営する各種サービスの終了のお知らせ</a>）
</div>
<br clear="all"/>
{% if force_login_to_create_new_image %}
<div class="message hot_bbs">
	<p>荒らしへの対策について</p>
	2022年05月04日より荒らしへの対策としてイラスト投稿時とコメント投稿時にログイン必須としています。
	（<a href="https://support.google.com/accounts/answer/27441?hl=ja">Googleアカウントの作成方法）</a>
</div>
{% else %}
<div class="message hot_bbs">
		<p>荒らしへの対策について</p>
		2018年12月30日より荒らしへの対策としてイラスト投稿時にログイン必須としていましたが、2019年1月13日に解除しました。
		<!--（<a href="https://support.google.com/accounts/answer/27441?hl=ja">Googleアカウントの作成方法</a>）-->
</div>
{% endif %}
<br clear="all"/>
<div class="message hot_bbs">
		<p>Flashの提供終了について</p>
		2020年12月31日でFlash Playerのサポートが終了しました。モバイル版のイラブペイントのみ使用可能です。
</div>
<br clear="all"/>
{% endif %}
