<div class="message hot_bbs">
	<div style="float:left;width:300px;">
		<p>{% if is_english %}Announce{% else %}謹賀新年{% endif %}</p>
		あけましておめでとうございます。2015年もイラストブックをよろしくお願い致します。
		新年イベント会場は<a href="{{host}}?order=event">こちら</a>です。
	</div>
	<div style="float:right:width:110px;">
		<img src="static_files/banner_360b.png" width="100px" height="100px" alt="ロゴ"/>
	</div>
</div>
<br clear="all"/>

<!--
<div class="message hot_bbs">
		<p>{% if is_english %}Announce{% else %}迷惑行為への対処について{% endif %}</p>
		現在発生している、各掲示板への迷惑行為につきましては、運営が順次削除していきますので無視して下さい。
		迷惑行為はap.yournet.ne.jpから発信されていますので、一部、投稿規制がかかっています。ご迷惑をおかけします。
</div>
<br clear="all"/>
-->
