{% if not contents_only %}

<style type="text/css">
  .bbs_thumbnail{
    float:left;
    margin:4px;
  }

  .bbs_button{
    float:right;
  }

  .bbs_title{
    float:left;
    margin:4px;
  }

  .bbs_list{
    width:308px;
    padding:0px;
  }

  .bbs_hr{
    margin:0px;
  }

</style>

{% if rental_bbs_list %}
<div class="message bbs_list">
  <div class="bbs_title">
  レンタルしている
  </div>
  <br clear="all"/>
  {% for bbs in rental_bbs_list %}
  <hr class="bbs_hr"/>
  <div class="bbs_thumbnail">
  <a href="{{bbs.bbs_url}}">
  {% if bbs.thumbnail_url %}<img src="{{bbs.thumbnail_url}}" width="50px" height="50px">{%else%}<img src="{{host}}static_files/empty_user.png" width="50px" height="50px">{% endif %}
  </a>
  </div>

  <div class="bbs_title">
  <a href="{{bbs.bbs_url}}">
  {{bbs.title}}
  </a>
  {% if bbs.bookmark %}
    <br/>
    <a href='show_bookmark?bbs_key={{bbs.key}}'>{{bbs.bookmark}}ブクマ</a>
  {% endif %}
  </div>

  <div class="bbs_button">
  {% if edit_mode %}
    <a href="javascript:confirm_action_bbs('del_bbs?bbs_key={{bbs.key}}','{{bbs.title}}');" class="g-button no-text"><i class="icon-remove"></i></a>
  {% endif %}
  </div>

  <br clear="all"/>
  {% endfor %}
</div>
{% endif %}

{% if bookmark_bbs_list %}
<div class="message bbs_list">
  <div class="bbs_title">
  ブックマークしている
  </div>
  <br clear="all"/>
  {% for bbs in bookmark_bbs_list %}
  <hr class="bbs_hr"/>
  <div class="bbs_thumbnail">
  <a href="{{bbs.bbs_url}}">
  {% if bbs.thumbnail_url %}<img src="{{bbs.thumbnail_url}}" width="50px" height="50px">{%else%}<img src="{{host}}static_files/empty_user.png" width="50px" height="50px">{% endif %}
  </a>
  </div>

  <div class="bbs_title">
  <a href="{{bbs.bbs_url}}">
  {{bbs.title}}
  </a>
      {% if bbs.bookmark %}
    <br/><a href='show_bookmark?bbs_key={{bbs.key}}'>{{bbs.bookmark}}ブクマ</a>
  {% endif %}

  </div>

  <div class="bbs_button">
  {% if edit_mode %}
    <a href="javascript:confirm_delete('del_bbs&bbs_key={{bbs.key}}','ブックマーク','{{bbs.title}}');" class="g-button no-text"><i class="icon-remove"></i></a>
  {% endif %}
  </div>

  <br clear="all"/>
  {% endfor %}
</div>
{% endif %}

{% if not view_mode %}
  <div class="message">
    {%include "mypage/rental.html" %}
  </div> 
{% endif %}

{% endif %}