<div class="message hot_bbs">
	<p>{% if is_english %}Chat{% else %}開催中のチャット{% endif %}</p>

{% if room_list %}
	{% for room in room_list %}

	<div class="bbs_info"><div class="bbs_info_contents">
		<a href="{{room.url}}">
		{{room.title}}
		</a>
		<br/>
		{{room.user_count}}
		{% if is_english %}Person{% else %}人参加{% endif %}
	</div></div>

	<div class="bbs_thumbnail">
		<a href="{{room.url}}">
		{% if room.thumbnail_url %}
			<img src="{{room.thumbnail_url}}" width="50px" height="50px" alt="{{room.title}}"/>
		{%else%}
			<img src="{{host}}static_files/empty_user.png" width="50px" height="50px" alt="{{room.title}}"/>
		{% endif %}
		</a>
	</div>

	<br clear="all"/>
	{% endfor %}
{% else %}
	{% if is_english %}No chat room exist{% else %}開催中のチャットはありません。{% endif %}
{% endif %}

</div>
<br clear="all"/>
