{% if room_invited %}
	<div class="message hot_bbs">
		{% if is_english %}
			You were invited.
			{% if not room_list %}
				But the chat was closed.
			{% endif %}
		{% else %}
			{% if not room_list %}
			チャットに招待されましたが、チャットは既に終了しました。
			{% else %}
			チャットに招待されました。
			ルームリストから参加することができます。
			{% endif %}
		{% endif %}
	</div>
	<br clear="all"/>
{% endif %}

	<div class="message hot_bbs">
		<a href="{{host}}chat">
		<img src="./static_files/chat/logo.png" alt="logo" width="300" height="250"/>
		</a>
		<p>{% if is_english %}
			ilbchat is a paint chat for PC and iPad.
			{% else %}
			イラブチャットはPCとiPadで楽しめるお絵かきチャットです。
			{% endif %}</p>
	</div>
	<br clear="all"/>

{% if not room_invited %}
	<div class="message hot_bbs">
		{% include "chat/room_create.html" %}
	</div>
	<br clear="all"/>

	{% if not is_english %}
	<div class="message hot_bbs">
		<h2>ルームへの招待</h2>
		<p>チャット画面のURLを伝えることで、ルームに招待することができます。</p>
	</div>
	<br clear="all"/>
	{% endif %}
{% endif %}