<!-- 2ページ目以降はコンテンツだけでよい -->

<!-- ランキングページ -->

<!-- ランキング -->
{% if not is_iphone and order == "monthly" %}
	{% include "pinterest/ranking.html" %}
{% endif %}

<!-- 講座 -->
{% if not is_iphone and order == "lecture" %}
	{% include "pinterest/lecture.html" %}
{% endif %}

<!-- イベント -->
{% if order == "event" %}
	{% include "pinterest/event.html" %}
{% endif %}

<!-- お知らせ -->
{% if not is_iphone and order=="new" %}
	{% include "pinterest/announce.html" %}
{% endif %}

<!-- 新着リスト -->
{% if not is_iphone and order=="new" %}
	{% include "pinterest/event_list.html" %}
	{% include "pinterest/chat_list.html" %}
	{% include "pinterest/tweet_list.html" %}
{% endif %}

<!-- 人気のBBS -->
{% if not is_iphone and order!="new"%}
	{% include "pinterest/hot_bbs.html" %}
{% endif %}

<!-- 検索オプション -->
{% if not is_iphone and search %}
	{% include "pinterest/search_option.html" %}
{% endif %}

<!-- タグ一覧 -->
{% if not is_iphone and not search and order!="new" %}
	{% include "pinterest/recent_tag.html" %}
{% endif %}

<!-- イラブチャット -->
{% if order == "chat" %}
	{% include "pinterest/chat.html" %}
{% endif %}

<!-- 広告 -->
{% if (not is_iphone) and (not search) %}
	{% if thread_list and not tag_list %}
		{% include "adsense/adsense_top.html" %}
	{% endif %}
{% endif %}

