<!-- 2ページ目以降はコンテンツだけでよい -->

<!-- タグサーチ -->

{% ifequal page_mode "search" %}
     <div style="float:right;">
    {% include "pinterest/search.html" %}
    </div>
{% endifequal %}

<!-- ポータル -->

{% ifequal page_mode "index" %}
  <div class="logo">
  {% if is_iphone %}
   <img src="static_files/banner_360.png" width="180px" height="180px">
  {% else %}
   <img src="static_files/banner_360b.png">
  {% endif %}
   <div id="logo_fotter">
     from <a href="http://pochigoya0423.blog.shinobi.jp/">飯田のぎ</a>
    </div>
  </div>
{% endifequal %}

{% ifequal page_mode "index" %}
  {% include "pinterest/menulist.html" %}
  <br clear="all">
{% endifequal %}

<!-- タグ一覧 -->

{% if tag_list %}
<div class="message" {% if not is_iphone %}style="width:350px;margin-left:0px;margin-right:0px;"{%else%}style="width:300px;"{% endif %}>
{% for tag2 in tag_list %}
    {% if forloop.counter <= tag_display_n %}
      {{tag2|safe}}　
    {% endif %}
{% endfor %}
    <div id="more_tag">
{% for tag2 in tag_list %}
    {% if forloop.counter > tag_display_n %}
      {% if forloop.counter <= 100 %}
        {{tag2|safe}}　
      {% endif %}
    {% endif %}
{% endfor %}
      <a href="javascript:show_more_tag();" class="g-button mini">閉じる</a>
    </div>
      <a id="show_more_tag_button" href="javascript:show_more_tag();" class="g-button mini">もっと見る</a>
</div>
{% endif %}

<!-- 広告 -->
{% if is_iphone %}
  {% if not bookmark %}
    {% include "adsense/adsense_wide.html" %}
  {% endif %}
{% else %}
  {% include "adsense/adsense_top.html" %}
{% endif %}
