<!-- 2ページ目以降はコンテンツだけでよい -->

<!-- タグサーチ -->

{% if search %}
  <div style="float:right;margin:4px;">
    {% include "pinterest/search.html" %}
  </div>
{% endif %}

<!-- ポータル -->

{% if page_mode == "index" %}
  <div class="logo">
  {% if is_iphone %}
   <img src="static_files/banner_360.png" width="180px" height="180px" alt="ロゴ"/>
  {% else %}
   <img src="static_files/banner_360b.png" alt="ロゴ"/>
  {% endif %}
   <div id="logo_fotter">
      {% include "pinterest/about.html" %}
   </div>
  </div>
{% endif %}

{% if page_mode == "index" %}
  {% include "pinterest/menulist.html" %}
  <br clear="all"/>
{% endif %}

<!-- タグ一覧 -->
{% if not is_iphone %}
{% if tag_list %}
  {% include "pinterest/recent_tag.html" %}
{% endif %}
{% endif %}

<!-- 広告 -->
{% if not is_iphone %}
  {% if thread_list %}
    {% if not tag_list %}
      {% include "adsense/adsense_top.html" %}
    {% endif %}
  {% endif %}
{% endif %}
