<div class="message hot_bbs">
	<p>{% if is_english %}Event being held{% else %}開催中のイベント{% endif %}</p>
	{% if now_event %}
		<a href="{{host}}?order=event&event_id={{now_event.id}}">{{now_event.title}}</a>（{{now_event.start_date|time_JST_format(1)}}〜{{now_event.end_date|time_JST_format(1)}}）<br/>
		{% for thread in event_thread_list %}
		<a href="{{thread.thread_url}}"</a>
			<img src="{{thread.thumbnail_url}}" width="50px" height="50px" alt="{{thread.title}}"/>
		</a>
		{% endfor %}
	{% else %}
		{% if is_english %}No event exist{% else %}開催中のイベントはありません。{% endif %}
	{% endif %}
</div>
<br clear="all"/>

