{% if not now_event %}

<div class="message hot_bbs">
	<p>{% if is_english %}Event beging held{% else %}開催中のイベント{% endif %}</p>
	{% if not event_list %}
		{% if is_english %}No event exist{% else %}開催中のイベントはありません。{% endif %}<br/>
	{% else %}
		{% for event in event_list %}
			<a href="{{host}}?order=event&event_id={{event.id}}">{{event.title}}</a>（{{event.start_date|time_JST_format(1)}}〜{{event.end_date|time_JST_format(1)}}）<br/>
			{{event.summary}}<br/>
		{% endfor %}
	{% endif %}
</div>
<br clear="all"/>

{% endif %}

{% if not is_english %}

<div class="message hot_bbs">
	<p>イベントへの参加方法</p>
	イラストの投稿時に参加するイベントを設定して下さい。
	イベントへの投稿は期間内のみ行うことができます。
</div>
<br clear="all"/>

{% endif %}

{% if not now_event %}

<div class="message hot_bbs">
	<p>{% if is_english %}Of upcoming events{% else %}開催予定のイベント{% endif %}</p>

	{% if not all_event_list %}
		{% if is_english %}No event exist{% else %}開催予定のイベントはありません。{% endif %}<br/>
	{% else %}
		{% for event in all_event_list %}
			<a href="{{host}}?order=event&event_id={{event.id}}">{{event.title}}</a>（{{event.start_date|time_JST_format(1)}}〜{{event.end_date|time_JST_format(1)}}）<br/>
		{% endfor %}
	{% endif %}
</div>
<br clear="all"/>

<div class="message hot_bbs">
	<p>{% if is_english %}Held events{% else %}開催されたイベント{% endif %}</p>

	{% if not old_event_list %}
		{% if is_english %}No event exist{% else %}開催されたイベントはありません。{% endif %}<br/>
	{% else %}
		{% for event in old_event_list %}
			<a href="{{host}}?order=event&event_id={{event.id}}">{{event.title}}</a>（{{event.start_date|time_JST_format(1)}}〜{{event.end_date|time_JST_format(1)}}）<br/>
		{% endfor %}
	{% endif %}
</div>
<br clear="all"/>
{% endif %}

{% if bookmark %}
	{% include "pinterest/event_create.html" %}
{% endif %}

