
	{% set event_owner = 0 %}
	{% if now_event and (now_event.user_id==bookmark.user_id or is_admin) %}
		{% set event_owner = 1 %}
	{% endif %}

	{% if not now_event or event_owner %}
		<div class="message hot_bbs">

			{% if event_owner %}
			<p>{% if is_english %}Update an event{% else %}イベントの編集{% endif %}</p>
			{% else %}
			<p>{% if is_english %}Add an event{% else %}イベントの追加（β）{% endif %}</p>
			{% if is_english %}Could you add an event?{% else %}イベントを主催してみませんか？{% endif %}<br/><br/>
			{% endif %}

			<form action="{{host}}event_add" enctype="multipart/form-data" method="post" name="event_frm">
				<table>
				{% if not event_owner %}
					<tr><td>{% if is_english %}Event ID{% else %}イベントID{% endif %}</td><td><input name="id" id="event_id" type="text" value=""/>{% if is_iphone %}<br/>{% endif %}{% if not is_english %}（半角英数）{% endif %}</td></tr>
				{% endif %}
				</td></tr>

				<tr><td>{% if is_english %}Title{% else %}タイトル{% endif %}</td><td><input name="title" id="event_title" type="text" value="{% if event_owner %}{{now_event.title}}{% endif %}"/></td></tr>
				<tr><td>{% if is_english %}Start date{% else %}開始日{% endif %}</td><td><input name="start_date" id="event_start_date" type="text" value="{{now_event_start_date}}"/></td></tr>
				<tr><td>{% if is_english %}End date{% else %}終了日{% endif %}</td><td><input name="end_date" id="event_end_date" type="text" value="{{now_event_end_date}}"/>{% if is_iphone %}<br/>{% endif %}{% if is_english %}(Max 2 weeks){% else %}（最大2週間）{% endif %}</td></tr>

				<tr><td>{% if is_english %}Description{% else %}説明{% endif %}</td><td><textarea name="summary" id="event_summary" {% if is_iphone %}cols=28{% else %}cols=40{% endif %} rows=10>{% if event_owner %}{{now_event.summary}}{% endif %}</textarea></td></tr>
				
				</table>

				{% if event_owner %}
					<input name="id" id="event_id" type="hidden" value="{{now_event.id}}"/>
					<input name="mode" id="event_mode" type="hidden" value="edit"/><br/>
				{% else %}
					<input name="mode" id="event_mode" type="hidden" value="add"/><br/>
				{% endif %}
				<input name="author" type="hidden" value="{{bookmark.name}}"/>
				<div class="g-button-group toggle-buttons">
				<a href="javascript:event_frm_validate('{{host}}');" class="g-button">{% if is_english %}Validate{% else %}入力値の確認{% endif %}</a>
				<a href="javascript:document.event_frm.submit();" class="g-button">{% if event_owner %}{% if is_english %}Update{% else %}更新{% endif %}{% else %}{% if is_english %}Regist{% else %}登録{% endif %}{% endif %}</a>
				{% if event_owner %}
					<a href="javascript:confirm_delete_event('{{host}}event_add?mode=del&id={{now_event.id}}',{% if is_english %}True{% else %}false{% endif %});" class="g-button">{% if is_english %}Remove{% else %}削除{% endif %}</a>
				{% endif %}
				</div>
			</form>
		</div>
		<br clear="all"/>
	{% endif %}
