{% if not thread_list %}
	{% if order == "new" %}
		{# disable newsの1ページitemが存在しない対策 #}
		<div class="item" style="display:none;">
		</div>
	{% endif %}
{% endif %}

{% if thread_list %}
{% set at_least_one = 0 %}
{% for thread in thread_list %}
{% if (thread|regulation_check(user)) and (thread.thread_url or edit_mode == 1) %}
{% if not (mute_bbs_list and thread.bbs_key in mute_bbs_list) %}
{% if not (mute_user_list and thread.user_id in mute_user_list) %}
{% set at_least_one = 1 %}

<div class="item {% if not thread.thread_url %}item_deleted{% endif %}">
	{# Image #}
	<div class="deletable">
		{% if thread.image_url %}
			<div class="side-corner-tag">
				<a href="{{thread.thread_url}}">
					<img src="{{thread.thumbnail2_url}}" width="{{thread|thumbnail2_width(is_iphone,is_tablet)}}px" height="{{thread|thumbnail2_height(is_iphone,is_tablet)}}px" alt="{{thread.title}}" class="item_radius_image"/>
				</a>

				{% if page_mode == "index" and not is_iphone %}
					{% if next_page == 2 %}
						{% if loop.index == 1 and order == "new" %}
							<p><span>Newest</span></p>
						{% endif %}
						{% if loop.index <= 3 and (order == "hot" or order == "monthly" or (order =="event" and now_event)) %}
							<p><span>{{loop.index}}</span></p>
						{% endif %}
					{% endif %}
				{% endif %}
			</div>
		{% endif %}

		{% if edit_mode == 1 %}
			{% if tab == "bookmark" %}
				<a href="javascript:confirm_delete('del&thread_key={{thread.key}}','ブックマーク','{{thread.title}}',{% if is_english %}true{%else%}false{% endif %});" class="g-button no-text delete_button">
					<i class="icon-remove"></i>
				</a>
			{% endif %}
		{% endif %}
	</div>

	{# Summary #}
	{% if thread.title != "notitle" or thread.summary or thread.tag %}
	<div class="illust_summary">
		{% if thread.title %}
			{% if thread.title != "notitle" %}
			<a href="{{thread.thread_url}}" class="illust_title">
				<b>{{thread|regulation_name}}{{thread.title}}</b>
				<br/>
			</a>
			{% endif %}
		{% endif %}
		{% if thread.event_id %}
			<a href="{{host}}?order=event&event_id={{thread.event_id}}" class="tag">{{thread.event_id}}</a>
		{% endif %}
		{% if thread.tag %}
			{% for tag in thread.tag %}
				<a href="{{host}}{{search_api}}?tag={{tag}}" class="tag">
					<small>{{tag}}</small>
				</a>
			{% endfor %}
		{% endif %}
		{% if thread.tag or thread.event_id %}
			<br clear="all"/>
		{% endif %}
		{{thread.summary|safe}}
	</div>
	{% endif %}

	{# Info #}
	<div class="item_info">
		{# author #}
		<hr/>
		<div style="float:left;width:100%;">
			<!-- info -->
			<div style="float:right;width:100%;margin-left:-34px;">
				<div class="item_info_author">
				 {%if thread.user_id %}
					<a href="{{host}}mypage?user_id={{thread.user_id}}" style="overflow:hidden;max-width:80%;">
				 {% endif %}
					<small>{{thread.author}}</small>
				 {%if thread.user_id %}
					 </a>
				 {% endif %}
				</div>
				<div class="item_info_bookmark">
					<small>
					{%if thread.bookmark %}
						<a href="{{host}}show_bookmark?thread_key={{thread.key}}">{{thread.bookmark}}{% if is_english %}Bookmark{%else%}ブクマ{% endif %}</a>
					{% endif %}
					</small>
				</div>
				
				<br clear="all"/>
				
				<div class="item_info_date">
				 	{% if thread.create_date_original %}
					<small>
						 {% if is_english %}
						 {{thread.create_date_original|time_UTC_progress}}
						 {% else %}
						 {{thread.create_date_original|time_JST_progress}}
						 {% endif %}
					</small>
					{% endif %}
				</div>
				<div class="item_info_applause">
					{%if thread.applause %}
					<small>
						{{thread.applause}}{% if is_english %}Like{% else %}拍手{% endif %}
					</small>
					{% endif %}
				</div>
			</div>

			<!-- icon -->
			<div style="float:left;margin:4px;width:26px;">
				{%if thread.user_id %}
					<a href="{{host}}mypage?user_id={{thread.user_id}}">
					<img src="{{host}}show_icon?key={{thread.user_id}}&amp;size=mini" width="26px" height="26px" alt="{{thread.user_id}}"/>
					</a>
				{% else %}
					<div style="width:26px;height:26px;">&nbsp;</div>
				{% endif %}
			</div>
		</div>

		{# bbs #}
		{% if thread.bbs_url %}
		<hr/>
		<div class="item_info_bbs">
			<a href="{{thread.bbs_url}}" style="display:block;"><small>{{thread.bbs_title}}</small></a>
		</div>
		{% endif %}

		{# comment #}
		{%if thread.comment %}
		<hr/>
		<div class="item_info_comment">
			<a href="{{thread.thread_url}}" style="display:block;"><small>{{thread.comment}}{% if is_english %} Comment{% else %}件のコメント{% endif %}</small></a>
		</div>
		{% endif %}
	</div>
</div>

{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% if at_least_one == 0 %}
<div class="item" style="display:none;">
</div>
{% endif %}
{% endif %}