{% if not is_iphone and page_mode != "user" %}
  {#{% set target_page = "target='_BLANK'" %}#}
  {% set target_page = "" %}
{% else %}
  {% set target_page = "" %}
{% endif %}

{% if not thread_list %}
  {% if order == "new" %}
    {# disable newsの1ページitemが存在しない対策 #}
    <div class="item" style="display:none;">
    </div>
  {% endif %}
{% endif %}

{% if thread_list %}
{% for thread in thread_list %}
{% if (thread|regulation_check(user))%}
<div class="item {% if not thread.thread_url %}item_deleted{% endif %}">
  {# Image #}
  <div class="deletable">
  {% if thread.image_url %}
        <div class="side-corner-tag">
          <a href="{{thread.thread_url}}" {{target_page}}>
            <img src="{{thread.thumbnail2_url}}" width="{{thread|thumbnail2_width(is_iphone)}}px" height="{{thread|thumbnail2_height(is_iphone)}}px" alt="{{thread.title}}"/>
          </a>

            {% if page_mode == "index" %}
             {% if next_page == 2 %}
              {% if loop.index == 1 %}{% if order == "new" %}
                <p><span>Newest</span></p>
              {% endif %}{% endif %}
              {% if loop.index <= 3 %}{% if order == "hot" %}
                <p><span>{{loop.index}}</span></p>
              {% endif %}{% endif %}
             {% endif %}
            {% endif %}
        </div>
  {% endif %}

        {% if edit_mode == 1 %}
          {% if tab == "bookmark" %}
            <a href="javascript:confirm_delete('del&thread_key={{thread.key}}','ブックマーク','{{thread.title}}',{% if is_english %}true{%else%}false{% endif %});" class="g-button no-text delete_button">
              <i class="icon-remove"></i>
            </a>
          {% endif %}
        {% endif %}
  </div>

  {# Summary #}
  {% if thread.title != "notitle" or thread.summary or thread.tag %}
  <div class="illust_summary">
    {% if thread.title %}
    {% if thread.title != "notitle" %}
      <a href="{{thread.thread_url}}" {{target_page}}>
       <b>{{thread|regulation_name}}{{thread.title}}</b>
      </a>
      <br/>
    {% endif %}
    {% endif %}
    {% if thread.tag %}
      {% for tag in thread.tag %}
        <a href="{{host}}{{search_api}}?tag={{tag}}" class="tag">
          <small>{{tag}}</small>
        </a>
      {% endfor %}
        <br clear="all"/>
    {% endif %}
      {{thread.summary|safe}}
  </div>
  {% endif %}

<div class="item_info">
  {# author #}
{% if thread.author %}
  <hr style="margin:0px;"/>
    <div style="float:left;margin:4px;">
      <div style="float:left;margin-top:0px;margin-bottom:0px;margin-right:4px;">
        {%if thread.user_id %}<a href="{{host}}mypage?user_id={{thread.user_id}}">{% endif %}
        {%if thread.user_id %}
          <img src="{{host}}show_icon?key={{thread.user_id}}&amp;size=mini" width="24px" height="24px" alt="{{thread.user_id}}"/>
        {%endif %}
        {%if thread.user_id %}</a>{% endif %}
      </div>
      <div style="float:left;">
       {%if thread.user_id %}
        <a href="{{host}}mypage?user_id={{thread.user_id}}" style="overflow:hidden;max-width:80%;">
       {% endif %}
        <small>{{thread.author}}</small>
       {%if thread.user_id %}
         </a>
       {% endif %}
       <br/>
       {% if thread.create_date_original %}
          <small>
           {% if is_english %}
           {{thread.create_date_original|time_UTC_progress}}
           {% else %}
           {{thread.create_date_original|time_JST_progress}}
           {% endif %}
          </small>
          <br/> 
       {% endif %}
      </div>
    </div>
    <div style="float:right;margin:4px;">
      <small>
      {%if thread.bookmark %}<a href="{{host}}show_bookmark?thread_key={{thread.key}}">{{thread.bookmark}}{% if is_english %}Bookmark{%else%}ブクマ{% endif %}</a><br/>{% endif %}
      {%if thread.applause %}{{thread.applause}}{% if is_english %}Like{% else %}拍手{% endif %}<br/>{% endif %}
      </small>
    </div>
{% endif %}

    {# bbs #}
  {% if thread.bbs_url %}
    <hr style="margin:0px;clear:both;"/>  
    <div style="text-align:center;padding:4px;">
      <a href="{{thread.bbs_url}}" {{target_page}} style="display:block;"><small>{{thread.bbs_title}}</small></a>
    </div>
  {% endif %}

    {# comment #}
    {%if thread.comment %}
    <hr style="margin:0px;clear:both;"/>
    <div style="text-align:center;padding:4px;">
      <a href="{{thread.thread_url}}" {{target_page}} style="display:block;"><small>{{thread.comment}}{% if is_english %} Comment{% else %}件のコメント{% endif %}</small></a>
    </div>
    {% endif %}
  </div>
</div>
{%endif%}
{% endfor %}
{% endif %}