<div id="order">
  <div class="g-button-group toggle-buttons">
    <a href="{{host}}{{redirect_api}}?order=new" class="g-button {%ifequal order "new"%}checked{%endifequal%}">新着</a>
    <a href="{{host}}{{redirect_api}}?order=hot" class="g-button {%ifequal order "hot"%}checked{%endifequal%}">人気</a>
    <a href="{{host}}{{redirect_api}}?order=bookmark" class="g-button {%ifequal order "bookmark"%}checked{%endifequal%}">{%if is_iphone%}ブクマ{%else%}ブックマーク{%endif%}</a>
    <a href="{{host}}{{redirect_api}}?order=applause" class="g-button {%ifequal order "applause"%}checked{%endifequal%}">拍手</a>
    {% if not is_iphone %}
      <a href="{{host}}{{redirect_api}}?order=moper" class="g-button {%ifequal order "moper"%}checked{%endifequal%}">アニメ</a>
    {% endif %}
  </div>

    {% if not is_iphone %}
  <div class="g-button-group toggle-buttons">
    <a href="{{host}}{{redirect_api}}?order={{order}}&page={{page|add:1}}" class="g-button">+1</a>
    <a href="{{host}}{{redirect_api}}?order={{order}}&page={{page|add:10}}" class="g-button">+10</a>
    <a href="{{host}}{{redirect_api}}?order={{order}}&page={{page|add:100}}" class="g-button">+100</a>
  </div>
    {% endif %}

    {% if not is_iphone %}
      {% include "pinterest/search.html" %}
    {% endif %}

</div>
