<div id="order">
  <div class="g-button-group toggle-buttons">
    <a href="{{host}}{{redirect_api}}?order=new" class="g-button {%ifequal order "new"%}checked{%endifequal%}">新着</a>
    <a href="{{host}}{{redirect_api}}?order=hot" class="g-button {%ifequal order "hot"%}checked{%endifequal%}">人気</a>
    <a href="{{host}}{{redirect_api}}?order=bookmark" class="g-button {%ifequal order "bookmark"%}checked{%endifequal%}">{%if is_iphone%}ブクマ{%else%}ブックマーク{%endif%}</a>
    {% if not is_iphone %}
    <a href="{{host}}{{redirect_api}}?order=applause" class="g-button {%ifequal order "applause"%}checked{%endifequal%}">拍手</a>
      <a href="{{host}}{{redirect_api}}?order=moper" class="g-button {%ifequal order "moper"%}checked{%endifequal%}">アニメ</a>
    {% endif %}
  </div>

<!--
    {% if not is_iphone %}
  <div class="g-button-group toggle-buttons">
    <a href="{{host}}{{redirect_api}}?order=2010" class="g-button {%ifequal order "2010"%}checked{%endifequal%}">2010</a>
    <a href="{{host}}{{redirect_api}}?order=2011" class="g-button {%ifequal order "2011"%}checked{%endifequal%}">2011</a>
    <a href="{{host}}{{redirect_api}}?order=2012" class="g-button {%ifequal order "2012"%}checked{%endifequal%}">2012</a>
  </div>
    {% endif %}
  -->

    {% if is_iphone %}
  <div class="g-button-group toggle-buttons">
    <a href="javascript:show_search();" class="g-button" id="search_button">検索</a>
  </div>
    {% else %}
      {% include "pinterest/search.html" %}
    {% endif %}
</div>

{% if is_iphone %}
  <div id="search">
      {% include "pinterest/search.html" %}
  </div>
{% endif %}
