<!--サークルメニュー-->

<!-- デザイン -->
<style>
	ul{
		margin:0;
		padding:0;
	}

	ul a{
		text-decoration: none;
	}

	li{
		{% if is_iphone %}
			width:60px;
			height:60px;
		{% else %}
			width:100px;
			height:100px;
		{% endif %}
		float:left;
		color:#191919;
		overflow:hidden;
		
	}

	li p{
		{% if not is_iphone %}
			padding:0px 5px;
		{% else %}
			margin:0px;
			margin-left:2px;
		{% endif %}
		text-decoration: none;
	}

	/*Menu Color Classes*/
{% if is_iphone %}
.color1{background:rgb(45,229,198);color:#fff;}
.color2{background:rgb(45,229,225);color:#fff;}
.color3{background:rgb(45,207,229);color:#fff;}
.color4{background:rgb(45,181,229);color:#fff;}
.color5{background:rgb(45,155,229);color:#fff;}
.color6{background:rgb(45,128,229);color:#fff;}
.color7{background:rgb(45,102,229);color:#fff;}
.color8{background:rgb(45,76,229);color:#fff;}
{% else %}
	.color1{background:rgb(191,47,47);color:#fff;}
	.color2{background:rgb(191,155,47);color:#fff;}
	.color3{background:rgb(119,191,47);color:#fff;}
	.color4{background:rgb(47,191,83);color:#fff;}
	.color5{background:rgb(47,191,191);color:#fff;}
	.color6{background:rgb(47,83,191);color:#fff;}
	.color7{background:rgb(119,47,191);color:#fff;}
	.color8{background:rgb(191,47,155);color:#fff;}
{% endif %}
</style>

<!-- メニュー -->
<div style="float:left;margin:5px;{% if is_iphone %}width:120px;{% endif %}">
<ul>
	<a href="{{host}}sample/"><li class="color1"><p>試し描き</p></li></a>
	<a href="{{host}}mypage"><li class="color2"><p>レンタル</p></li></a>
	<a href="{{host}}commu/"><li class="color3"><p>コミュニティ</p></li></a>
	<a href="{{host}}anything/"><li class="color4"><p>何でも投稿</p></li></a>
{% if not is_iphone %}
</ul><br clear="all"><ul>
{% endif %}
	<a href="{{host}}chat"><li class="color5"><p>チャット</p></li></a>
	<a href="{{host}}support/"><li class="color7"><p>サポート</p></li></a>
{% if not is_iphone %}
	<a href="{{host}}?order=guide"><li class="color6"><p>使い方</p></li></a>
	<a href="{{host}}terms"><li class="color8"><p>利用規約</p></li></a>
{% endif %}
	</li>
</ul>
</div>

<!-- スクリプト -->
<script>
	$(document).ready(function(){
		//Remove outline from links
		$("a").click(function(){
			$(this).blur();
		});

		//When mouse rolls over
		$("li").bind("click",function(){
			$(this).stop().animate(
				{% if is_iphone %}
					{width:'120px',height:'120px'},
				{% else %}
					{width:'160px',height:'160px'},
				{% endif %}
				{queue:false, duration:600, easing: 'easeOutBounce'})
		});
		
		//When mouse is removed
		/*
		$("li").mouseout(function(){
			$(this).stop().animate(
				{% if is_iphone %}
					{width:'60px',height:'45px'},
				{% else %}
					{width:'100px',height:'100px'},
				{% endif %}
				{queue:false, duration:600, easing: 'easeOutBounce'})
		});
		*/
	});
</script>
