<!-- ModernStyleMenu -->

<div class="menulist">
	<a class="color1 menu" href="{{host}}sample/">試し描き</a>
	<a class="color2 menu" href="{{host}}mypage">レンタル</a>
	<a class="color3 menu" href="{{host}}commu/">コミュニティ</a>
	<a class="color4 menu" href="{{host}}anything/">何でも投稿</a>
	<a class="color5 menu" href="{{host}}chat">チャット</a>
	<a class="color6 menu" href="{{host}}support/">サポート</a>
{% if not is_iphone %}
	<a class="color7 menu" href="{{host}}?order=guide">使い方</a>
	<a class="color8 menu" href="{{host}}terms">利用規約</a>
{% endif %}
</div>

<script type="text/javascript">
	$(document).ready(function(){
		//Remove outline from links
		$("a").click(function(){
			$(this).blur();
		});

		//When mouse rolls over
		$(".menu").bind("click",function(){
			$(this).stop().animate(
				{% if is_iphone %}
					{width:'120px',height:'120px'},
				{% else %}
					{width:'160px',height:'160px'},
				{% endif %}
				{queue:false, duration:600, easing: 'easeOutBounce'})
		});
		
		//When mouse is removed
		/*
		$(".menu").mouseout(function(){
			$(this).stop().animate(
				{% if is_iphone %}
					{width:'60px',height:'45px'},
				{% else %}
					{width:'100px',height:'100px'},
				{% endif %}
				{queue:false, duration:600, easing: 'easeOutBounce'})
		});
		*/
	});
</script>
