<!-- ModernStyleMenu -->

<div class="menulist">
	<a class="color1 menu" href="{{host}}sample/">{% if is_english %}Trial{%else%}試し描き{% endif %}</a>
	<a class="color2 menu" href="{{host}}mypage">{% if is_english %}Regist{%else%}レンタル{% endif %}</a>
	<a class="color3 menu" href="{{host}}commu/">{% if is_english %}Community{%else%}コミュニティ{% endif %}</a>
	<a class="color4 menu" href="{{host}}anything/">{% if is_english %}Anything{%else%}何でも投稿{% endif %}</a>
	<a class="color5 menu" href="{{host}}chat">{% if is_english %}Chat{%else%}チャット{% endif %}</a>
	<a class="color6 menu" href="{{host}}support/">{% if is_english %}Support{%else%}サポート{% endif %}</a>
{% if not is_iphone %}
	<a class="color7 menu" href="{{host}}guide">{% if is_english %}HowTo{%else%}使い方{% endif %}</a>
	<a class="color8 menu" href="{{host}}terms">{% if is_english %}Terms{%else%}利用規約{% endif %}</a>
{% endif %}
</div>

{#
<script type="text/javascript">
	$(document).ready(function(){
		//Remove outline from links
		$("a").click(function(){
			$(this).blur();
		});

		//When mouse rolls over
		$(".menu").bind("click",function(){
			$(this).stop().animate(
				{% if is_iphone %}
					{width:'120px',height:'120px'},
				{% else %}
					{width:'160px',height:'160px'},
				{% endif %}
				{queue:false, duration:600, easing: 'easeOutBounce'})
		});
		
		//When mouse is removed
		/*
		$(".menu").mouseout(function(){
			$(this).stop().animate(
				{% if is_iphone %}
					{width:'60px',height:'45px'},
				{% else %}
					{width:'100px',height:'100px'},
				{% endif %}
				{queue:false, duration:600, easing: 'easeOutBounce'})
		});
		*/
	});
</script>
#}
