<div id="order">
  <div style="float:left;">
    <div class="g-button-group toggle-buttons">
    <a href="{{host}}{{redirect_api}}?order=new" class="g-button {%if order == "new"%}checked{%endif%}">{% if is_english %}New{%else%}新着{% endif %}</a>
    <a href="{{host}}{{redirect_api}}?order=hot" class="g-button {%if order == "hot"%}checked{%endif%}">{% if is_english %}Hot{%else%}人気{% endif %}</a>
    <a href="{{host}}{{redirect_api}}?order=bookmark" class="g-button {%if order == "bookmark"%}checked{%endif%}">{% if is_english %}Bookmark{%else %}{% if is_iphone %}ブクマ{%else%}ブックマーク{% endif %}{% endif %}</a>
    {% if not is_iphone %}
      <a href="{{host}}{{redirect_api}}?order=moper" class="g-button {%if order == "moper"%}checked{%endif%}">{% if is_english %}Mopper{%else %}モッパー{% endif %}</a>
    {% endif %}
    </div>
  </div>

  <div style="float:right;">
    {% if is_iphone %}
     <div class="g-button-group toggle-buttons">
        <a href="javascript:show_search({% if is_english %}true{% else %}false{% endif %});" class="g-button" id="search_button">
          {% if is_english %}Search{% else %}検索{% endif %}
        </a>
      </div>
    {% else %}
      <div style="float:right;">
        {% include "pinterest/search.html" %}
       </div>
    {% endif %}
  </div>

  <br clear="all"/>
</div>

{% if is_iphone %}
  <div id="search">
      <div style="float:right;">
        {% include "pinterest/search.html" %}
      </div>
      <br clear="all"/>
      {% include "pinterest/recent_tag.html" %}
      <br clear="all"/>
  </div>
{% endif %}
