<style type="text/css">

/* main */
body{
  background:#f2f2f2;
  margin: 0px;
  font-size: 13px;
}

hr {border:0; border-top:1px solid #cccccc;}

h1 {font-size:100%;color:#E47911;}
h2,h3 {font-size:100%;color:#E47911;}

#contents {
    {% if is_iphone %}
      width:320px;
    {% else %}
      {% if not thread_list %}
        width:848px;
      {% endif %}
    {% endif %}
    margin:0 auto;
}

.corner-stamp{
   float:right;
   {% if is_iphone %}
   width: 320px;
   {% else %}
   {% if not bookmark %}
   width: 362px;
   {% endif %}
   padding:1px;
   margin:5px;
   {% endif %}
}

#index{
  margin:auto;
  {% if thread_list %}
  {% if not is_iphone %}
  display:none;
  {% endif %}
  {% endif %}
}

#search{
	display:none;
	margin:5px;
}

#container {
  margin:auto;
  {% if is_iphone %}
   min-width:320px;
  {% else %}
   min-width:848px;
  {% endif %}
  {% if not is_iphone %}
  display:none;
  {% endif %}
}

.guide{
  background-color:#fff;
  padding:5px;
  color:#333;
}

.item {
{% if is_iphone %}
  width:148px;
{% else %}
  width:200px;
{% endif %}
margin: 5px;
float: left;
border: 1px solid #ccc;
background: #fff;
box-shadow: 0 2px 1px #eee;
word-break:break-all;
color: #333;
}

.item b{
  color:#333;
}

.item a{
  text-decoration: none;
  color:#333;
}

.message {
{% ifequal page_mode "index" %}
max-width:495px;
{% else %}
{% endifequal %}
{% if is_iphone %}
width:298px;
{% endif %}
margin: 5px;
padding: 5px;
float: left;
border: 1px solid #ccc;
background: #ffffff;
box-shadow: 0 2px 1px #eee;
}

.message a{
  text-decoration: none;
  color: #333;
}

.logo {
position:relative;
max-width:100%;
{% if is_iphone %}
margin:5px;
{% endif %}
float:left;
{% if is_iphone %}
width: 180px;
height: 180px;
{% else %}
width: 360px;
height: 360px;
{% endif %}
}

{% if is_iphone %}
.menu_list {
  padding-top:4px;
}
{% endif %}

#infscr-loading {
margin-left: -100px;
width: 200px;
position: fixed;
left: 50%;
bottom: 10px;
text-align: center;
}

#logo_fotter {
position:absolute;
right:0px;
bottom:0px;
background-color:#ffffff;
font-size:12px;
}

#logo_fotter a{
text-decoration: none;
color: #333;
}

#pinterest_footer{
  text-align: center;
  font-size:12px;
  background-color:#ffffff;
  {% if not is_iphone %}
  display:none;
  {% endif %}
}

#pinterest_footer a{
  text-decoration: none;
  color: #333;
}

#order{
  margin:5px;
}

#more_tag{
  display:none;
}

/* feed */
.example {
border: 1px solid #CCC;
margin: 5px;
background-color: #ffffff;
padding: 5px;
}

.example a{
text-decoration: none;
color: #333;
}

.example h2{
font-size: 16px;
font-weight: bold;
color: #333;
}

.radius_image{
  margin:1px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.deletable {
  position:relative;
  float:left;
}

.delete_button {
  position:absolute;
  top:0px;
  left:0px;
}

#follower{
{% ifequal edit_mode 2 %}
  display:block;
{% else %}
  display:none;
{% endifequal %}
}

#follower_button{
{% ifequal edit_mode 2 %}
  display:none;
{% else %}
  display:block;
{% endifequal %}
}

#profile{
  display:none;
}

.illust_summary{
  margin:5px;
}

#back-top {
  position: fixed;
  bottom: 10px;
  right: 5px;
  margin-left: -100px;
  background: #fff;
  display:none;
  text-align: center;
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 0 2px 1px #eee;
}

#back-top a {
  width: 100px;
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #333;
  display: block;
}

.loading{
  z-index:2;
  background: #fff;
}

/* portal modern menu */
  .menulist{
    float:left;
    {% if is_iphone %}
      margin:5px;
      width:120px;
    {% endif %}
  }

  .menu{
    text-decoration: none;
    color:#fff;
    display:block;
    padding:2px;
    {% if is_iphone %}
      width:56px;
      height:56px;
    {% else %}
      width:86px;
      height:86px;
    {% endif %}
    float:left;
  }

  .color1{background:rgb(191,47,47);color:#fff;}
  .color2{background:rgb(191,155,47);color:#fff;}
  .color3{background:rgb(119,191,47);color:#fff;}
  .color4{background:rgb(47,191,83);color:#fff;}
  .color5{background:rgb(47,191,191);color:#fff;}
  .color6{background:rgb(47,83,191);color:#fff;}
  .color7{background:rgb(119,47,191);color:#fff;}
  .color8{background:rgb(191,47,155);color:#fff;}

/* guide page */
  .result{
    padding:4px;
    padding-bottom:40px;
  }
</style>
