<style>
img {
  max-width:100%;
}

body{
  background:#f2f2f2;
  margin: 0px;
}

hr {border:0; border-top:1px solid #cccccc;}

#contents {
    {% if is_iphone %}
      width:320px;
    {% else %}
      width:890px;
    {% endif %}
    margin:auto;
}

.item {
{% if is_iphone %}
  max-width:148px;
{% else %}
  max-width:210px;
{% endif %}
margin: 5px;
float: left;
border: 1px solid #ccc;
background: #eee;
box-shadow: 0 2px 1px #eee;
word-break:break-all;
}

.item a{
  text-decoration: none;
  color: #333;
}

.message {
{% ifequal page_mode "index" %}
max-width:495px;
{% else %}
{% endifequal %}
margin: 5px;
padding: 5px;
float: left;
border: 1px solid #ccc;
background: #ffffff;
box-shadow: 0 2px 1px #eee;
}

.message a{
  text-decoration: none;
  color: #333;
}

.logo {
position:relative;
max-width:100%;
margin:5px;
float:left;
{% if is_iphone %}
width: 180px;
height: 180px;
{% else %}
width: 360px;
height: 360px;
{% endif %}
}

{% if is_iphone %}
.menu_list {
  padding-top:4px;
}
{% endif %}

#infscr-loading {
margin-left: -100px;
width: 200px;
position: fixed;
left: 50%;
bottom: 10px;
text-align: center;
}

#logo_fotter {
position:absolute;
right:0px;
bottom:0px;
background-color:#ffffff;
font-size:12px;
}

#logo_fotter a{
text-decoration: none;
color: #333;
}

#pinterest_footer{
  text-align: center;
  font-size:12px;
  background-color:#ffffff;
}

#pinterest_footer a{
  text-decoration: none;
  color: #333;
}

#order{
  margin:5px;
}

#more_tag{
  display:none;
}

/* feed */
.example {
border: 1px solid #CCC;
margin: 5px;
background-color: #ffffff;
padding: 5px;
}

.example a{
text-decoration: none;
color: #333;
}

.example h2{
font-size: 16px;
font-weight: bold;
color: #333;
}

.radius_image{
  margin:1px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.deletable {
  position:relative;
  float:left;
}

.delete_button {
  position:absolute;
  top:0px;
  left:0px;
}

#follower{
  display:none;
}

#follower_button{
  display:block;
}

#profile{
  display:none;
}

</style>
