			<a class="g-button dropdown-toggle menu_button" data-toggle="dropdown" href="#" style="background-image:none;background-color:#ea5376;color:#ffffff;border:none;text-shadow:none;">
				{% for one_month in ranking_month_list %}
					{% if one_month.query == month_query %}
						{{one_month.str}}
					{% endif %}
				{% endfor %}
				<span class="caret"></span>
			</a>

			<ul class="dropdown-menu menu_list">
			{% for one_month in ranking_month_list %}
			<li><a href="{{host}}{{redirect_api}}?order=monthly&amp;query={{one_month.query}}">{{one_month.str}}</a></li>
			{% endfor %}
			</ul>
