<div class="message" {% if not is_iphone %}style="width:350px;margin-left:0px;margin-right:0px;"{%else%}style="width:288px;"{% endif %}>
  <p>{% if is_english %}Hot BBS{% else %}人気の掲示板{% endif %}</p>
{% for bbs in bbs_list %}
  <a href="{{bbs.bbs_url}}" style="color: rgb(37, 143, 184);">
  {{bbs.title}}
  </font></a>
  {#
  {% if bbs.mode != 1 %}
    [誰でも]
  {% endif %}
  #}
  <br/>
{% endfor %}
</div>

<div class="message" {% if not is_iphone %}style="width:350px;margin-left:0px;margin-right:0px;"{%else%}style="width:288px;"{% endif %}>
  <p>{% if is_english %}Hot Tag{% else %}人気のタグ{% endif %}</p>
{% for tag2 in tag_list %}
    {% if loop.index <= tag_display_n %}
      {{tag2|safe}}　
    {% endif %}
{% endfor %}
</div>

