<form method="get" action="./search_tag?" id="search_form">
	<input name="tag" style="-webkit-appearance:none;float:left;{% if is_tablet %}width:100px;margin-top:3px;{% else %}width:200px;margin-top:5px;{% endif %}margin-right:2px;border:1px solid #dcdcdc;" value="{% if search and search!="empty" %}{{search}}{% endif %}"/>
	<a href="javascript:document.getElementById('search_form').submit();" class="order-button" style="width:60px;">
		{% if is_english %}Search{% else %}検索{% endif %}
	</a>
</form>
