<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">

<!----------------------------------------------------------------
ニコニコトラッカー
------------------------------------------------------------------>

<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% if rec %}
	<TITLE>ニコニコトラッカー - {{rec.title|separate_nico|safe}}の推移</TITLE>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	 <script type="text/javascript">
		google.load("visualization", "1", {packages:["corechart"]});
		google.setOnLoadCallback(drawChart);
		function drawChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Date');
			data.addColumn('number', 'Cnt');
			{{play_cnt_graph|safe}}
			var chart = new google.visualization.LineChart(document.getElementById('play_cnt_graph'));
			chart.draw(data, {width: '95%', height: 300, title: '再生数'});//, vAxis: {minValue: 0}});

			data = new google.visualization.DataTable();
			data.addColumn('string', 'Date');
			data.addColumn('number', 'Cnt');
			{{comment_cnt_graph|safe}}
			var chart = new google.visualization.LineChart(document.getElementById('comment_cnt_graph'));
			chart.draw(data, {width: '95%', height: 300, title: 'コメント数'});//, vAxis: {minValue: 0}});
		}
	 </script>
{% else %}
<TITLE>ニコニコトラッカー</TITLE>
{% endif %}

<STYLE>
	.cmd_link{
		text-decoration:none;
		color: #000000;
		font-size: 95%;
	}
	
	.delete_button{
		float:left;
		background-color: #f39800;
		width:20px;
		height:20px;
		font-size: 60%;
		color: #ffffff;
		padding:1px;
		margin:1px;
		margin-right:4px;
	}
	
	img {
	border:none;
	}
</STYLE>

<script>
	function click_delete(id,url){
		if(confirm("ブックマークから削除してもよろしいですか？")){
			window.location.href="nico_tracker?del_bookmark=1&id="+id+"&url="+url;
		}
	}
</script>

</HEAD>
<BODY>

<!----------------------------------------------------------------
タイトル
------------------------------------------------------------------>

<div style="width:800px;margin-left:auto;margin-right:auto;">

{% if rec %}
<a href="nico_tracker"><img src="static_files/nicotra/banar.jpg" style="width:100%"></a>
{% else %}
<a href="nico_tracker"><img src="static_files/nicotra/top.jpg" style="width:100%"></a>

ニコニコトラッカーは、ニコニコ動画の再生数とコメント数を毎日自動的に記録して、再生数とコメント数の推移をグラフ化するクリエイター支援ツールです。現在{{rec_cnt}}件の動画をトラッキングしており、{{book_cnt}}人のユーザがブックマーク機能を利用しています。<BR>

<BR>
<div style="background-color:#312bba;width:790px;padding:5px;color:#ffffff;">
<form action="./nico_tracker">
動画のURLを入力
<input type="text" name="url" style="width:400px">
<input type="submit" value="推移を表示">
</form>
<div align="right"><small>Example：http://www.nicovideo.jp/watch/sm16685464</small></div>
</div>

{% endif %}

{% if url and not rec %}
	{% ifequal url "update_all" %}
		<H4>ステータス</H4>
		定期更新が完了
	{% else %}
		<H4>エラー</H4>
		{{url}}の取得に失敗
	{% endifequal %}
{% endif %}

<!----------------------------------------------------------------
推移情報
------------------------------------------------------------------>

{% if rec %}
<H4>{{rec.title|separate_nico}}</H4>

<div style="width:500px;float:left">

<center>
<script type="text/javascript" src="http://ext.nicovideo.jp/thumb_watch/{{rec.id|safe}}?w=490&h=307"></script><noscript><a href="http://www.nicovideo.jp/watch/{{rec.id|safe}}">{{rec.title}}</a></noscript>
</center>

{% if user %}
	<A HREF="nico_tracker?add_bookmark=1&id={{rec.id}}&title={{rec.title}}&url=" class="cmd_link"><img src="static_files/nicotra/book.gif">ブックマーク</A>｜
{% else %}
	ログインするとブックマーク機能を使用することができます。<BR>
{% endif %}
<A HREF="http://{{host}}/nico_tracker" class="cmd_link"><img src="static_files/nicotra/top.gif">トップページ</A>｜
<A HREF="http://www.illustbook.net/support/" class="cmd_link"><img src="static_files/nicotra/support.gif">サポート</A>｜
{% if user %}
<A HREF="{{url_log}}" class="cmd_link"><img src="static_files/nicotra/out.gif">ログアウト</A>
{% else %}
<A HREF="{{url_log}}" class="cmd_link"><img src="static_files/nicotra/in.gif">ログイン</A>
{% endif %}
</div>

<div style="width:300px;float:left;background-color:#8ec1da;">

<center>
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'search',
  search: '{{rec.id|safe}}',
  interval: 30000,
  title: 'twitter search',
  subject: '関連ツイート',
  width: 300,
  height: 240,
  theme: {
    shell: {
      background: '#312bba',
      color: '#ffffff'
    },
    tweets: {
      background: '#ffffff',
      color: '#444444',
      links: '#1985b5'
    }
  },
  features: {
    scrollbar: true,
    loop: false,
    live: false,
    behavior: 'default'
  }
}).render().start();
</script>
</center>

</div>

<br clear="all">

<H4>再生数とコメント数の推移　<a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-hashtags="nico_tracker">ツイート</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</H4>

<div id="play_cnt_graph"></div>
<div id="comment_cnt_graph"></div>

<BR>

<CENTER>
<TABLE style="width:80%;border-width:2px;border-style:groove;border-color:#ffffff;">
<TR><TD>日付</TD><TD>再生数</TD><TD>コメント数</TD></TR>
{{list_tbl|safe}}
</TABLE>
(*)推移は一日単位で自動的に記録されます
</CENTER>

<H4>スポンサーリンク</H4>

<CENTER>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-8699119390634135";
/* nico_tracker_mini */
google_ad_slot = "5007664170";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

</CENTER>

{%endif%}

<!----------------------------------------------------------------
ポータル
------------------------------------------------------------------>

<BR>

{% if not rec %}

<div style="width:590px;float:left">

<H4>マイブックマーク</H4>

{% if user %}
	{% if not bookmark_list %}
		ブックマークはまだありません。<BR>
	{% else %}
		{% for bookmark in bookmark_list %}
			{{bookmark|safe}}<BR>
		{% endfor %}
	{% endif %}
	<div align="right">
		<A HREF="{{url_log}}" class="cmd_link"><img src="static_files/nicotra/out.gif">ログアウト</A>
	</div>
{% else %}
	Googleアカウントでログインするとブックマーク機能を使用することができます。<BR>
	<div align="right">
		<A HREF="{{url_log}}" class="cmd_link"><img src="static_files/nicotra/in.gif">ログイン</A>
	</div>
{% endif %}

<H4>人気の動画</H4>
{% for one in rec_list %}
	<A HREF="./nico_tracker?url=http://www.nicovideo.jp/watch/{{one.id|safe}}">{{one.title|separate_nico}}</A>　{{one.play_cnt_now}}[play]<BR>
{% endfor %}

<BR>

<H4>スポンサーリンク</H4>

<CENTER>

<script type="text/javascript"><!--
google_ad_client = "ca-pub-8699119390634135";
/* nico_tracker_mini */
google_ad_slot = "5007664170";
google_ad_width = 468;
google_ad_height = 60;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

</CENTER>

</div>

<div style="width:10px;float:left">
　
</div>

<div style="width:190px;float:left;background-color:#312bba;padding:5px;color:#ffffff;">
<A HREF="http://www.illustbook.net/"><IMG SRC="http://www.illustbook.net/static_files/banar_180.png"></A><BR>
<A HREF="http://www.illustbook.net/moper/"><IMG SRC="http://www.illustbook.net/static_files/community/button_ilb3_on.jpg" width=180px height=180px></A>
<BR>
こちらのクリエイター支援サービスもどうぞ。イラストブックは{{bbs_n}}人のユーザにご利用頂いています。

</div>

<br clear="all">
<BR>

{% endif %}

</div>


<!----------------------------------------------------------------
フッター
------------------------------------------------------------------>

<div style="width:800px;margin-left:auto;margin-right:auto;font-size:90%;" align="center">
	&copy 2011-2012 <A HREF="http://www.illustbook.net/"><FONT COLOR=#000000>イラストブック</FONT></A> all rights reserved.　イラスト：<A HREF="http://pochigoya0423.blog.shinobi.jp/"><FONT COLOR=#000000>飯田のぎ</FONT></A>
</div>

</BODY>
</HTML>
