	<p>{% if is_english %}BBS detail setting{% else %}ボードの詳細情報を設定します。{% endif %}</p>

	<input name="enable_full_flat" type="hidden" value="1"/>

<div class="example">
	<p>{% if is_english %}Illust list{% else %}イラスト一覧{% endif %}</p>
			<TABLE BORDER=0 class="g-table">

			<TR><TH>{% if is_english %}Number of illust to show{% else %}表示イラスト数(デフォルト5、最大10){% endif %}</TH><TD><input type="text" name="page_illust_n" maxlength="2" value="{{bbs.page_illust_n}}"></TD></TR>			

			<TR><TH>{% if is_english %}Order{% else %}デフォルト表示順（初期設定は新着順）{% endif %}</TH><TD>
			<select name="order">	
				<option value="1" {% if bbs.default_order == 1 %}selected="selected"{% endif %}>{% if is_english %}New{% else %}新着順{% endif %}</option>
				<option value="2" {% if bbs.default_order == 2 %}selected="selected"{% endif %}>{% if is_english %}Update{% else %}更新順{% endif %}</option>
			</select>
			</TD></TR>
			
			<TR><TH>{% if is_english %}Show illust{% else %}イラスト一覧に画像を表示{% endif %}</TH><TD>
			<select name="disable_content_image">
				<option value="0" {% if not bbs.disable_content_image %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}有効{% endif %}</option>
				<option value="1" {% if bbs.disable_content_image %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}無効{% endif %}</option>
			</select></TD></TR>

			<TR><TH>{% if is_english %}Show comment{% else %}イラスト一覧にコメントを表示{% endif %}</TH><TD>
			<select name="enable_full_comment">
				<option value="1" {% if bbs.enable_full_comment == 1 %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}有効{% endif %}</option>
				<option value="0" {% if not bbs.enable_full_comment %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}無効{% endif %}</option>
			</select></TD></TR>

			<TR><TH>{% if is_english %}Show only movie{% else %}イラスト一覧に動画のみを表示{% endif %}</TH><TD>
			<select name="show_only_movie">
				<option value="0" {% if not bbs.show_only_movie %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}無効{% endif %}</option>
				<option value="1" {% if bbs.show_only_movie %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}有効{% endif %}</option>
			</select></TD></TR>

			</TABLE>
</div>

<div class="example">
	<p>{% if is_english %}Illust information{% else %}イラスト詳細{% endif %}</p>
		<TABLE BORDER=0 class="g-table">
			<TR><TH>{% if is_english %}Show title{% else %}タイトルの表示{% endif %}</TH><TD>
			<select name="disable_title">				
			<option value="0" {%if not bbs.disable_title %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}表示する{% endif %}</option>
			<option value="1" {%if bbs.disable_title %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}表示しない{% endif %}</option>
			</select>
			</TD></TR>

			<TR><TH>{% if is_english %}Show Like button{% else %}拍手の表示{% endif %}</TH><TD>
			<select name="disable_applause">			
			<option value="0"{%if not bbs.disable_applause %} selected="selected"{% endif %}>{% if is_english %}Enable{% else %}表示する{% endif %}</option>
			<option value="1"{%if bbs.disable_applause %} selected="selected"{% endif %}>{% if is_english %}Disable{% else %}表示しない{% endif %}</option>
			</select>
			</TD></TR>

			<TR><TH>{% if is_english %}Show name{% else %}投稿者名の表示{% endif %}</TH><TD>
			<select name="disable_author">				
			<option value="0" {%if not bbs.disable_author %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}表示する{% endif %}</option>
			<option value="1" {%if bbs.disable_author %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}表示しない{% endif %}</option>
			</select>
			</TD></TR>

			<TR><TH>{% if is_english %}Date format{% else %}日付表記{% endif %}</TH><TD>
			<select name="date_format">	
			<option value="0" {% if not bbs.date_format  %}selected="selected"{% endif %}>{% if is_english %}Format1{% else %}年月日時分{% endif %}</option>
			<option value="1" {% if bbs.date_format == 1 %}selected="selected"{% endif %}>{% if is_english %}Format2{% else %}年月日時{% endif %}</option>
			<option value="2" {% if bbs.date_format == 2 %}selected="selected"{% endif %}>{% if is_english %}Format3{% else %}年月日{% endif %}</option>
			<option value="-1" {% if bbs.date_format == -1 %}selected="selected"{% endif %}>{% if is_english %}Hide{% else %}表示しない{% endif %}</option>
			</select>
			</TD></TR>

			<TR><TH>{% if is_english %}Show Tag{% else %}タグの表示{% endif %}</TH><TD>
			<select name="disable_tag">				
			<option value="0" {%if not bbs.disable_tag %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}表示する{% endif %}</option>
			<option value="1" {%if bbs.disable_tag %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}表示しない{% endif %}</option>
			</select>
			</TD></TR>
		</TABLE>
</div>

<div class="example">
	<p>{% if is_english %}Comment{% else %}コメント{% endif %}</p>
			<TABLE BORDER=0 class="g-table">

			<TR><TH>{% if is_english %}Show comment{% else %}コメント{% endif %}</TH><TD>
			<select name="disable_comment">
				<option value="1" {% if bbs.disable_comment == 1 %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}表示しない{% endif %}</option>
				<option value="0" {% if not bbs.disable_comment %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}表示する{% endif %}</option>
			</select></TD></TR>

			<TR><TH>{% if is_english %}Number of comment to show{% else %}表示コメント数(デフォルト10、最大50){% endif %}</TH><TD><input type="text" name="page_comment_n" maxlength="2" value="{{bbs.page_comment_n}}"></TD></TR>		

			<TR><TH>{% if is_english %}Order{% else %}デフォルト表示順（初期設定は更新順）{% endif %}</TH><TD>
			<select name="comment_order">	
			<option value="2" {% if bbs.default_comment_order == 2 %}selected="selected"{% endif %}>{% if is_english %}Update{% else %}更新順{% endif %}</option>
			<option value="1" {% if bbs.default_comment_order == 1 %}selected="selected"{% endif %}>{% if is_english %}New{% else %}新着順{% endif %}</option>
			</select>
			</TD></TR>

			<TR><TH>{% if is_english %}Write permission{% else %}コメント権限{% endif %}</TH><TD>
			<select name="comment_login_require">	
				<option value="0" {% if not bbs.comment_login_require %}selected="selected"{% endif %}>{% if is_english %}Everybody{% else %}誰でもコメント可能{% endif %}</option>
				<option value="1" {% if bbs.comment_login_require == 1 %}selected="selected"{% endif %}>{% if is_english %}Only Owner{% else %}管理人のみコメント可能{% endif %}</option>
			</select></TD></TR>

			<TR><TH>{% if is_english %}Write comment{% else %}文字でコメント{% endif %}</TH><TD>
			<select name="disable_normal_reply">
				<option value="1" {% if bbs.disable_normal_reply == 1 %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}無効{% endif %}</option>
				<option value="0" {% if not bbs.disable_normal_reply %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}有効{% endif %}</option>
			</select></TD></TR>

			<TR><TH>{% if is_english %}Draw comment{% else %}絵でコメント{% endif %}</TH><TD>
			<select name="enable_illust_reply">
				<option value="2" {% if bbs.enable_illust_reply == 2 %}selected="selected"{% endif %}>{% if is_english %}Only Owner Enable{% else %}管理人のみ有効{% endif %}</option>
				<option value="1" {% if bbs.enable_illust_reply == 1 %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}有効{% endif %}</option>
				<option value="0" {% if not bbs.enable_illust_reply %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}無効{% endif %}</option>
			</select></TD></TR>

			<TR><TH>{% if is_english %}Draw continue comment{% else %}絵で続きからコメント{% endif %}</TH><TD>
			<select name="enable_illust_reply_continue">
				<option value="1" {% if bbs.enable_illust_reply_continue == 1 %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}有効{% endif %}</option>
				<option value="0" {% if not bbs.enable_illust_reply_continue == 1 %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}無効{% endif %}</option>
			</select></TD></TR>

			<TR><TH>{% if is_english %}Show comment rule{% else %}コメントルールの表示{% endif %}</TH><TD>
			<select name="comment_rule_enable">
				<option value="0" {% if not bbs.comment_rule_enable %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}無効{% endif %}</option>
				<option value="1" {% if bbs.comment_rule_enable == 1 %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}有効{% endif %}</option>
			</select></TD></TR>

			<TR><TH>{% if is_english %}Comment rule{% else %}コメントルール{% endif %}</TH><TD><textarea name="comment_rule"	rows="8" cols="40" style="width:95%;">{{bbs.comment_rule}}</textarea></TD></TR>			

			<TR><TH>{% if is_english %}Show user ID{% else %}投稿者のIDの表示{% endif %}</TH><TD>
			<select name="show_remote_addr_id">
				<option value="1" {% if bbs.show_remote_addr_id == 1 %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}表示する{% endif %}</option>
				<option value="0" {% if not bbs.show_remote_addr_id %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}表示しない{% endif %}</option>
			</select></TD></TR>

			<TR><TH>{% if is_english %}Show hide button{% else %}コメント非表示ボタン{% endif %}</TH><TD>
			<select name="comment_hidden_button">
				<option value="0" {% if not bbs.comment_hidden_button %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}使用しない{% endif %}</option>
				<option value="1" {% if bbs.comment_hidden_button == 1 %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}使用する{% endif %}</option>
			</select></TD></TR>						
	 </TABLE>
</div>

<div class="example">
	<p>{% if is_english %}Draw tool{% else %}お絵かき{% endif %}</p>
			<TABLE BORDER=0 class="g-table">
			<TR><TH>{% if is_english %}Draw illust{% else %}イラストを描く{% endif %}</TH><TD>
			<select name="disable_create_new_illust">
				<option value="0" {% if not bbs.disable_create_new_illust %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}有効{% endif %}</option>
				<option value="1" {% if bbs.disable_create_new_illust == 1 %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}無効{% endif %}</option>
			</select></TD></TR>

			<TR><TH>{% if is_english %}Draw movie{% else %}動画を描く{% endif %}</TH><TD>
			<select name="enable_moper">
				<option value="1" {% if bbs.enable_moper == 1 %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}有効{% endif %}</option>
				<option value="0" {% if not bbs.enable_moper %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}無効{% endif %}</option>
			</select></TD></TR>

			<TR><TH>{% if is_english %}Canvas width{% else %}初期キャンバス幅（デフォルト0){% endif %}</TH><TD><input type="text" name="default_canvas_width" value="{{bbs.default_canvas_width}}" maxlength="4"></TD></TR>
			<TR><TH>{% if is_english %}Canvas height{% else %}初期キャンバス高さ（デフォルト0){% endif %}</TH><TD><input type="text" name="default_canvas_height" value="{{bbs.default_canvas_height}}" maxlength="4"></TD></TR>

			<TR><TH>{% if is_english %}Comment width{% else %}絵でコメントのキャンバス幅（デフォルト400){% endif %}</TH><TD><input type="text" name="illust_reply_width" value="{{bbs.illust_reply_width}}" maxlength="4"></TD></TR>
			<TR><TH>{% if is_english %}Comment height{% else %}絵でコメントのキャンバス高さ（デフォルト200){% endif %}</TH><TD><input type="text" name="illust_reply_height" value="{{bbs.illust_reply_height}}" maxlength="4"></TD></TR>

			<TR><TH>{% if is_english %}Background color{% else %}お絵かきツールの背景色（デフォルトd8d8d8、Noneでデフォルト設定){% endif %}</TH><TD><input type="text" name="tool_bg_color" value="{{bbs.tool_bg_color}}" maxlength="6"></TD></TR>

			<TR><TH>{% if is_english %}Show draw time{% else %}描画時間表示{% endif %}</TH><TD>
			<select name="disable_draw_time">
				<option value="1" {% if bbs.disable_draw_time == 1 %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}無効{% endif %}</option>
				<option value="0" {% if not bbs.disable_draw_time %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}有効{% endif %}</option>
			</select>
			</TD></TR>

			<TR><TH>{% if is_english %}Continue draw{% else %}続きから描く{% endif %}</TH><TD>
			<select name="enable_continue_draw">
				<option value="1" {% if bbs.enable_continue_draw == 1 %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}有効{% endif %}</option>
				<option value="0" {% if not bbs.enable_continue_draw %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}無効{% endif %}</option>
			</select></TD></TR>

			<TR><TH>{% if is_english %}Delete temp data when submit{% else %}投稿に成功したら一時保存データを削除{% endif %}</TH><TD>
			<select name="delete_when_upload_success">
				<option value="0" {% if not bbs.delete_when_upload_success %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}無効{% endif %}</option>
				<option value="1" {% if bbs.delete_when_upload_success == 1 %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}有効{% endif %}</option>
			</select>
			</TD></TR>

			<TR><TH>{% if is_english %}Image import{% else %}画像のインポート{% endif %}</TH><TD>
			<select name="disable_import_image">
				<option value="0" {% if not bbs.disable_import_image %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}有効{% endif %}</option>
				<option value="1" {% if bbs.disable_import_image == 1 %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}無効{% endif %}</option>
			</select>
			</TD></TR>
			
	 </TABLE>
</div>
 
<div class="example">
	<p>{% if is_english %}Sidebar{% else %}サイドバー{% endif %}</p>
			<TABLE BORDER=0 class="g-table">
			<TR><TH>{% if is_english %}Show sidebar{% else %}サイドバーの表示{% endif %}</TH><TD>
			<select name="in_frame_mode">
				<option value="1" {% if bbs.in_frame_mode == 1 %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}表示しない{% endif %}</option>
				<option value="0" {% if not bbs.in_frame_mode %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}表示する{% endif %}</option>
			</select></TD></TR>

			<TR><TH>{% if is_english %}Freearea title{% else %}サイドバーフリーエリアタイトル{% endif %}</TH><TD><input type="text" name="freearea_title" value="{{bbs.freearea_title}}"></TD></TR>
			<TR><TH>{% if is_english %}Freearea message{% else %}サイドバーフリーエリア{% endif %}</TH><TD><textarea name="freearea"	rows="8" cols="40" style="width:95%;">{{bbs.freearea}}</textarea></TD></TR>

			<TR><TH>{% if is_english %}Freearea2 title{% else %}アフィリエイトタイトル{% endif %}</TH><TD><input type="text" name="amazon_title" value="{{bbs.amazon_title}}"></TD></TR>
			<TR><TH>{% if is_english %}Freearea2 message{% else %}アフィリエイトタグ{% endif %}</TH><TD><textarea name="amazon"	rows="8" cols="40" style="width:95%;">{{bbs.amazon}}</textarea></TD></TR>

			<TR><TH>{% if is_english %}Number of new illust to show{% else %}新着イラストの表示数（デフォルト8、-1で非表示){% endif %}</TH>
			<TD><input type="text" name="recent_thread_n" value="{{bbs.recent_thread_n}}" maxlength="4"></TD></TR>

			<TR><TH>{% if is_english %}Number of new comment to show{% else %}新着コメントの表示数（デフォルト8、-1で非表示){% endif %}</TH>
			<TD><input type="text" name="recent_comment_n" value="{{bbs.recent_comment_n}}" maxlength="4"></TD></TR>

			<TR><TH>{% if is_english %}Homepage URL{% else %}ホームページアドレス{% endif %}</TH><TD><input type="text" name="my_homepage" value="{{bbs.my_homepage}}" style="width:95%"></TD></TR>
	 </TABLE>
</div>

<div class="example">
	<p>{% if is_english %}Script{% else %}スクリプト{% endif %}</p>
	<TABLE BORDER=0 class="g-table">
			<TR><TH>{% if is_english %}between HEAD to /HEAD{% else %}HEAD〜/HEADに記述するスクリプト{% endif %}</TH><TD><textarea name="script_head" rows="8" cols="40" style="width:95%;">{% if bbs.script_head %}{{bbs.script_head}}{% endif %}</textarea></TD></TR>
	 </TABLE>
</div>

<div class="example">
	<p>{% if is_english %}Counter{% else %}カウンター{% endif %}</p>
			<TABLE BORDER=0 class="g-table">
			<TR><TH>{% if is_english %}Show counter{% else %}カウンター表示{% endif %}</TH><TD>
			<select name="disable_counter">
				<option value="1" {% if bbs.disable_counter == 1 %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}無効{% endif %}</option>
				<option value="0" {% if not bbs.disable_counter %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}有効{% endif %}</option>
			</select></TD></TR>
			
			 <TR><TH>{% if is_english %}Counter add rule{% else %}管理人のアクセスでカウンターを加算するか{% endif %}</TH><TD>
			<select name="dont_count_owner">
				<option value="1" {% if bbs.dont_count_owner == 1 %}selected="selected"{% endif %}>{% if is_english %}Without owner{% else %}加算しない{% endif %}</option>
				<option value="0" {% if not bbs.dont_count_owner %}selected="selected"{% endif %}>{% if is_english %}Everybody{% else %}加算する{% endif %}</option>
			</select></TD></TR>
			
			<TR><TH>{% if is_english %}Access analyze{% else %}アクセス解析を使用するか{% endif %}</TH><TD>
			<select name="disable_analyze">
				<option value="1" {% if bbs.disable_analyze == 1 %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}使用しない{% endif %}</option>
				<option value="0" {% if not bbs.disable_analyze %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}使用する{% endif %}</option>
			</select></TD></TR>
	 </TABLE>
</div>

<div class="example">
	<p>Twitter</p>
	<TABLE BORDER=0 class="g-table">

		<TR><TH>{% if is_english %}Show tweet button{% else %}Tweetボタン{% endif %}</TH><TD>
		<select name="tweet_disable">
			<option value="0" {% if not bbs.tweet_disable %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}表示{% endif %}</option>
			<option value="1" {% if bbs.tweet_disable == 1 %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}非表示{% endif %}</option>
		</select>
		</TD></TR>

		<TR><TH>{% if is_english %}Show timeline{% else %}Twitterへのリンク{% endif %}</TH><TD>
		<select name="twitter_enable">
			<option value="0" {% if not bbs.twitter_enable %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}非表示{% endif %}</option>
			<option value="1" {% if bbs.twitter_enable == 1 %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}表示{% endif %}</option>
		</select>
		</TD></TR>			
	
		<TR><TH>TwitterID</TH><TD><input type="text" name="twitter_id" value="{{bbs.twitter_id}}" maxlength="128"></TD></TR>

	</TABLE>
	<input type="hidden" name="twitter_height" value="{{bbs.twitter_height}}" maxlength="6"/>
</div>

<div class="example">
	<p>{% if is_english %}Category{% else %}カテゴリ{% endif %}</p>

	<table border=0 class="g-table">
	<tr><th>{% if is_english %}Category Sort{% else %}カテゴリのソート{% endif %}</th><td>
	<select name="disable_category_sort">
		<option value="0" {% if not bbs.disable_category_sort %}selected="selected"{% endif %}>{% if is_english %}Enable{% else %}行う{% endif %}</option>
		<option value="1" {% if bbs.disable_category_sort == 1 %}selected="selected"{% endif %}>{% if is_english %}Disable{% else %}行わない{% endif %}</option>
	</select>
	</td></tr>
	</table>
</div>

<div class="example">
	<p>{% if is_english %}Category List{% else %}カテゴリリスト(カンマ区切り){% endif %}</p>
	<textarea name="category_list" id="category_list" rows="8" cols="40" style="width:80%;">{%if bbs.category_list %}{{bbs.category_list}}{%endif%}</textarea>
	<table><tr><td>
	<input type="text" id="category_add" value="">
	</td><td>
	<input type="button" value="{% if is_english %}Add{% else %}追加{% endif %}" class="g-button" onclick="document.getElementById('category_list').value+=','+document.getElementById('category_add').value" style="font-size:85%">
	</td></tr></table>
</div>

<div class="example">
	<p>{% if is_english %}Deny Host List (Example:ap.yournet.ne.jp){% else %}ホスト規制リスト(カンマ区切り)(ap.yournet.ne.jpなど){% endif %}</p>
	<textarea name="deny_host_list" id="deny_host_list" rows="8" cols="40" style="width:80%;">{%if bbs.deny_host_list %}{{bbs.deny_host_list}}{%endif%}</textarea>
	<table><tr><td>
	<input type="text" id="deny_add" value="">
	</td><td>
	<input type="button" value="{% if is_english %}Add{% else %}追加{% endif %}" class="g-button" onclick="document.getElementById('deny_host_list').value+=','+document.getElementById('deny_add').value" style="font-size:85%">
	</td></tr></table>
</div>
