<script language="javascript">
	function check_id(){
		var id=document.getElementById("check_short").value;
		window.open("{{host}}check_id?id="+id);
	}
	
	function clear_top_tab(){
		document.getElementById('all').style.display="none";
		document.getElementById('detail').style.display="none";
		document.getElementById('custom').style.display="none";
		document.getElementById('submit_button').style.display="none";
		
		document.getElementById("top_tab_all").className="g-button";
		document.getElementById("top_tab_detail").className="g-button";
		document.getElementById("top_tab_custom").className="g-button";

		{% if not is_english %}
			document.getElementById("top_tab_css_design").className="g-button";
			document.getElementById('css_design').style.display="none";
		{% endif %}

		{% if not is_iphone %}
			document.getElementById('account').style.display="none";
			document.getElementById("top_tab_account").className="g-button";
		{% endif %}
	}

	var excolor_initialize=false;
	
	function click_top_tab(id){
		clear_top_tab();
		if(id=="custom"){
			if(!excolor_initialize){
				//これを呼び出すと改行が使えなくなるため実行を遅延する
				$('.color_select').modcoder_excolor();
				excolor_initialize=true;
			}
		}
		document.getElementById(id).style.display="block";
		if(id!="css_design"){
			document.getElementById('submit_button').style.display="block";
		}
		document.getElementById("top_tab_"+id).className="g-button checked";
	}
	
	function init_tab(){
		//click_top_tab("{{tab}}");
	}
	
</script>
</head>

{% if error_str %}
	<div class="example">
		<p>{% if is_english %}Invalid string{% else %}フォームの内容にエラーがあります。{% endif %}：{{error_str}}</p>
	</div>
{% endif %}

<div class="profile_box">
	<div class="entry">
		<H1><p>{% if is_english %}Edit {% endif %}{{bbs.bbs_name}}{% if not is_english %}の編集{% endif %}</p></H1>
	</div>
</div>

<div class="left_box">
	<div class="g-button-group toggle-buttons">
	<a href="javascript:click_top_tab('all');" id="top_tab_all" class="g-button checked">{% if is_english %}Basic{% else %}基本{% if not is_iphone %}設定{% endif %}{% endif %}</a>
	<a href="javascript:click_top_tab('detail');" id="top_tab_detail" class="g-button">{% if is_english %}Detail{% else %}詳細{% if not is_iphone %}設定{% endif %}{% endif %}</a>
	<a href="javascript:click_top_tab('custom');" id="top_tab_custom" class="g-button">{% if is_english %}Design (Custom){% else %}{% if not is_iphone %}デザイン(フォーム){% else %}フォーム{% endif %}{% endif %}</a>
	{% if not is_english %}
		<a href="javascript:click_top_tab('css_design');" id="top_tab_css_design" class="g-button">{% if is_english %}Design (CSS){% else %}{% if not is_iphone %}デザイン(CSS){% else %}CSS{% endif %}{% endif %}</a>
	{% endif %}
	{% if not is_iphone %}
		<a href="javascript:click_top_tab('account');" id="top_tab_account" class="g-button">{% if is_english %}Account{% else %}アカウント{% endif %}</a>
	{% endif %}
	</div>

	<p>&nbsp;</p>
	
	<form action="./update_bbs?bbs_key={{bbs.key()}}" enctype="multipart/form-data" method="post" id="update_bbs_form">
			<!-- 基本設定 -->
			<div class="entry" id="all">{# style="display:none;"> #}
				{% include "edit_bbs/edit_basic.html" %}
			</div>

			<!-- 詳細設定 -->
			<div class="entry" id="detail" style="display:none;">
				{% include "edit_bbs/edit_detail.html" %}
			</div>

			<!-- カスタム設定 -->
			<div class="entry" id="custom" style="display:none;">
				{% include "edit_bbs/edit_design.html" %}
			</div>

			<!-- アカウント設定 -->
			<div class="entry" id="account" style="display:none;">
				{% include "edit_bbs/edit_account.html" %}
			</div>
	</form>
		
	<!-- CSS設定 -->
	<div class="entry" id="css_design" style="display:none;">
		{% include "edit_bbs/edit_css.html" %}
	</div>

	<div id="submit_button">
		<div class="g-button-group">
			<input type="button" value="{% if is_english %}Update{% else %}変更を保存する{% endif %}" class="g-button" onClick="document.getElementById('update_bbs_form').submit();"/>

			<a class="g-button dropdown-toggle" data-toggle="dropdown" href="#">
			{% if is_english %}Others{% else %}その他の操作{% endif %} <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="{{host}}edit_thread_list?bbs_key={{bbs.key()}}" target="_blank">{% if is_english %}Admin illust{% else %}イラストの管理{% endif %}</a></li>
				<li><a href="{{host}}analyze?bbs_key={{bbs.key()}}" target="_blank">{% if is_english %}Analyze{% else %}アクセス解析の閲覧{% endif %}</a></li>
				<li><a href="{{host}}{{bbs.short}}/">{% if is_english %}Back to BBS{% else %}掲示板に戻る{% endif %}</a></li>
			</ul>
		</div>
	</div>
</div>
