<script>
	function confirm_delete(url){
		if(confirm("デザインを削除してもよろしいですか？")){
			if(confirm("削除操作は取り消せません。本当によろしいですか？")){
				window.location.href=url;
			}
		}
	}
	
	function setCss(app_id){
		document.getElementById('css').value=app_id;
		document.getElementById('design_template_no').value=32767;
		alert('CSSデザインIDを設定しました。掲示板の更新ボタンを押して確定して下さい。');
	}
</script>

			<!-- CSS設定 -->
				<p>デザインテンプレートでCSSデザインを選択した場合の設定です</p>
				{% if my_app_list %}
				<TABLE width=100% class="g-table">
					{% for app2 in my_app_list %}
					<TR><TH><p>{{app2.app_name}}</p></TH><TD><p>デザインID：{{app2.app_id}}
					</p></TD>
					<TD>
					<div class="g-button-group">
					<a href="app?mode=play&app_key={{app2.key}}" target="_BLANK" class="g-button">プレビュー</a>
					<a class="g-button" href="javascript:setCss('{{app2.app_id}}');">デザインを使用</a>
					<a class="g-button" href="dev?page=edit&app_key={{app2.key}}&bbs_key={{bbs.key}}" target="_BLANK">デザインを編集</a>
					<a class="g-button" href="dev?page=info&app_key={{app2.key}}&bbs_key={{bbs.key}}" target="_BLANK">設定</a>
					<a class="g-button" href="javascript:confirm_delete('dev?page=delete&app_key={{app2.key}}&redirect=edit_bbs?bbs_key={{bbs.key}}');">削除</a>
					</div>
					</TD>
					</TR>
					{% endfor %}
				</TABLE>
				{% else %}
					<p>CSSデザインはまだありません。</p>
				{% endif %}
				<p>&nbsp</p>
				<form action="dev" method="POST">
				<input name="mode" type="hidden" value="2">
				<input type="hidden" name="page" value="submit">
				<input type="hidden" name="redirect" value="edit_bbs?bbs_key={{bbs.key}}">
				<TABLE class="g-table">
				<TR><TH>CSSデザインの名称</TH><TD><input name="app_name" style="width:200px;"></TD><TD></TD></TR>
				<TR><TH>CSSデザインID(半角英数)</TH><TD><input name="app_id" style="width:200px;"></TD>
				<TD><input type="submit" value="CSSデザインの新規作成" class="g-button"></TD></TR></TABLE>
				</form>
				
				<p>&nbsp</p>

				<p>CSSデザインは、<a href="./app" TARGET="_BLANK" class="declink">イラストブックマーケット</A>からも入手することができます。</p>
				<p>作成したデザインは、一般に公開することも、自分だけで使用することもできます。</p>
				<p>&nbsp</p>
