<script language="javascript">
	function check_id(){
		var id=document.getElementById("check_short").value;
		window.open("{{host}}check_id?id="+id);
	}
	
	function clear_top_tab(){
		document.getElementById('all').style.display="none";
		document.getElementById('detail').style.display="none";
		document.getElementById('custom').style.display="none";
		document.getElementById('css_design').style.display="none";
		document.getElementById('account').style.display="none";
		document.getElementById('submit_button').style.display="none";
		
		document.getElementById("top_tab_all").className="g-button";
		document.getElementById("top_tab_detail").className="g-button";
		document.getElementById("top_tab_custom").className="g-button";
		document.getElementById("top_tab_css_design").className="g-button";
		document.getElementById("top_tab_account").className="g-button";
	}
	
	function click_top_tab(id){
		clear_top_tab();
		document.getElementById(id).style.display="block";
		if(id!="css_design"){
			document.getElementById('submit_button').style.display="block";
		}
		document.getElementById("top_tab_"+id).className="g-button checked";
	}
	
	function init_tab(){
		click_top_tab("{{tab}}");
		design_template_change("{{bbs.design_template_no}}");
	}
	
	function design_template_change(no){
	}
</script>
</head>

{% if error_str %}
	<div class="example">
		<p>フォームの内容にエラーがあります。：{{error_str}}</p>
	</div>
{% endif %}

<div class="profile_box">
	<div class="entry">
		{% if bbs.cached_thumbnail_key %}
			<img src="/thumbnail/{{bbs.cached_thumbnail_key}}.jpg" width="160" height="160" class="radius_image"/>
		{% endif %}
		<H1><p>{{bbs.bbs_name}}の編集</p></H1>
		<div class="g-button-group">
			<a class="g-button dropdown-toggle" data-toggle="dropdown" href="#">
			その他の操作 <span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="{{host}}edit_thread_list?bbs_key={{bbs.key}}"" target="_blank">イラストの管理</a></li>
				<li><a href="{{host}}analyze?bbs_key={{bbs.key}}"" target="_blank">アクセス解析の閲覧</a></li>
			</ul>
		</div>
	</div>
</div>

<div class="left_box">
	<div class="g-button-group toggle-buttons">
	<a href="javascript:click_top_tab('all');" id="top_tab_all" class="g-button">基本設定</a>
	<a href="javascript:click_top_tab('detail');" id="top_tab_detail" class="g-button">詳細設定</a>
	<a href="javascript:click_top_tab('custom');" id="top_tab_custom" class="g-button">デザイン(フォーム)</a>
	<a href="javascript:click_top_tab('css_design');" id="top_tab_css_design" class="g-button">デザイン(CSS)</a>
	<a href="javascript:click_top_tab('account');" id="top_tab_account" class="g-button">アカウント</a>
	</div>

	<p>&nbsp;</p>
	
	<form action="./update_bbs?bbs_key={{bbs.key}}" enctype="multipart/form-data" method="post" id="update_bbs_form">
			<!-- 基本設定 -->
			<div class="entry" id="all" style="display:none;">
				{% include "edit_bbs/edit_basic.html" %}
			</div>

			<!-- 詳細設定 -->
			<div class="entry" id="detail" style="display:none;">
				{% include "edit_bbs/edit_detail.html" %}
			</div>

			<!-- カスタム設定 -->
			<div class="entry" id="custom" style="display:none;">
				{% include "edit_bbs/edit_design.html" %}
			</div>

			<!-- アカウント設定 -->
			<div class="entry" id="account" style="display:none;">
				{% include "edit_bbs/edit_account.html" %}
			</div>
	</form>
		
	<!-- CSS設定 -->
	<div class="entry" id="css_design" style="display:none;">
		{% include "edit_bbs/edit_css.html" %}
	</div>

	<div id="submit_button">
		<input type="button" value="変更を保存する" class="g-button" onClick="document.getElementById('update_bbs_form').submit();"/>
	</div>
</div>

<p>&nbsp;</p>

<div id="footer">
	{% if not is_iphone %}
	<ul>
		{% include "portal/footer_sitemap.html" %}
	</ul>
	{% endif %}
	<p>{% include "portal/footer_link.html" %}</p>
</div>

		
