@charset "utf-8";

/* Toppage */

.toppage {
	background-image: url(../images/top/top_bg.gif);
	background-repeat: repeat-y;
	background-position: center;
}

#main {
	float: left;
	width: 620px;
}

#side {
	float: right;
	width: 240px;
}

h2 {
	padding-bottom: 10px;
}

h3 {
	padding-bottom: 5px;
}

#toha {
	background-image: url(../images/top/top_toha_bg.gif);
	background-repeat: no-repeat;
	background-position: bottom right;
	height: 110px;
	margin-bottom: 20px;
}

#toha p {
	font-size: 1.3em;
	line-height: 1.3em;
}

#howto {
	background-image: url(../images/top/top_howto_bg.jpg);
	background-repeat: no-repeat;
	height: 345px;
	padding: 0 5px 0 20px;
}

#howto-l {
	float: left;
	width: 390px;
}

#howto-r {
	float: right;
	width: 205px;
	padding-top: 15px;
}

#howto-l dl {
	position: relative; 
	width: 385px;
}

#howto-l dt {
	position: absolute; 
	left: 0;
	width: 2.5em; 
	padding-top: 6px;
}

#howto-l dd {
	padding-left: 2.5em; 
	padding-top: 10px;
	padding-bottom: 3px;
}

#howto-r p {
	line-height: 1.3em;
}

#clap {
}

#clap-area {
	background-color: #333333;
	padding: 10px 0 0 0;
}

#clap-area p {
	letter-spacing: 0;
}

#clap-prev {
	float: left;
	width: 25px;
	padding-top: 50px;
	margin-right:5px;
}

#clap-next {
	float: right;
	width: 25px;
	padding-top: 50px;
}

.clap-thum {
	float: left;
	width: 70px;
	margin: 0 12px;
	text-align: center;
	color: #dddddd;
}

.clap-thum img {
	margin-bottom: 5px;
}

.clap-thum a {
	color: #dddddd;
}

#new {
}

#anime {
}

#new dl, #anime dl {
	position: relative; 
	width: 220px;
	margin-bottom: 10px;
}

#new dt, #anime dt {
	position: absolute; 
	left: 0;
	width: 60px;
	height: 60px;
	padding-top: 6px;
	padding-bottom: 5px;
}

#new dd, #anime dd {
	height: 60px;
	padding-left: 65px; 
	padding-top: 10px;
	padding-bottom: 5px;
	border-bottom: dotted 1px #cccccc;
	letter-spacing: 0;
}

.page {
	text-align: right;
	padding-right: 10px;
}

.page a {
	color: #0000ff;
}
