	<!--スレッド式掲示板-->
	<div class="square_thread_list" onclick="location.href='{{usrhost}}{% if thread.short %}{{thread.short}}{%else%}{{thread.key()}}{%endif%}.html'">

	{{ thread.title|escape }}<br/>

	{% if is_english %}{{thread.date|time_UTC_progress}}{% else %}{{thread.date|time_JST_progress}}{% endif %}
	&nbsp;({{thread.comment_cnt}})

	<br/>

	<center>
	{% if thread.cached_entry_image_key %}
		<img src="{{host}}thumbnail/{{thread.cached_entry_image_key}}.jpg"/>
	{% else %}
		{% if thread.cached_image_key %}
			<img src="{{host}}thumbnail/{{thread.cached_image_key}}.jpg"/>
		{% endif %}
	{% endif %}
	</center>

	</a>
	</div>
