<!--イラスト一つ-->
{% if bbs.bbs_mode == 3 %}
	<div class="entry" style="padding:8px;">
{% else %}
	<div class="entry">
{% endif %}

{% if bbs.bbs_mode == 3 %}
	<!--スレッド式掲示板-->
	{% include "bbs/bbs_thread_list.html" %}
{% else %}
	{% if thread.illust_mode and not bbs.disable_content_image %}
		<!--イラスト掲示板-->
		<div class="entry-title">
			<!-- タイトル -->
			<h3><a href='{{usrhost}}{% if thread.short %}{{thread.short}}{%else%}{{thread.key()}}{%endif%}.html'>{{thread|regulation_name}}{{ thread.title|escape }}</a></h3>

			<!-- 拍手 -->
			{% if not bbs.disable_applause %}
				{% set applause_enable=not (user and thread.user_id and thread.user_id==user.user_id()) %}
				{% include "thread/thread_applause.html" %}
			{% endif %}
			<div class="clr"></div>
		</div>

		<!--画像が存在する場合-->
		{% if thread.cached_image_key %}
		<div class="entry-illust">
			<a href='{{usrhost}}{% if thread.short %}{{thread.short}}{%else%}{{thread.key()}}{%endif%}.html' class="imagelink">
			{% include "bbs_thread/image.html" %}
			{% if thread.illust_mode == 2 %}
			<br/>[クリックで再生]
			{%endif%}
			</a>
		</div>
		{% else %}
			{% if template_path %}
				<br/>
			{% endif %}
		{% endif %}
		
		<!--画像情報-->
		<div class="entry-name">
			<p>
				{%include "bbs_thread/info.html" %}
			</p>
		</div>
	{% else%}
		<!-- イラスト非表示モード -->
		{%include "bbs/bbs_no_illust_list.html"%}
	{% endif %}
{% endif %}

<!--記事-->
{% if thread.illust_mode and bbs.enable_full_flat %}
	<!--本文-->
	<div class="entry-comment" style="word-break:break-all;">
	<p>{{thread.summary|auto_link|safe}}</p>
	{% if thread.postscript %}
	　<p><a href='{{usrhost}}{% if thread.short %}{{thread.short}}{%else%}{{thread.key()}}{%endif%}.html' class="g-button">{% if is_english %}Continue{% else %}続きを読む{% endif %}</a></p>
	{% endif %}
	</div>
	
	{% if (not bbs.enable_full_comment) and (not bbs.disable_comment) %}
		{%if thread.comment_cnt or show_comment_form %}
			<p>&nbsp;</p>
			<div class="g-button-group toggle-buttons">
			{%if thread.comment_cnt %}
				<a href="{{usrhost}}{% if thread.short %}{{thread.short}}{%else%}{{thread.key()}}{%endif%}.html" class="g-button no-text comment_tab_{{thread.key()}} comment_tab_{{thread.key()}}_text">{% if is_english %}Read Comment{% else %}コメントを読む{% endif %}({{thread.comment_cnt}})</a>
			{% endif %}
			{% if show_comment_form %}
				<a href="{{usrhost}}{% if thread.short %}{{thread.short}}{%else%}{{thread.key()}}{%endif%}.html" class="g-button no-text comment_tab_{{thread.key()}} comment_tab_{{thread.key()}}_text">{% if is_english %}Write Comment{% else %}コメントを書く{% endif %}</a>
			{%endif%}
			</div>
			<br/>
		{% endif %}
	{%endif%}

{%endif%}

{% if bbs.enable_full_comment %}
{% if bbs.bbs_mode != 3 %}
{% if not bbs.disable_comment %}
	<!--コメント統合表示-->
	{% if not thread.cached_render_comment %}
	{% else %}
		<p>&nbsp;</p>
		<div style="margin-left:10%;">
			{{thread.cached_render_comment}}
		</div>
	{% endif %}

	<!--コメントを書き込む-->
	{% include "thread/thread_comment_form.html" %}
{% endif %}
{% endif %}
{% endif %}

</div>

{% if bbs.enable_full_comment %}
	<!--コメント統合表示-->
{% endif %}
