<!--イラスト一つ-->
<div class="entry">

{% if thread.illust_mode and not bbs.disable_content_image %}
	<!--イラスト掲示板-->
	<div class="entry-title">
		<!-- タイトル -->
		<h3><a href='{{usrhost}}{% if thread.short %}{{thread.short}}{%else%}{{thread.key}}{%endif%}.html'>{{ thread.title|escape }}</a></h3>

		<!-- 拍手 -->
		{% if not bbs.disable_applause %}
			<div class="clap" align="right">
			{% if template_path%}
				<a href="{{host}}applause?bbs_key={{bbs.key}}&thread_key={{thread.key}}&mode=bbs&order={{order}}&page={{page}}" rel="nofollow"><img src="{{template_path}}images/i_crap.gif" alt="拍手" width="53" height="20"/></a>{%if thread.applause %}{{thread.applause}}{%else%}0{%endif%}
			{% else %}
				<input type="button" value="拍手{%if thread.applause %}{{thread.applause}}{%else%}0{%endif%}"  class="g-button" onClick="location.href='{{host}}applause?bbs_key={{bbs.key}}&thread_key={{thread.key}}&mode=bbs&order={{order}}&page={{page}}'">
			{% endif %}
			</div>
		{% endif %}
		<div class="clr"></div>
	</div>

	<!--画像が存在する場合-->
	{% if thread.cached_image_key %}
	<div class="entry-illust">
		<a href='{{usrhost}}{% if thread.short %}{{thread.short}}{%else%}{{thread.key}}{%endif%}.html' class="imagelink">
		{% include "bbs_thread/image.html" %}
		{% ifequal thread.illust_mode 2 %}
		<BR>[クリックで再生]
		{%endifequal%}
		</a>
	</div>
	{% else %}
		{% if template_path %}
			<BR>
		{% endif %}
	{% endif %}
	
	<!--画像情報-->
	<div class="entry-name">
		<p>
		{% if template_path %}
			<img src="{{template_path}}images/i_name.gif" alt="投稿者" width="64" height="20" />
		{% else %}
			投稿者：
		{% endif %}
		{{thread|author_name_thread:host|safe}}
		{%if not bbs.disable_comment%}
		{%if is_iphone%} <BR>{%else%}&nbsp;&nbsp;{%endif%}
		{% if template_path %}
			<img src="{{template_path}}images/i_comment.gif" alt="コメント数" width="64" height="20" />
		{% else %}
			コメント数：
		{% endif %}
		<a href='{{usrhost}}{% if thread.short %}{{thread.short}}{%else%}{{thread.key}}{%endif%}.html'>{{thread.comment_cnt}}</a>
		{% endif %}
		{%if is_iphone%} <BR>{%else%}&nbsp;&nbsp;{%endif%}
		{% if template_path %}
			<img src="{{template_path}}images/i_day.gif" alt="投稿日" width="64" height="20" />
		{% else %}
			投稿日：
		{% endif %}
		 {{thread.create_date|time_JST_format:bbs.date_format}}</p>
	</div>
{% else%}
	<!--スレッド式掲示板-->
	{% include "bbs/bbs_thread_list.html" %}
{% endif %}

<!--記事-->
{% if thread.illust_mode and bbs.enable_full_flat %}
	<!--本文-->
	<div class="entry-comment" style="word-break:break-all;">
	<p>{{thread.summary|safe}}</p>
	{% if thread.postscript %}
	　<p><a href='{{usrhost}}{% if thread.short %}{{thread.short}}{%else%}{{thread.key}}{%endif%}.html'  class="g-button" style="color:#444;">続きを読む</a></p>
	{% endif %}
	</div>
	{% include "thread/thread_drawtime.html" %}
	
	{% if not bbs.enable_full_comment %}
		<!--コメントを書くボタン-->
		<div class="entry-button">
		{%if not bbs.disable_comment%}
			<a href='{{usrhost}}{% if thread.short %}{{thread.short}}{%else%}{{thread.key}}{%endif%}.html' 
			{% if template_path %}
				class="declink">
				<img src="{{template_path}}images/btn_comment1.gif" alt="コメントを書く" width="116" height="20" />
			{% else %}
				class="g-button" style="color:#444;">
				コメントを書く
			{% endif %}
			</a>
			{% if not template_path %}　{% endif %}
		{% endif %}

		<!--コメントを読むボタン-->
		{%if thread.comment_cnt %}
		<a href='{{usrhost}}{% if thread.short %}{{thread.short}}{%else%}{{thread.key}}{%endif%}.html' 
			{% if template_path %}
				class="declink">
				<img src="{{template_path}}images/btn_comment2.gif" alt="コメントを読む" width="116" height="20" />
			{% else %}
				class="g-button" style="color:#444;">
				コメントを読む({{thread.comment_cnt}})
			{% endif %}
		</a>
		{% endif %}
		</div>
	{%endif%}
{%endif%}

{% if bbs.enable_full_comment %}
	<!--コメント統合表示-->
	<p>&nbsp</p>
	{% if not thread.cached_render_comment %}
	{% else %}
		<div style="margin-left:10%;">
			{{thread.cached_render_comment}}
		</div>
	{% endif %}

	<div id="comment_form_button_{{ thread.key }}">
	<p>&nbsp</p>
	<a href="javascript:show_comment_form('{{thread.key}}');" class="g-button" style="color:#444;"><i class="icon-pencil"></i>コメントを書き込む</a>
	</div>
{% endif %}

</div>

{% if bbs.enable_full_comment %}
	<!--コメント統合表示-->
	<div id="comment_form_{{ thread.key }}" style="display:none;">
	{% include "thread/thread_comment_form.html" %}
	</div>
{% endif %}
