	<!--イラスト非表示モード-->
	{% if template_path %}
		<div class="entry-name">
	{% endif %}
		<a href='{{usrhost}}{% if thread.short %}{{thread.short}}{%else%}{{thread.key()}}{%endif%}.html' class="declink">
	{% if template_path %}<h3>{% endif %}
		{{ thread.title|escape }}
	{% if template_path %}</h3>{% endif %}
		</a>
	<br/>

	{% if thread.author %}
		{% if template_path %}
			<img src="{{template_path}}images/i_name.gif" alt="投稿者" width="64" height="20" />
		{% else %}
		投稿者：
		{% endif %}
		{{thread|author_name_thread(host)|safe}}
	{% endif %}
	<br/>

	{% if template_path %}
		<img src="{{template_path}}images/i_comment.gif" alt="コメント数" width="64" height="20" />
	{% else %}
	コメント数：
	{% endif %}
	<a href='{{usrhost}}{% if thread.short %}{{thread.short}}{%else%}{{thread.key()}}{%endif%}.html' class="declink">{{thread.comment_cnt}}</a><br/>

	{% if order == "new" %}
		{% if template_path %}
			<img src="{{template_path}}images/i_day.gif" alt="投稿日" width="64" height="20" />
		{% else %}
			投稿日：
		{% endif %}
		{{thread.create_date|time_JST_progress}}<br/>
	{%else%}
		{% if template_path %}
			<img src="{{template_path}}images/i_day.gif" alt="投稿日" width="64" height="20" />
		{% else %}
			最終更新日：
		{% endif %}
		{{thread.date|time_JST_progress}}<br/>
	{%endif%}

	{% if template_path %}
		</div>
	{% endif %}
