	<div class="g-button-group" style="margin-left:5px;margin-top:3px;">
		{% if page == 1 %}
			<a href="#" class="g-button no-text mini disabled2"><i class="icon-chevron-left"></i></a>
		{% else %}
			<a href="{{page_url_base}}{{page-1}}" class="g-button no-text mini"><i class="icon-chevron-left"></i></a>
		{% endif %}
		{%for p in page_list%}
			{%if p == page%}
					<div class="g-button checked no-text mini">{{p}}</div>
			{%else%}
				<a href="{{page_url_base}}{{p}}" class="g-button no-text mini">{{p}}</a>
			{%endif %}
		{%endfor%}
		<a href="{{page_url_base}}{{page+1}}" class="g-button no-text mini"><i class="icon-chevron-right"></i></a>
	</div>
