{% if not (not template_path and bbs.bbs_mode == 2 and not can_create_new_image) %}

<div id="contents-header">
	{% if bbs.bbs_mode and can_create_new_image %}
		{% if true %}
		<input type="hidden" id="canvas_width" value="{%if bbs.default_canvas_width%}{{bbs.default_canvas_width}}{%else%}400{%endif%}"/>
		<input type="hidden" id="canvas_height" value="{%if bbs.default_canvas_height%}{{bbs.default_canvas_height}}{%else%}400{%endif%}"/>
		{% else %}
		<div id="contents-header-size">
		{% if template_path %}
			<input type="text" name="text" id="canvas_width" value="{%if bbs.default_canvas_width%}{{bbs.default_canvas_width}}{%else%}400{%endif%}"/>
			<img src="{{template_path}}images/header_batsu.gif" alt="×" width="15" height="17" />
			<input type="text" name="text" id="canvas_height" value="{%if bbs.default_canvas_height%}{{bbs.default_canvas_height}}{%else%}400{%endif%}"/>
			<img src="{{template_path}}images/header_px.gif" alt="px" width="17" height="17" />
		{% else%}
			<div class="g-button">{% if is_english %}Canvas Size{% else %}キャンバスサイズ{% endif %}　<input type="text" id="canvas_width" value="{%if bbs.default_canvas_width%}{{bbs.default_canvas_width}}{%else%}400{%endif%}" maxlength="3" size="3"/><i class="icon-remove"></i><input type="text" id="canvas_height" value="{%if bbs.default_canvas_height%}{{bbs.default_canvas_height}}{%else%}400{%endif%}" maxlength="3" size="3"/>px</div>
		{% endif%}
		</div>
		{% endif %}
	{% endif%}

	<div class="g-button-group">
	<div id="contents-header-edit">
		{% if bbs.bbs_mode==3 and can_create_thread %}
			<input type="button" onclick="display_comment_tab('text','new_thread');" class="g-button" value="{% if is_english %}Create new thread{% else %}新しいスレッドを作成{% endif %}"/>
		{% endif %}

		{% if bbs.bbs_mode != 3 %}
			{% if can_create_new_image %}
				{% if user %}
					{% if not bbs.disable_create_new_illust %}
						{%if template_path and not is_english%}
							<a href="javascript:bbs_open_draw('','{{bbs.key()}}','{{host}}');"><img src="{{template_path}}images/header_edit1.jpg" alt="イラストを描く" width="103" height="28"/></a>
						{% else %}
							<input type="button" value="{% if is_english %}Draw new{% else %}イラストを描く{% endif %}"  class="g-button" onclick="bbs_open_draw('','{{bbs.key()}}','{{host}}');"/>
						{% endif %}
					{%endif%}
			
					{% if bbs.enable_moper and not is_english and not is_iphone %}
						{%if template_path %}
							<a href="javascript:bbs_open_moper('','{{bbs.key()}}','{{host}}');"><img src="{{template_path}}images/header_edit2.jpg" alt="動画を描く" width="103" height="28"/></a>
						{% else %}
							<input type="button" value="動画を描く"  class="g-button" onclick="bbs_open_moper('','{{bbs.key()}}','{{host}}');"/>
						{%endif%}
					{%endif%}
				{% else %}
					{%if template_path %}<p>{%endif%}
					{% if is_english %}You must login to submit{% else %}イラストの投稿にはログインが必要です{% endif %}
					{%if template_path %}</p>{%endif%}
				{% endif %}
			{% else %}
				{%if template_path %}<p>{%endif%}
				{% if is_english %}Only allowing owner to edit{% else %}管理人のみ投稿可能{% endif %}
				{%if template_path %}</p>{%endif%}
			{% endif %}
		{% endif %}

		{% if can_edit_design %}
			{%if (bbs.bbs_mode!=3 and (template_path and not is_english)) %}
				<a href="{{host}}edit_bbs?bbs_key={{bbs.key()}}"><img src="{{template_path}}images/header_edit3.jpg" alt="デザインの編集" width="103" height="28"/></a>
			{% else %}
				<input type="button" value="{% if is_english %}Edit BBS{% else %}デザインの編集{% endif %}"  class="g-button" onclick="window.location.href='{{host}}edit_bbs?bbs_key={{bbs.key()}}'"/>
			{%endif%}
		{% endif %}
	</div>
	</div>
	<div class="clr"></div>
</div>

{% endif %}
