<!--イラスト一つ-->
{% if bbs.bbs_mode == 3 %}
	<div class="entry" style="padding:8px;">
{% else %}
	<div class="entry">
{% endif %}

{% if thread.illust_mode and not bbs.disable_content_image %}
	<!--イラスト掲示板-->
	<div class="entry-title">
		<!-- タイトル -->
		<h3><a href='{{usrhost}}{% if thread.short %}{{thread.short}}{%else%}{{thread.key()}}{%endif%}.html'>{{thread|regulation_name}}{{ thread.title|escape }}</a></h3>

		<!-- 拍手 -->
		{% if not bbs.disable_applause %}
			<div class="clap" align="right">
			{% if template_path%}
				<a href="javascript:applause('{{host}}','{{bbs.key()}}','{{thread.key()}}','bbs','{{order}}','{{page}}');" rel="nofollow"><img src="{{template_path}}images/i_crap.gif" alt="拍手" width="53" height="20"/></a>{%if thread.applause %}{{thread.applause}}{%else%}0{%endif%}
			{% else %}
				<input type="button" value="拍手{%if thread.applause %}{{thread.applause}}{%else%}0{%endif%}"  class="g-button" onClick="javascript:applause('{{host}}','{{bbs.key()}}','{{thread.key()}}','bbs','{{order}}','{{page}}');"/>
			{% endif %}
			</div>
		{% endif %}
		<div class="clr"></div>
	</div>

	<!--画像が存在する場合-->
	{% if thread.cached_image_key %}
	<div class="entry-illust">
		<a href='{{usrhost}}{% if thread.short %}{{thread.short}}{%else%}{{thread.key()}}{%endif%}.html' class="imagelink">
		{% include "bbs_thread/image.html" %}
		{% if thread.illust_mode == 2 %}
		<br/>[クリックで再生]
		{%endif%}
		</a>
	</div>
	{% else %}
		{% if template_path %}
			<br/>
		{% endif %}
	{% endif %}
	
	<!--画像情報-->
	<div class="entry-name">
		<p>
			{%include "bbs_thread/info.html" %}
		</p>
	</div>
{% else%}
	<!--スレッド式掲示板-->
	{% include "bbs/bbs_thread_list.html" %}
{% endif %}

<!--記事-->
{% if thread.illust_mode and bbs.enable_full_flat %}
	<!--本文-->
	<div class="entry-comment" style="word-break:break-all;">
	<p>{{thread.summary|auto_link|safe}}</p>
	{% if thread.postscript %}
	　<p><a href='{{usrhost}}{% if thread.short %}{{thread.short}}{%else%}{{thread.key()}}{%endif%}.html' class="g-button" style="color:#444;">続きを読む</a></p>
	{% endif %}
	</div>
	
	{% if not bbs.enable_full_comment %}
		<div class="g-button-group toggle-buttons">
		{%if not bbs.disable_comment %}
			{%if thread.comment_cnt %}
				<a href="{{usrhost}}{% if thread.short %}{{thread.short}}{%else%}{{thread.key()}}{%endif%}.html" class="g-button no-text comment_tab_{{thread.key()}} comment_tab_{{thread.key()}}_text">コメントを読む({{thread.comment_cnt}})</a>
			{% endif %}
			{% if show_comment_form %}
				<a href="{{usrhost}}{% if thread.short %}{{thread.short}}{%else%}{{thread.key()}}{%endif%}.html" class="g-button no-text comment_tab_{{thread.key()}} comment_tab_{{thread.key()}}_text">コメントを書く</a>
			{%endif%}
		{%endif%}
		</div>
		<br/>
	{%endif%}

{%endif%}

{% if bbs.enable_full_comment %}
{% if bbs.bbs_mode != 3 %}
{% if not bbs.disable_comment %}
	<!--コメント統合表示-->
	{% if not thread.cached_render_comment %}
	{% else %}
		<p>&nbsp;</p>
		<div style="margin-left:10%;">
			{{thread.cached_render_comment}}
		</div>
	{% endif %}

	<!--コメントを書き込む-->
	{% include "thread/thread_comment_form.html" %}
{% endif %}
{% endif %}
{% endif %}

</div>

{% if bbs.enable_full_comment %}
	<!--コメント統合表示-->
{% endif %}
