	{% if not bbs.in_frame_mode %}
		{% if not is_iphone %}

<div id="side">

{% for one in sidebar_list %}
	{% if loop.index == 1 %}
		<div id="free">
	{% else %}
		<div id="{% if one == 'thread' %}comment{%else%}{{one}}{% endif %}">
	{% endif %}

	{%if one == "free" %}
		<h4>
		{% if bbs.freearea_title %}{{bbs.freearea_title}}{% else %}フリーエリア{% endif %}
		</h4>
		<p>{{bbs.freearea|safe}}</p>
	{%endif%}

	{%if one == "category" %}
		<h4>
		カテゴリ
		</h4>
		<p>
		{% if now_category %}
		<a href="{{page_url_category_base}}" class="decnone">全て</a><br/>
		{% endif%}
		{% for category in category_list %}
			{% if category.category == "" %}
			{% else %}
			<a href="{{page_url_category_base}}{{category.category|iriencode}}" class="decnone">{{category.category}}({{category.count}})</a><br/>
			{% endif %}
		{% endfor %}
		</p>
	{%endif%}

	{%if one == "affiliate" %}
		<h4>
		{%if bbs.amazon_title %}{{bbs.amazon_title}}{%else%}管理人のオススメ{%endif%}
		</h4>
		<p>{{bbs.amazon|safe}}</p>
	{%endif%}

	{%if one == "thread" %}
		<h4>
		新着{% if bbs.bbs_mode == 3 %}スレッド{%else%}イラスト{%endif%}
		</h4>
		<p>{% include 'bbs/bbs_recent_thread.html' %}</p>
	{%endif%}

	{%if one == "comment" %}
		<h4>
		新着コメント
		</h4>
		<p>{% include 'bbs/bbs_recent_comment.html' %}</p>
	{%endif%}

	{%if one == "counter" %}
		<h4>
		カウンター
		</h4>
		<p>
		今日：{{bbs.counter.today_cnt}}<br/>
		昨日：{{bbs.counter.yesterday_cnt}}<br/>
		一昨日：{{bbs.counter.yesterday_yesterday_cnt}}<br/>
		合計：{{bbs.counter.total_cnt}}<br/>
		</p>
	{%endif%}
	
	{%if one == "menu" %}
		{% if not bbs.disable_analyze and owner or bbs.my_homepage%}
		<h4>
		メニュー
		</h4>
		<p>
		{% if bbs.my_homepage %}
			<a href="{{bbs.my_homepage}}" class="decnone">ホームページ</a><br/>
		{% endif %}
		{% if not bbs.disable_analyze and owner %}
			<a href="{{host}}analyze?bbs_key={{bbs.key()}}" class="decnone">アクセス解析</a><br/>
		{% endif %}
		</p>
		{% endif %}
	{%endif%}

	{%if one == "twitter" %}
		<h4>
		Twitter
		</h4>
		<div class="twitter_widget">
			<script src="http://widgets.twimg.com/j/2/widget.js"></script>
			<script type="text/javascript">
new TWTR.Widget({
	version: 2,
	type: 'profile',
	rpp: 10,
	interval: 6000,
	width: 'auto',
	height: {{bbs.twitter_height}},
	theme: {
		shell: {
			background: {% if template_path %} 'none' {% else %}'#{{bbs.twitter_shell_color}}' {% endif %},
			color: 
			{% if template_path %}
				{% if bbs.design_template_no == 4 %}
					'#536566'
				{%else%}
					'#ffffff'
				{%endif%}
			{% else %}
				'#{{bbs.twitter_font_color}}'
			{% endif %}
		},
		tweets: {
			background: '#{{bbs.twitter_bg_color}}',
			color: '#{{bbs.twitter_font_color}}',
			links: '#{{bbs.twitter_font_color}}'
		}
	},
	features: {
		scrollbar: true,
		loop: false,
		live: true,
		hashtags: true,
		timestamp: true,
		avatars: false,
		behavior: 'all'
	}
}).render().setUser('{{bbs.twitter_id}}').start();
			</script>
		</div>
	{%endif%}

	</div>
{% endfor %}

</div>

		{% endif %}
	{% endif %}
