
{% if not thread_list %}
	{% if not moper_list %}
		{% if not text_list %}
	<div class="example">
	<p><h2>タグ「{{tag}}」を含むイラスト</h2></p>
	<TABLE width="100%">
	<TR><TD>
			<p>イラストは見つかりませんでした。</p>
	</TD></TR>
	</TABLE>
	</div>
		{% endif %}
	{% endif %}
{% endif %}

{% if thread_list %}
	<div class="example">
	<p><h2>タグ「{{tag}}」を含むイラスト</h2></p>
	<TABLE width="100%">
	<TR><TD>
	{% for thread in thread_list %}
		{% if not thread.violate_photo %}
			<a href='{% if thread.bbs_key.short %}./{{thread.bbs_key.short}}/{%else%}./usr/{{thread.bbs_key.key}}/{%endif%}{% if thread.short %}{{thread.short}}{%else%}{{thread.key}}{%endif%}.html' class="imagelink"><IMG SRC="{{host}}thumbnail/{{thread.image_key.key}}.jpg" BORDER=0 ALT="{{thread.title}}" width=98px height=98px></A>
		{% endif %}
	{% endfor %}
	</TD></TR>
	</TABLE>
	</div>
{% endif %}

{% if moper_list %}
	<div class="example">
	<p><h2>タグ「{{tag}}」を含む動画</h2></p>
	<TABLE width="100%">
	<TR><TD>
	{% for thread in moper_list %}
		<a href='{% if thread.bbs_key.short %}./{{thread.bbs_key.short}}/{%else%}./usr/{{thread.bbs_key.key}}/{%endif%}{% if thread.short %}{{thread.short}}{%else%}{{thread.key}}{% endif %}.html' class="imagelink"><IMG SRC="{{host}}thumbnail/{{thread.image_key.key}}.gif" BORDER=0 ALT="{{thread.title}}" width=98px height=98px></A>
	{% endfor %}
	</TD></TR>
	</TABLE>
	</div>
{% endif %}

{% if text_list %}
	<div class="example">
	<p><h2>タグ「{{tag}}」を含むスレッド</h2></p>
	<TABLE width="100%">
	<TR><TD>
	{% for thread in text_list %}
		<p><a href='{% if thread.bbs_key.short %}./{{thread.bbs_key.short}}/{%else%}./usr/{{thread.bbs_key.key}}/{%endif%}{% if thread.short %}{{thread.short}}{%else%}{{thread.key}}{% endif %}.html' class="imagelink">{{thread.title|safe}}</A></p>
	{% endfor %}
	</TD></TR>
	</TABLE>
	</div>
{% endif %}

<div class="example">

<p><h2>タグ検索</h2></p>

	<TABLE width="100%">
	<TR><TD>

	<form action="search_tag" method="get">
	<input name="tag">
	<input type="submit" value="検索">
	</form>
	</TD></TR>
	</TABLE>
</div>

<div class="example">

<p><h2>注目のタグ</h2></p>
	<TABLE width="100%">
	<TR><TD>
<p>
{% for tag2 in tag_list %}
	{{tag2|safe}}　
{% endfor %}
</p>
	</TD></TR>
	</TABLE>
</div>


<br clear="all">