<!-- スレッドメニュー -->

<div class="g-button-group">

	<div class="g-button-group toggle-buttons">
		<a class="g-button dropdown-toggle" data-toggle="dropdown" href="#">
		{% if is_english %}Others{% else %}その他の操作{% endif %}<span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
		{% if thread.cached_image_key %}
			{% if bbs.enable_continue_draw %}
				{% if bbs.bbs_mode == 1 or (bbs.bbs_mode == 2 and owner) or (bbs.bbs_mode == 3 and owner) %}
					<li><a href="#" onclick="open_draw('{{thread.cached_image_key}}',0,'{{host}}','','{{thread.key()}}','{{bbs.key()}}',{{thread.illust_mode}})" style="color:#333;">{% if is_english %}Continue draw{% else %}続きから描く{% endif %}</a></li>
				{% endif %}
			{% endif %}
		{% endif %}

		{% if not my_illust %}
			{% if not bbs.disable_applause %}
				<li><a href="javascript:applause_with_comment('{{host}}','{{bbs.key()}}','{{thread.key()}}','thread',{% if is_english %}true{% else %}false{% endif %});" style="color:#333;" rel="nofollow">{% if is_english %}Like with comment{% else %}コメントで拍手{% endif %}</a></li>
			{% endif %}
		{% endif %}
		<li><a href="{{page_url_base}}{{page}}&amp;comment_edit=1" style="color:#333;" rel="nofollow">{% if is_english %}Edit comment{% else %}コメントの編集{% endif %}</a></li>

		{% if owner or my_illust　%}
			<li><a href="#" onclick='location.href="{{host}}edit_thread?bbs_key={{bbs.key()}}&amp;thread_key={{thread.key()}}"' style="color:#333;">{% if is_english %}Edit thread{% else %}スレッドの編集{% endif %}</a></li>
		{% endif %}

		{% if owner or my_illust or admin_user %}
			<li><a href="#" onclick='confirm_action_thread("{{thread.key()}}", "{{bbs.key()}}", "{{host}}",{% if is_english %}true{% else %}false{% endif %})' style="color:#333;">{% if is_english %}Delete thread{% else %}スレッドの削除{% endif %}</a></li>
		{% else %}
			{% if thread.delete_key %}
				<li><a href="#" onclick='prompt_action_thread("{{thread.key()}}", "{{bbs.key()}}", "{{host}}",{% if is_english %}true{% else %}false{% endif %})' style="color:#333;">{% if is_english %}Delete thread with key{% else %}スレッドの削除（削除キー）{% endif %}</a></li>
			{% endif %}
		{% endif %}
		</ul>
	</div>

{% if admin_user %}
	<div class="g-button-group">
		<a class="g-button dropdown-toggle" data-toggle="dropdown" href="#">
		{% if is_english %}Admin{% else %}管理{% endif %} <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			<li><a href="{{host}}violation?bbs_key={{bbs.key()}}&amp;thread_key={{thread.key()}}&amp;mode=adult">アダルト違反</a></li>
			<li><a href="{{host}}violation?bbs_key={{bbs.key()}}&amp;thread_key={{thread.key()}}&amp;mode=terms">実写規約違反</a></li>
			<li><a href="{{host}}violation?bbs_key={{bbs.key()}}&amp;thread_key={{thread.key()}}&amp;mode=comment">コメント禁止</a></li>
			<li><a href="{{host}}violation?bbs_key={{bbs.key()}}&amp;thread_key={{thread.key()}}&amp;mode=photo">ポータルに非表示{% if thread.violate_photo %}(適用中){% endif %}</a></li>
			<li><a href="#">メール：{{bbs.owner.email()}}</a></li>
			<li><a href="#">ユーザID：{{bbs.user_id}}</a></li>
		</ul>
	</div>
{% endif %}

</div>
