		{% if thread.cached_image_key %}
			{%if bbs.disable_draw_time %}
			{%else%}
				{%if thread.draw_time %}
					{%if thread.draw_time == -1 %}
					（{% if is_english %}Upload{% else %}アップロード{% endif %}）
					{% else %}
					（{% if is_english %}Draw Time {% else %}描画時間{% endif %}{{thread.draw_time|div}}{% if is_english %}min{% else %}分{% endif %}）
					{% endif %}
				{% endif %}
			{%endif%}
			{%if thread.is_ipad %}
			（{% if is_english %}from HTML5 version{% else %}HTML5版から投稿{% endif %}）
			{% endif %}
			{% if bbs.show_remote_addr_id %}
			（ID：{{thread.remote_addr|ip_hash}}）
			{% endif %}
		{%endif%}
		{{thread.search_index_version}}
