{%if show_comment_form %}
	{% if (not bbs.disable_normal_reply) or bbs.enable_illust_reply %}
		{% if bbs.bbs_mode != 3 %}
			{% if template_path %}
				<p>&nbsp;</p>
			{% else %}
				<br clear="all"/>
			{% endif %}
		{% endif %}
		
		<div class="g-button-group toggle-buttons">
		{%if not bbs.disable_normal_reply %}
			<a href="javascript:display_comment_tab('text','{{thread.key()}}');" class="g-button no-text comment_tab_{{thread.key()}} comment_tab_{{thread.key()}}_text">{% if is_english %}Write Comment{%else%}コメントを書く{% endif %}</a>
		{%endif%}
		{%if bbs.enable_illust_reply==1 or (bbs.enable_illust_reply==2 and owner) %}
			<a href="javascript:display_comment_tab('illust','{{thread.key()}}');" class="g-button no-text comment_tab_{{thread.key()}} comment_tab_{{thread.key()}}_illust">{% if is_english %}Draw Comment{%else%}絵でコメントを描く{% endif %}</a>
		{%endif%}
		</div>
		<br/>
	{% endif %}
{% endif %}

{%if show_comment_form %}
	<div class="comment_tab_{{thread.key()}}_body comment_tab_{{thread.key()}}_body_text comment-tab">

		{%if bbs.comment_rule_enable %}
		<p>&nbsp;</p>
		<p>{{bbs.comment_rule|safe}}</p>
		<p>&nbsp;</p>
		{% endif %}

		{% if thread.prohibit_comment %}
		<p>&nbsp;</p>
		<p>現在、このイラストへのコメントは禁止されています。詳細は運営までお問い合わせ下さい。</p>
		<p>&nbsp;</p>
		{% endif %}

		<form action='http://localhost/' enctype="multipart/form-data" method="post" onsubmit="this.action='{{host}}add_entry?bbs_key={{ bbs.key() }}&amp;thread_key={{ thread.key() }}&amp;seed={{0|set_seed}}';">
			<table class="table_color">
			<tr><td>{% if is_english %}Name (MUST){% else %}名前（必須）{% endif %}</td>
			<td>
				<input type="text" name="author" maxlength="50" value="{{user_name}}"/>
				{% if is_iphone %}<br/>{% endif %}
				{% if logined %}
					<input name="link_to_profile" type="checkbox" checked/>{% if is_english %}Link to mypage{% else %}マイページにリンク{% endif %}
				{% endif %}
			</td></tr>
			{% if logined %}
			{% else %}
			<tr><td>{% if is_english %}Homepage URL{%else%}ホームページアドレス{% endif %}</td>
			<td>
				<input type="text" name="homepage_addr" maxlength="50" value="http://"/>
			</td></tr>
			{% endif %}
			<tr><td>{% if is_english %}Comment (MUST){% else %}コメント（必須）{% endif %}</td>
			<td>
				<textarea name="comment" rows="10" cols="60" style="width:100%;"></textarea>
			</td></tr>
			<tr><td></td><td>
			<input type="hidden" name="remote_host" id="remote_host_{{thread.key()}}" value=""/>
			<input type="hidden" name="redirect_url" value="{{redirect_url}}"/>
			<input type="submit" value="{% if is_english %}Submit{% else %}コメントを書き込む{% endif %}" class="g-button"/>
			</td></tr>
		</table>
		</form>
	</div>

	<div class="comment_tab_{{thread.key()}}_body comment_tab_{{thread.key()}}_body_illust comment-tab">
		<table class="table_color">
		<tr><td>
			{% if is_english %}Width{%else%}イラストの横幅{% endif %}
		</td><td>
			<input type="text" id="canvas_width_{{thread.key()}}" value="{{bbs.illust_reply_width}}" maxlength="3" size="3"/> px
		</td></tr>
		<tr><td>
			{% if is_english %}Height{%else%}イラストの高さ{% endif %}
		</td><td>
			<input type="text" id="canvas_height_{{thread.key()}}" value="{{bbs.illust_reply_height}}" maxlength="3" size="3"/> px
		</td></tr>
		{%if bbs.enable_illust_reply_continue %}
		<tr><td>
			{% if is_english %}Continue{%else%}絵で続きからコメント{% endif %}
		</td><td>
			<input type="checkbox" id="continue_reply_{{thread.key()}}"/>
		</td></tr>
		{% endif %}
		</table>
		<br/>
		<input type="button" value="{% if is_english %}Open Draw Tool{% else %}イラブペイントを開く{% endif %}" class="g-button" onclick="open_draw('{{thread.cached_image_key}}',1,'{{host}}','','{{thread.key()}}','{{bbs.key()}}',{{thread.illust_mode}});"/>
	</div>
{% endif %}