{% if not bbs.disable_applause %}
	{% if template_path and not is_english %}
		<div class="clap">
			<div id="applause_value_{{thread.key()}}" style="float:right;margin-top:2px;">
				{%if thread.applause %}
					{{thread.applause}}
				{%else%}
					0
				{%endif%}
			</div>
			<div style="float:right;">
				{% if applause_enable %}
					<a href="javascript:applause('{{host}}','{{bbs.key()}}','{{thread.key()}}','thread');" rel="nofollow">
				{% endif %}
				<img src="{{template_path}}images/i_crap.gif" alt="拍手" width="53" height="20"/>
				{% if applause_enable %}
					</a>
				{% endif %}
			</div>
		</div>
	{% else %}
		<div class="clap" align="right;">
			<div id="applause_value_{{thread.key()}}" style="float:right;margin-top:2px;">
				{%if thread.applause %}
					{{thread.applause}}
				{%else%}
					0
				{%endif%}
			</div>
			<div style="float:right;margin-right:4px;">
				<input type="button" value="{% if is_english %}Like{% else %}拍手{% endif %}" class="g-button mini" style="height:23px;" {% if applause_enable %}onClick="javascript:applause('{{host}}','{{bbs.key()}}','{{thread.key()}}','thread');"{% endif %}/>
			</div>
		</div>
	{% endif %}
{% endif %}