<div class="entry">
	<div class="entry-title">
		<h3>{{thread|regulation_name}}{{ thread.title|escape }}</h3>
		{% include "thread/thread_applause.html" %}
		<div class="clr"></div>
	</div>

	<div class="entry-illust" style="text-align:left;">
{% if thread.cached_image_key %}
		{% if thread.illust_mode == 2 %}
			<script type="text/javascript" src="{{host}}moper_player?bbs_key={{bbs_key}}&amp;thread_key={{thread.key()}}{% if is_iphone %}&amp;is_iphone=1{% endif %}"></script><br/>
		{%else%}
			{% include "bbs_thread/image.html" %}
		{% endif %}
{% endif %}
	</div>

<div class="entry-name">
	<p>
	{%include "bbs_thread/info.html" %}
	</p>
</div>

<div class="entry-comment" style="word-break:break-all;">
<p>{{thread.summary|auto_link|safe}}</p>
{%if thread.postscript %}
<p>&nbsp;</p>
<p>{{thread.postscript|auto_link|safe}}</p>
{% endif%}
</div>

{% include "thread/thread_drawtime.html" %}

</div>