{% if not bbs.disable_tag %}
<div class="entry">
タグ<HR>
	<TABLE><TR>
	{% for tag in thread.tag_list %}
		<TD>
		<A HREF="{{host}}search_tag?tag={{tag|iriencode}}" class="decnone">{{tag}}</A>　
		</TD>
	{% endfor %}
	<TD>
	<input type="text" id="tag" maxlength="10">
	<input type="button" value="タグ追加" onmouseover="this.className='menubutton_active'" onmouseout="this.className='menubutton'" class="menubutton" onclick="AddTag('{{host}}','{{ bbs_key }}','{{ thread.key}}');">
	<input type="button" value="タグ削除" onmouseover="this.className='menubutton_active'" onmouseout="this.className='menubutton'" class="menubutton" onclick="DelTag('{{host}}','{{ bbs_key }}','{{ thread.key}}');">
	</TD>
	</TR></TABLE>
</div>
{% endif %}