{% if not bbs.disable_tag %}
<div class="entry">
	{% if is_english %}Tag{% else %}タグ{% endif %}<hr/>
	<div>
		<div style="float:left;">
		{% if not thread.tag_list %}
			{% if is_english %}no tags{% else %}設定されたタグはありません。{% endif %}
		{% endif %}
		{% for tag in thread.tag_list %}
			<a href="{{host}}search_tag?tag={{tag|iriencode}}" class="g-button">{{tag}}</a>
		{% endfor %}
		</div>
	
		<div id="tag_form_button_{{ thread.key() }}" style="float:right;">
			<a href="javascript:show_tag_form('{{thread.key()}}');" class="g-button">{% if is_english %}Edit{% else %}タグを編集{% endif %}</a>
		</div>
		<div class="clr"></div>
	</div>

		<div id="tag_form_{{ thread.key() }}" style="display:none;">
			<p>&nbsp;</p>
			{% if is_english %}{% else %}追加もしくは削除するタグの名前を入力してボタンを押して下さい。{% endif %}<br/>
			<div style="float:left;margin:4px;">
				<input type="text" id="tag" maxlength="10"/>
			</div>
			<div class="g-button-group">
				<a href="javascript:AddTag('{{host}}','{{ bbs_key }}','{{ thread.key()}}');" class="g-button">{% if is_english %}Add{% else %}タグの追加{% endif %}</a>
				<a href="javascript:DelTag('{{host}}','{{ bbs_key }}','{{ thread.key()}}');" class="g-button">{% if is_english %}Remove{% else %}タグの削除{% endif %}</a>
			</div>
			<br clear="all"/>
		</div>
		
</div>
{% endif %}