		{% if thread.cached_image_key %}
			{%if bbs.disable_draw_time %}
			{%else%}
				{%if thread.draw_time %}
					{%if thread.draw_time == -1 %}
					({% if is_english %}Upload{% else %}アップロード{% endif %})
					{% else %}
					({% if is_english %}Draw Time {% else %}描画時間{% endif %}{{thread.draw_time|div}}{% if is_english %}min{% else %}分{% endif %})
					{% endif %}
				{% endif %}
			{%endif%}
			{%if thread.is_ipad %}
			({% if is_english %}from HTML5 version{% else %}HTML5版から投稿{% endif %})
			{% endif %}
		{%endif%}

		{% if thread.event_id %}
			(イベント <a href="{{host}}?order=event&event_id={{thread.event_id}}">{{thread.event_id}}</a> への投稿)
		{% endif %}
