{% if com_list %}
<div style="width:100%;word-break:break-all;">
{% for entry in com_list %}
	{% if entry.com.del_flag %}
<!-- 基本情報 -->
		<hr/>
		<div class="actions g-button-container">
		投稿者：
		{{entry.com|author_name_comment:host|safe}}
		　投稿日：{% if entry.com.create_date %}{{entry.com.create_date|time_JST_progress}}{%else%}{{entry.com.date|time_JST_progress}}{%endif%}
		{% if entry.com.comment_no %}　投稿番号：{{entry.com.comment_no}}{%endif%}
		
		<div class="g-button-group" style="float:right;">
		{%if is_admin or edit_flag %}
			<!-- 管理者削除 -->
			<input type="button" value="削除"  class="g-button" onclick="confirm_action_comment('{{host}}del_ent?entry_key={{entry.com.key}}&amp;bbs_key={{bbs_key}}&amp;thread_key={{thread.key}}');"/>
			{% if is_admin and entry.com.illust_reply %}
				<input type="button" value="規約"  class="g-button" onclick="confirm_action_term('{{host}}violation?entry_key={{entry.com.key}}&amp;bbs_key={{bbs_key}}&amp;thread_key={{thread.key}}');"/>
			{% endif %}
			{% if bbs.comment_hidden_button %}
				<input type="button" value="{% if entry.com.hidden_flag %}表示{%else%}非表示{% endif %}"  class="g-button" onclick="window.location.href='{{host}}vis_ent?entry_key={{entry.com.key}}&amp;bbs_key={{bbs_key}}&amp;thread_key={{thread.key}}';"/>
			{% endif %}
		{%else%}
			<!-- 自分の投稿したコメントの削除 -->
			{% if user %}
				{% ifequal user.user_id entry.com.user_id %}
					<input type="button" value="削除"  class="g-button" onclick="confirm_action_comment('{{host}}del_ent?entry_key={{entry.com.key}}&amp;bbs_key={{bbs_key}}&amp;thread_key={{thread.key}}');"/>
				{% endifequal %}
			{% endif %}
		{%endif%}

		{%ifequal bbs.disable_normal_reply 1 %}
		{%else%}
			{%if show_comment_form %}
				<input type="button" value="返信" class="g-button" onclick="show('{{ entry.com.key }}');"/>
			{% endif %}
		{%endifequal%}
		</div>
		</div>

<br/>
<!-- 絵で返信 -->
{% if entry.com.illust_reply %}
	{% if entry.com.violate_terms %}
		[大変申し訳ありませんが、ご利用規約の制約からイラストが非表示になっています]<br/>
		[ご利用規約は <a href="http://www.illustbook.net/terms">http://www.illustbook.net/terms</a> からご確認頂けます]<br/><br/>
	{% else %}
		<img src="{{host}}img/{{entry.com.illust_reply_image_key.key}}.jpg" border="0" {% if is_iphone %} style="max-width:100%;"{%endif%}/><br/>
	{% endif %}
{% endif %}

<!-- 通常コメント -->
{% if entry.com.hidden_flag %}
	このコメントは非表示に設定されています。
{% else %}
	{{entry.com.content|safe}}
{% endif %}

<!-- レス -->
{% if not entry.com.hidden_flag %}
{% for res in entry.res_list %}
	<div style="margin:16px 2px 16px 40px;">
		<hr/>
		<div class="actions g-button-container">
		投稿者：{{res|author_name_comment:host|safe}}　投稿日：{{res.date|time_JST_progress}}
		{% if res.comment_no %}　投稿番号：{{res.comment_no}}{%endif%}
			<div class="g-button-group" style="float:right;">
			{% if forloop.first and is_admin %}
				<input type="button" value="一括"  class="g-button" onclick="confirm_action_comment('{{host}}del_res?entry_key={{entry.com.key}}&amp;res_key=all');"/>
			{% endif %}
			{%if is_admin or edit_flag %}
				<input type="button" value="削除"  class="g-button" onclick="confirm_action_comment('{{host}}del_res?entry_key={{entry.com.key}}&amp;res_key={{res.key}}');">
			{% else %}
				{% if user %}
					{% ifequal user.user_id res.user_id %}
						<input type="button" value="削除"  class="g-button" onclick="confirm_action_comment('{{host}}del_res?entry_key={{entry.com.key}}&amp;res_key={{res.key}}');">
					{% endifequal %}
				{% endif %}
			{% endif %}
			{% if forloop.last %}
				{%if show_comment_form %}
					<input type="button" value="返信"  class="g-button" onclick="show('{{ entry.com.key }}');">
				{%endif%}
			{% endif %}
			</div>
		</div>
	<br/>{{res.content|safe}}<br/><br/>
	</div>
{% endfor %}
{% endif %}

<div id="layer_{{ entry.com.key }}" style="display: none;position:relative;" class="close">
<br/>
<form action='http://localhost/' enctype="multipart/form-data" method="post" onsubmit="this.action='{{host}}add_res?entry_key={{ entry.com.key }}&amp;seed={{0|set_seed}}';">
<table class="table_color">
<tr><td>名前（必須）</td>
<td><input type="text" name="author" maxlength="50" value="{{user_name}}"/>
{% if logined %}
	<input name="link_to_profile" type="checkbox" checked="checked"/>マイページにリンク
{% else %}
	マイページにリンクするにはログインして下さい
{% endif %}
</td>
</tr>
<tr><td>コメント（必須）</td>
<td><textarea name="comment" rows="10" cols="40" style="width:100%;"></textarea></td></tr>
<tr><td></td><td>
	<input type="hidden" name="redirect_url" value="{{redirect_url}}"/>
	<input type="submit" value="コメントを投稿する"  class="g-button"/>
</td></tr>
</table>
</form>
</div>
{% endif %}
{% endfor %}
</div>
{% endif %}