<div id="contents-header">
	<div id="contents-header-edit">
		{% if template_path %}
			<p><a href='{{usrhost}}'>
		{% else %}
			<a href='{{usrhost}}' class="g-button" style="color:#333;"><i class="icon-chevron-left"></i>
		{% endif %}

		{% if is_iphone %}
			{% if bbs.tweet_disable %}
				{{bbs.bbs_name|truncate(16,true)}}
			{% else %}
				{{bbs.bbs_name|truncate(7,true)}}
			{% endif %}
		{% else %}
			{{bbs.bbs_name}}
		{% endif %}
		へ戻る
	
		{% if template_path %}
			</a></p>
		{% else %}
			</a>
		{% endif %}
	</div>
	<div id="contents-header-edit" style="float:right;" align="right">
		{%if not bbs.tweet_disable %}
		　{% include "bbs_thread/tweet.html" %}
		{%endif%}
	</div>
	<div class="clr"></div>
</div>
