<div id="contents-header">
	<div id="contents-header-edit">
		{% if template_path %}
			<p><a href='{{usrhost}}'>
		{% else %}
			<a href='{{usrhost}}'>
		{% endif %}

		{% if is_english %}
			Back to BBS
		{% else %}
			{% if is_iphone %}
				{% if bbs.tweet_disable %}
					{{bbs.bbs_name|truncate(16,true)}}
				{% else %}
					{% if template_path %}
						{{bbs.bbs_name|truncate(10,true)}}
					{% else %}
						{{bbs.bbs_name|truncate(7,true)}}
					{% endif %}
				{% endif %}
			{% else %}
				{{bbs.bbs_name}}
			{% endif %}
			へ戻る
		{% endif %}
	
		{% if template_path %}
			</a></p>
		{% else %}
			</a>
		{% endif %}
	</div>
	<div id="contents-header-edit" style="float:right;" align="right">
	</div>
	<div class="clr"></div>
</div>
