{%if bbs.comment_rule_enable %}
	<div class="entry">
	コメントルール<hr/>
	{{bbs.comment_rule|safe}}
	</div>
{% endif %}

{% if thread.prohibit_comment %}
	<div class="entry">
	現在、このイラストへのコメントは禁止されています。詳細は運営までお問い合わせ下さい。
	</div>
{% endif %}

{%if not bbs.disable_normal_reply %}
	{%if show_comment_form %}
<div class="entry">
		<form action='http://localhost/' enctype="multipart/form-data" method="post" onsubmit="this.action='{{host}}add_entry?bbs_key={{ bbs.key }}&thread_key={{ thread.key }}';">
			<table class="table_color">
			<tr><td>名前（必須）</td>
			<td>
				<input type="text" name="author" maxlength="50" value="{{user_name}}"/>
				{% if logined %}
					<input name="link_to_profile" type="checkbox" checked/>マイページにリンク
				{% else %}
					マイページにリンクするにはログインして下さい
				{% endif %}
			</td></tr>
			{% if logined %}
			{% else %}
			<tr><td>ホームページアドレス</td>
			<td>
				<input type="text" name="homepage_addr" maxlength="50" value="http://"/>
			</td></tr>
			{% endif %}
			<tr><td>コメント（必須）</td>
			<td>
				<textarea name="comment" rows="10" cols="60" style="width:100%;"></textarea>
			</td></tr>
			<tr><td></td><td>
			<input type="hidden" name="redirect_url" value="{{redirect_url}}"/>
			<input type="submit" value="コメントを書き込む" class="g-button"/>
			</td></tr>
		</table>
	</form>
</div>
	{%endif%}
{%endif%}

{%if show_comment_form %}
	{%if bbs.enable_illust_reply or bbs.enable_illust_reply_continue %}
		<div class="entry">
	{%endif%}
	
	{%ifequal bbs.enable_illust_reply 1 %}
		<div class="g-button">
		<input type="text" id="canvas_width_{{thread.key}}" value="{{bbs.illust_reply_width}}" maxlength="3" size="3"/><i class="icon-remove"></i><input type="text" id="canvas_height_{{thread.key}}" value="{{bbs.illust_reply_height}}" maxlength="3" size="3"/>px
		</div>
		<input type="button" value="絵でコメント" class="g-button" onclick="open_draw('',1,'{{host}}','{{thread.key}}','{{bbs.key}}',{{thread.illust_mode}});"/>
	{% endifequal %}
	
	{%ifequal thread.illust_mode 1 %}
		{%ifequal bbs.enable_illust_reply_continue 1 %}
			<input type="button" value="絵で続きからコメント"  class="g-button" onclick="open_draw('{{thread.image}}',1,'{{host}}','{{thread.key}}','{{bbs.key}}',{{thread.illust_mode}});"/>
		{% endifequal %}
	{%endifequal %}

	{%if bbs.enable_illust_reply or bbs.enable_illust_reply_continue %}
		</div>
	{%endif%}
{% endif %}

{%if bbs.comment_login_require %}
	{% if not logined %}
		<div class="entry">
		ログインしてコメントを書き込む<hr/>
		この掲示板では、コメントを書き込む際にログインが必要です。<br/><br/>
		</div>
	{% endif %}
{%endif%}