/*-------------------------------------
ユーザ変更可能要素
*/

{% if user_css %}
	{{user_css.css_code|safe}}
{% else %}
	{% include 'template_custom/style_user.htm' %}
{% endif %}

/*-------------------------------------
システム要素
*/

/* 画像リンクボーダー */
img {
	max-width:100%;
	border: none;
}

/* floatクリア */
.clr {
	clear: both;
	height: 0px;
	font-size: 0px;
	line-height: 0em;
}

/* 画像からのリンク */
a.decnone_top_logo,a.imagelink {
	border-bottom: 0px;
}

/*-------------------------------------
iPhoneの場合
*/

{% if is_iphone %}

#container {
 width:320px;
}

#contents_all,#contents,#contents-header,#header,#contents-footer {
 width:308px;
 margin-left:6px;
 margin-right:6px;
 padding-left:0px;
 padding-right:0px;
}

#main_2col,#main_1col{
 width:308px;
 margin-left:0px;
 margin-right:0px;
 padding-left:0px;
 padding-right:0px;
}

#entry-head,#entry-bottom{
 padding-left:0px;
 padding-right:0px;
}

.entry{
 padding-left:0px;
 padding-right:0px;
}

#side {
 display:none;
}

{% endif %}
