<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% include "viewport.html" %}
	<title>{% if is_english %}Alert - ILLUSTBOOK{% else %}アラート　-　イラストブック{% endif %}</title>
{% include "meta.html" %}
{% include "css/floating_menu_css.html" %}
{% include "css/pinterest.css" %}
{% include "css/google_button.html" %}
</head>

<body>

{% include "floating_menu.html" %}

<div id="container">
	<div id="contents">
		<div class="message">
			<p>{{alert_msg|safe}}</p>
		</div>
	</div>
</div>

  {% include "jquery.html" %}

</body>

</html>

