<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% if is_iphone %}
<meta name="viewport" content="width=device-width">
{% endif %}
	<title>{% if is_english %}Alert - ILLUSTBOOK{% else %}アラート　-　イラストブック{% endif %}</title>
	<link rel="stylesheet" type="text/css" media="screen,print" href="{{host}}static_files/general/css/top.css" />
{% if is_iphone %}
	{% include "portal_css/css_iphone.html" %}
{% else %}
	{% include "portal_css/css_pc.html" %}
{% endif %}
</head>

<body>
	
<div id="container">
	<div id="contents">
		<p>&nbsp</p>
		<p>{{alert_msg|safe}}</p>
	</div>
	<div id="footer">
		{% include 'footer.html' %}
	</div>
</div>

</body>

</html>

