<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<title>{% if is_english %}Analyze {% endif %}{{page_name}}{% if not is_english %}のアクセス解析 - イラストブック{% endif %}</title>
	{% include "css/portal.css" %}
</head>

<body onload="update('{{analyze_data|safe}}');">
<div id="container">
<div id="contents">

<p>&nbsp;</p>

{% if not show_analyze %}

<p>{% if is_english %}Login require{% else %}アクセス解析の閲覧にはログインが必要です。{% endif %}</p>

{% else %}

<div class="entry">
<H1>{% if is_english %}Analyze {% endif %}{{page_name}}{% if not is_english %}のアクセス解析（直近256アクセスからの分析）{% endif %}</H1>
</div>

<div class="entry">
<H1>{% if is_english %}Access from{% else %}アクセス元{% endif %}</H1>
<div id="access"></div>
<p>&nbsp;</p>
</div>

<div class="entry">
<H1>{% if is_english %}Hot contents{% else %}人気コンテンツ{% endif %}</H1>
<div id="content"></div>
<p>&nbsp;</p>
</div>

<div class="entry">
<H1>{% if is_english %}Search word{% else %}検索語{% endif %}</H1>
<div id="search"></div>
<p>&nbsp;</p>
</div>

{% if not is_english %}
<div class="entry">
<H1>アクセス数</H1>
<p>本日のアクセス数は{{bbs.counter.today_cnt}}、
昨日のアクセス数は{{bbs.counter.yesterday_cnt}}でした。</p>
<p>&nbsp;</p>
</div>
{% endif %}

{% if bbs %}
<div class="entry">
<div class="g-button-group">
<a href="./usr/{{bbs.key()}}/" class="g-button">{% if is_english %}Back to BBS{% else %}{{page_name}}へ戻る{% endif %}</a>
{% if user %}
　<a href="./analyze?bbs_key={{bbs.key()}}&mode=delete" class="g-button">{% if is_english %}Delete analyze data{% else %}解析結果の初期化{% endif %}</a>
{% endif %}
</div>
</div>
{% endif %}

<script language="javascript" src="{{host}}js/analyze.js" type="text/javascript"></script>

{% endif %}

</div>
</div>

</body>
</html>

