<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	{% include "viewport.html" %}
	<title>{% if is_english %}Analyze {% endif %}{{page_name}}{% if not is_english %}のアクセス解析 - イラストブック{% endif %}</title>
	{% include "css/portal.css" %}

	{% if access_list %}
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
		google.load("visualization", "1", {packages:["corechart"]});
		google.setOnLoadCallback(drawChart);
		function drawChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Date');
			data.addColumn('number', 'Pageviews');
			data.addRows({{access_list|length}});
			{% for access in access_list %}
				data.setValue({{loop.index-1}},0,'{{access["ga:date"]}}');
				data.setValue({{loop.index-1}},1,{{access["ga:pageviews"]}});
			{% endfor %}
			var chart = new google.visualization.LineChart(document.getElementById('chart'));
			chart.draw(data, {width: '100%', height: 300});//, title: 'アクセス数の推移'});//, vAxis: {minValue: 0}});
		}
	</script>
	{% endif %}

	{% include "css/floating_menu_css.html" %}

	<style>
		.col_header{
			float:left;
			text-align: right;
			margin-right:8px;
			width:48px;
			color:#ea5376;
			font-size:12px;
		}
		.col_content{
			float:left;
			font-size:12px;
		}
	</style>
</head>

<body>

{% include "floating_menu.html" %}

<div id="container">
<div id="contents">

<p>&nbsp;</p>

<div class="entry">
	<h1>{% if is_english %}Analyze {% endif %}{{page_name}}{% if not is_english %}のアクセス解析{% endif %}</h1>
</div>

{% if quota_error or not show_analyze%}

	<div class="entry">
		{% if quota_error %}
		<p>
			{% if is_english %}
				Quota error. Please access tomorrow.
			{% else %}
				Google Analytics APIのQuotaを超えました。一日後にアクセスして下さい。
			{% endif %}
		</p>
		{% else %}
		<p>{% if is_english %}Login require{% else %}アクセス解析の閲覧にはログインが必要です。{% endif %}</p>
		{% endif %}
	</div>

{% else %}

<div class="entry" style="word-break:break-all;">
	<div style="float:left">
	<div class="g-button-group toggle-buttons">
	<a href="{{host}}{{redirect_api}}mode=access" class="g-button {%if mode == "access"%}checked{%endif%}">{% if is_english %}Access{%else%}アクセス数{% endif %}</a>
	<a href="{{host}}{{redirect_api}}mode=ref" class="g-button {%if mode == "ref"%}checked{%endif%}">{% if is_english %}Referer{%else%}参照元{% endif %}</a>
	<a href="{{host}}{{redirect_api}}mode=page" class="g-button {%if mode == "page"%}checked{%endif%}">{% if is_english %}Page{%else %}人気{% if not is_iphone %}ページ{% endif %}{% endif %}</a>
	  <a href="{{host}}{{redirect_api}}mode=keyword" class="g-button {%if mode == "keyword"%}checked{%endif%}">{% if is_english %}Keyword{%else %}検索{% if not is_iphone %}キーワード{% endif %}{% endif %}</a>
	</div>
	</div>

	<div style="float:left;margin-left:{% if is_iphone %}4px;{% else %}16px;{% endif %}">
	<form method="get" action="{{host}}analyze">
		<input type="hidden" name="bbs_id" value="{{bbs_id}}"/>
		<input type="hidden" name="bbs_key" value="{{bbs.key()}}"/>
		<input type="hidden" name="mode" value="{{mode}}"/>
		<input name="start_date" value="{{start_date}}" size="12"/> - 
		<input name="end_date" value="{{end_date}}" size="12"/>
		<input type="submit" value="{% if is_english %}Set{%else%}期間指定{% endif %}" class="g-button" style="margin-left:4px;"/>
	</form>
	</div>

{#
	<div style="float:left;margin-left:{% if is_iphone %}4px;{% else %}16px;{% endif %}">
	<a href="./usr/{{bbs.key()}}/" class="g-button">{% if is_english %}Back{% else %}{{page_name}}に戻る{% endif %}</a>
	</div>
#}

	<br clear="all"/>
</div>

<div class="entry" style="word-break:break-all;margin:4px;margin-top:16px;">

{% if access_list %}
	<div id="chart"></div>
{% endif %}

{% if ref_list %}
	{% for ref in ref_list %}
		<div class="col_header"><p>
			{{ ref["ga:pageviews"] }}
		</p></div>
		<div class="col_content">
			<p><a href="http://{{ ref["ga:source"] }}{% if ref["ga:referralPath"]!="(not set)" %}{{ ref["ga:referralPath"] }}{% endif %}" target="_BLANK">{{ ref["ga:source"] }}{% if ref["ga:referralPath"]!="(not set)" %}{{ ref["ga:referralPath"] }}{% endif %}</a></p>
		</div>
		<br clear="all"/>
	{% endfor %}
{% endif %}

{% if page_list %}
	{% for ref in page_list %}
		<div class="col_header">
			<p>{{ ref["ga:pageviews"] }}</p>
		</div>
		<div class="col_content">
			<p><a href="http://www.illustbook.net{{ ref["ga:pagePath"] }}" target="_BLANK">{{ ref["ga:pageTitle"] }}</a></p>
		</div>
		<br clear="all"/>
	{% endfor %}
{% endif %}

{% if keyword_list %}
	{% for ref in keyword_list %}
		<div class="col_header"><p>{{ ref["ga:pageviews"] }}</p></div>
		<div class="col_content"><p>{{ ref["ga:keyword"] }}</p></div>
		<br clear="all"/>
	{% endfor %}
{% endif %}

</div>

{#
{% if not is_english %}
<div class="entry">
	<H1>カウンター</H1>
	<p>本日のアクセス数は{{bbs.counter.today_cnt}}、
	昨日のアクセス数は{{bbs.counter.yesterday_cnt}}でした。</p>
	<p>&nbsp;</p>
</div>
{% endif %}
#}

<script language="javascript" src="{{host}}js/analyze.js" type="text/javascript"></script>

{% endif %}

</div>
</div>

</body>
</html>

