<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<title>{{page_name}}のアクセス解析 - イラストブック</title>
{% if is_iphone %}
	{% include "portal_css/css_iphone.html" %}
{% else %}
	{% include "portal_css/css_pc.html" %}
{% endif %}
</head>

<body onload="update('{{analyze_data|safe}}');">
<div id="container">
<div id="contents">

<p>&nbsp;</p>

{% if not show_analyze %}

<p>アクセス解析の閲覧にはログインが必要です。</p>

{% else %}

<div class="entry">
<H1>{{page_name}}のアクセス解析（直近256アクセスからの分析）</H1>
</div>

<div class="entry">
<H1>アクセス元</H1>
<div id="access"></div>
<p>&nbsp;</p>
</div>

<div class="entry">
<H1>人気コンテンツ</H1>
<div id="content"></div>
<p>&nbsp;</p>
</div>

<div class="entry">
<H1>検索語</H1>
<div id="search"></div>
<p>&nbsp;</p>
</div>

<div class="entry">
<H1>アクセス数</H1>
<p>本日のアクセス数は{{bbs.counter.today_cnt}}、
昨日のアクセス数は{{bbs.counter.yesterday_cnt}}でした。</p>
<p>&nbsp;</p>
</div>

{% if bbs %}
<div class="entry">
<div class="g-button-group">
<a href="./usr/{{bbs.key()}}/" class="g-button">{{page_name}}へ戻る</a>
{% if user %}
　<a href="./analyze?bbs_key={{bbs.key()}}&mode=delete" class="g-button">解析結果の初期化</a>
{% endif %}
</div>
</div>
{% endif %}

<script language="javascript" src="{{host}}js/analyze.js" type="text/javascript"></script>

{% endif %}

</div>
</div>

</body>
</html>

