<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<title>{% if now_category %} {{now_category}} - {% endif %}{{bbs.bbs_name}}</title>
{% include "./bbs_thread/meta.html" %}
{% include "./bbs_thread/css.html" %}
</head>
<body>
{% include "floating_menu.html" %}
<div id="container">
	{% if not contents_only %}
		<!-- ヘッダ -->
		<div id="header">
			{% include "bbs/bbs_header.html" %}
		</div>

		<!-- トップメニュー -->
		{% include "bbs/bbs_top_menu.html" %}
	{% endif %}

	<!-- コンテンツ -->
	<div id="contents" style="margin-bottom:0px;">
		<!-- メインエリア -->
		{% if template_path %}
			<div id="main">
		{% else %}
			{% if bbs.in_frame_mode or is_iphone %}
			<div id="main_1col">
			{% else %}
			<div id="main_2col">
		{% endif %}
		{% endif %}

			<!-- メンテナンス中 -->
			{% if is_maintenance %}
				<h2>メンテナンスモードで稼動しています。現在、新規投稿はできません。</h2><br/>
			{% endif %}
			{% if message %}
				<h2>{{message}}</h2><br/>
			{% endif %}

			<!-- 並びかえ・ページ -->
			{#
			{% if not contents_only %}
				<div id="entry-head">
					<div style="float:left;">
						{% include "bbs/bbs_order.html" %}
					</div>
					{% if not is_iphone %}
					<div id="rss" style="margin-top:3px;">
						{% include "bbs/bbs_rss.html" %}
					</div>
					{% endif %}
					<div class="clr"></div>
				</div>
			{% endif %}
			#}

			{% if not contents_only %}
				{% if bbs.bbs_mode == 3 %}
					{% include 'bbs/bbs_new_thread.html'%}
				{% endif %}
			{% endif %}

			<!--イラストが存在しない場合-->
			{% include "bbs/bbs_no_illust.html" %}
	
			{% if infinite_scroll %}
			<div id="infinite-scroll-container" class="transitions-enabled infinite-scroll clearfix">
			{% endif %}

			<!--イラストループ-->
			{% if order == "thumbnail" %}
				<!-- サムネイル -->
				{% include 'bbs/bbs_show_thumbnail.html' %}
			{% else%}
				<!-- エントリー -->

				{% if bbs.bbs_mode == 3 and threads%}
					<div class="entry">
				{% endif %}

				{% for thread in threads %}
					{% if loop.index == 2 and not contents_only %}
						<!--広告を一つ目の記事の後に入れる-->
						{% if bbs.bbs_mode != 3 %}
							<div class="entry mobile_ad">
								{% include 'adsense/adsense_wide.html' %}
							</div>
						{% endif %}
					{%endif%}
			
					<!--イラスト一つ-->
					{% if thread %}
						{% include "bbs/bbs_entry.html" %}
					{% endif %}
				{% endfor %}

				{% if bbs.bbs_mode == 3 and threads%}
					<!--空白を入れる-->
					<br clear="all"/>
					</div>
				{% endif %}

			{% endif%}

			{% if infinite_scroll %}
			</div>
			{% endif %}

			<!-- ページ -->
			{% if not infinite_scroll %}
			<div id="entry-bottom">
				{% if is_iphone %}
					{% include "bbs/bbs_page_no.html" %}
				{% else %}
					{% include "bbs/bbs_order.html" %}
				{% endif %}
			</div>
			{% endif %}
		</div>

		<!-- サイドバー -->
		{% if not contents_only %}
			{% include "bbs/bbs_sidebar.html" %}
		{% endif %}
		<div class="clr"></div>
	</div>
	<!-- フッタ -->
	{% if not contents_only %}
		{% include 'footer.html' %}
	{% endif %}
</div>

{% if infinite_scroll %}
<div id="page-nav">
	<!-- page must be 2 for inf-scroll path detecter -->
	<a href="{{page_url_base}}2&amp;is_iphone={{is_iphone}}&amp;contents_only=1"></a>
</div>
{% endif %}

<div id="back-top">
  <a href="#top">TOP</a>
</div>

<!-- java script -->
{% if not contents_only %}
	{% include "jquery.html" %}
	<script language="javascript" src="{{host}}js/bbs.js" type="text/javascript"></script>
	<script language="javascript" src="{{host}}js/thread.js" type="text/javascript"></script>
	<script language="javascript" src="{{host}}js/infinite_scroll.js" type="text/javascript"></script>
	{% if infinite_scroll %}
		<script type="text/javascript">
		$(document).ready(function(){
			infinite_scroll_initialize('{{infinite_scroll_selecter}}',"{{use_masonry}}"=="True","{{host}}",{{page}},{% if is_english %}true{% else %}false{% endif %});
		});
		</script>
	{% endif %}
{% endif %}

<!-- fix sidevbar -->
{% if not contents_only and not bbs.in_frame_mode and not is_iphone %}

<script type="text/javascript">
$(function(){
	var margin_px=4;
	var contentHeight = $("html, body").height();
	var windowHeight = $(window).height();
	var target = $("#side");
	var targetHeight = target.outerHeight() + margin_px;
	var targetPosition = target.position();
	$(window).resize(function(){
		windowHeight = $(this).height();
	});
	$(window).scroll(function(){
		var scrollTop = $(this).scrollTop();
		var visibleBottom = scrollTop + windowHeight;
		var targetBottom = targetPosition.top + targetHeight;

		if(targetHeight<windowHeight){
			if(targetPosition.top<scrollTop+margin_px){
				target.css({position:"fixed", left:targetPosition.left, top: margin_px});
			} else {
				target.css({position:"static", left: "auto", bottom: "auto"});
			}
		 }else{
		 	if(targetBottom<=visibleBottom){
				target.css({position:"fixed", left:targetPosition.left, top: windowHeight-targetHeight});
			} else {
				target.css({position:"static", left: "auto", bottom: "auto"});
			}
		 }
	});
});
</script>

{% endif %}

</body>
</html>
