<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<title>{{bbs.bbs_name}}</title>
{% include "./bbs_thread/meta.html" %}
{% include "./bbs_thread/css.html" %}
{% include "floating_menu_css.html" %}
{% if infinite_scroll %}
	{% include "pinterest/infinite_scroll.js" %}
{% endif %}
</head>
<body>
{% include "floating_menu.html" %}
<div id="container">
	<!-- メンテナンス中 -->
	{% if is_maintenance %}
		メンテナンスモードで稼動しています。現在、新規投稿はできません。<BR>
	{% endif %}

	<!-- ヘッダ -->
	<div id="header">
		{% include "bbs/bbs_header.html" %}
	</div>

	<!-- トップメニュー -->
	{% include "bbs/bbs_top_menu.html" %}

	<!-- コンテンツ -->
	<div id="contents" style="margin-bottom:0px;">
		<!-- メインエリア -->
		{% if template_path %}
			<div id="main">
		{% else %}
			{% if bbs.in_frame_mode %}
			<div id="main_1col">
			{% else %}
			<div id="main_2col">
		{% endif %}
		{% endif %}
			<!-- 並びかえ・ページ -->
			<div id="entry-head">
				<div style="float:left;"><!-- id="page-head">-->
					{% include "bbs/bbs_order.html" %}
				</div>
				{% if not is_iphone %}
				<div id="rss" style="margin-top:3px;">
					{% include "bbs/bbs_rss.html" %}
				</div>
				{% endif %}
				<div class="clr"></div>
			</div>

			{% if bbs.bbs_mode == 3 %}
				<!--空白を入れる（昔は広告だった）-->
				<div class="entry">
				</div>
			{% endif %}

			{% if bbs.disable_content_image  %}
				{% if not is_iphone %}
					<div class="entry">
						{% include 'adsense/adsense_wide.html' %}
					</div>
				{% endif %}
			{% endif %}
	
			<!--イラストが存在しない場合-->
			{% include "bbs/bbs_no_illust.html" %}
	
			<!--イラストループ-->
			{% if order == "thumbnail" %}
				<!-- サムネイル -->
					{% include 'bbs/bbs_show_thumbnail.html' %}
			{% else%}
				<!-- エントリー -->
				{% if infinite_scroll %}
				<div id="infinite-scroll-container" class="transitions-enabled infinite-scroll clearfix">
				{% endif %}
				{% for thread in threads %}
					{% if loop.index == 2 %}
						<!--広告を一つ目の記事の後に入れる-->
						{% if bbs.bbs_mode != 3 %}
							{% if not bbs.disable_content_image %}
								<div class="entry mobile_ad">
									{% include 'adsense/adsense_wide.html' %}
								</div>
							{% endif %}
						{% endif %}
					{%endif%}
			
					<!--イラスト一つ-->
					{% include "bbs/bbs_entry.html" %}
				{% endfor %}
				{% if infinite_scroll %}
				</div>
				{% endif %}
			{% endif%}
			
			{% if bbs.bbs_mode == 3 %}
				<!--空白を入れる-->
				<div class="entry">
				</div>
			{% endif %}

			<!-- ページ -->
			{% if not infinite_scroll %}
			<div id="entry-bottom">
				<!-- <div id="page-bottom"> -->
				{% if is_iphone %}
					{% include "bbs/bbs_page_no.html" %}
				{% else %}
					{% include "bbs/bbs_order.html" %}
				{% endif %}
				<!-- </div> -->
			</div>
			{% endif %}

			<!-- サイドバー非表示時の要素 -->
			{% include 'bbs/bbs_new_thread.html'%}　
		</div>

		<!-- サイドバー -->
		{% include "bbs/bbs_sidebar.html" %}
		<div class="clr"></div>
	</div>
	<!-- フッタ -->
	{% if template_path %}
		{% include 'footer.html' %}
	{% endif %}
</div>

{% if infinite_scroll %}
<div id="page-nav">
	<a href="{{page_url_base}}{{page+1}}"></a>
</div>
<div id="back-top">
  <a href="#top">TOP</a>
</div>
{% endif %}

{% if not template_path %}
	{% include 'footer.html' %}
{% endif %}

<script language="javascript" src="{{host}}js/bbs.js" type="text/javascript"></script>
<script language="javascript" src="{{host}}js/thread.js" type="text/javascript"></script>

</body>
</html>
