<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% include "viewport.html" %}
<title>「{{bbs.bbs_name}}」のイラストの管理｜イラストブック</title>
{%include "meta.html" %}
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="Copyright" content="Copyright: ABARS" />
{% include "css/portal.css" %}
{% include "css/floating_menu_css.html" %}
</head>
<body>

{% include "floating_menu.html" %}

<script type="text/javascript">
	var delete_exec=false;

	function confirm_delete(is_english){
		if(!delete_exec){
			$("#del_thread_list").submit();
			return;
		}

		var mes="本当にイラストを削除してもよろしいですか？";
		if(is_english){
			mes="Are you sure you want to delete?";
		}
		if(confirm(mes)){
			mes="削除したイラストは復旧できません。本当によろしいですか？";
			if(is_english){
				mes="This operation cannot be undone.Are you sure you want to delete?";
			}
			if(confirm(mes)){
				$("#del_thread_list").submit();
			}
		}
	}

	function category_change(thread_key,category){
		document.getElementById("category_update").value+=""+thread_key+":"+category+"/";
	}

	function link_change(thread_key,checked){
		document.getElementById("link_update").value+=""+thread_key+"/";
	}

	function delete_change(){
		delete_exec=true;
	}
</script>

<div id="container">
	<p>&nbsp</p>
	<div id="contents">
		{% if deleted_count %}
			<p>{% if is_english %}Complete.{%else%}{{deleted_count}}件のイラストを削除しました。{% endif %}</p>
		{% endif %}
		{% if category_count %}
			<p>{% if is_english %}Complete.{% else %}{{category_count}}件のカテゴリを変更しました。{% endif %}</p>
		{% endif %}
		{% if link_count %}
			<p>{% if is_english %}Complete.{% else %}{{link_count}}件のリンクを変更しました。{% endif %}</p>
		{% endif %}
		<p>{% if is_english %}You can delete multiple illust.{% else %}イラストの管理では、イラストの削除{% if not is_iphone %}とカテゴリの変更{% endif %}が行えます。{% endif %}</p>

		<div class="g-button-group">
			<a class="g-button dropdown-toggle" data-toggle="dropdown" href="#">
			{%if order == "new"%}
			{% if is_english %}New{% else %}新しい順{% endif %}
			{%else%}
			{% if is_english %}Old{% else %}古い順{% endif %}
			{%endif%}
			<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
			{%if order == "new"%}
				<li><a href="{{host}}edit_thread_list?bbs_key={{bbs.key()}}&order=old">{% if is_english %}Old{% else %}古い順{% endif %}</a></li>
			{%else%}
				<li><a href="{{host}}edit_thread_list?bbs_key={{bbs.key()}}&order=new">{% if is_english %}New{% else %}新しい順{% endif %}</a></li>
			{%endif%}
			</ul>

			<a href="{{host}}edit_thread_list?bbs_key={{bbs.key()}}&amp;page={{page-1}}&amp;order={{order}}" class="g-button no-text {%if page == 1%}disabled2{%endif%}">{% if is_english %}Previous{% else %}前のページ{% endif %}</a>
			<a href="{{host}}edit_thread_list?bbs_key={{bbs.key()}}&amp;page={{page+1}}&amp;order={{order}}" class="g-button no-text">{% if is_english %}Next{% else %}次のページ{% endif %}</a>
		</div>

		<p>&nbsp;</p>

		<form method="post" action="{{host}}edit_thread_list" id="del_thread_list">
		<input type="hidden" name="bbs_key" value="{{bbs.key()}}"/>
		<input type="hidden" name="page" value="{{page}}"/>
		<input type="hidden" name="order" value="{{order}}"/>
		<table class="g-table">
			<tr><th>{% if is_english %}Title{% else %}タイトル{% endif %}</th><th>{% if is_english %}Thumbnail{% else %}サムネイル{% endif %}</th><th>{% if is_english %}Author{%else %}投稿者{% endif %}</th><th>{% if is_english %}Link{%else %}リンク{% endif %}</th><th>{% if is_english %}Date{% else %}投稿日{% endif %}</th>
			{% if not is_iphone %}
				<th>{% if is_english %}Category{% else %}カテゴリ{% endif %}</th>
			{% endif %}
			<th>{% if is_english %}Delete{% else %}削除{% endif %}</th></tr>
		{% for thread in thread_list %}
		<tr><td>
			<a href="{{host}}{{bbs.short}}/{{thread.key()}}.html" target="_blank">
				<p>{{thread.title}}</p>
			</a>
		</td><td>
		{% if thread.image_key %}
			<a href="{{host}}{{bbs.short}}/{{thread.key()}}.html" target="_blank">
			<img src="{{host}}thumbnail/{{thread|image_key_with_except}}.jpg" width="40px" height="40px"/>
			</a>
		{% endif %}
		</td>
		<td>{{thread.author}}</td>
		<td><input type="checkbox" value="{{thread.key()}}" {%if thread.user_id %}checked{% endif %} onchange="link_change('{{thread.key()}}',this.checked);"/></td>
		<td>{% if is_english %}{{thread.create_date|time_UTC_progress}}{% else %}{{thread.create_date|time_JST_progress}}{% endif %}</td>
	{% if not is_iphone %}
		<td>
			<select style="margin-bottom:0px;" onchange="category_change('{{thread.key()}}',this.value);">
				<option value="" {% if not thread.category %}selected="selected"{% endif %}>{% if is_english %}-{% else %}設定しない{% endif %}</option>
				{% for category in category_list %}
					{% if category.category == "" %}{% else %}
						<option value="{{category.category}}" {% if thread.category == category.category %}selected="selected"{% endif %}>{{category.category|truncate_category}}</option>
					{% endif %}
				{% endfor %}
			</select>
		</td>
	{% endif %}
		<td><input type="checkbox" name="thread_list" value="{{thread.key()}}" onchange="delete_change();"/></td></tr>
		{% endfor %}
		</table>
		<br/>

			<input name="category_update" id="category_update" value="" type="hidden"/>
			<input name="link_update" id="link_update" value="" type="hidden"/>

			<a href="javascript:confirm_delete({% if is_english %}true{% else %}false{% endif %});" class="g-button">{% if is_english %}Update{% else %}変更の反映{% endif %}</a>　
		</form>
	</div>
</div>
</body>
</html>
