<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% if is_iphone %}
<meta name="viewport" content="width=device-width">
{% endif %}
<title>「{{bbs.bbs_name}}」のイラストの管理｜イラストブック</title>
{%include "meta.html" %}
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="Copyright" content="Copyright: ABARS" />
{% if is_iphone %}
	{% include "portal_css/css_iphone.html" %}
{% else %}
	{% include "portal_css/css_pc.html" %}
{% endif %}
{% include "css/floating_menu_css.html" %}
</head>
<body>

{% include "floating_menu.html" %}

<script type="text/javascript">
	function confirm_delete(){
		if(confirm("本当にイラストを削除してもよろしいですか？")){
			if(confirm("削除したイラストは復旧できません。本当によろしいですか？")){
				$("#del_thread_list").submit();
			}
		}
	}
</script>

<div id="container">
	<p>&nbsp</p>
	<div id="contents">
		{% if deleted_count %}
			<p>{{deleted_count}}件のイラストを削除しました。</p>
		{% endif %}
		<p>削除するイラストを選択して下さい。<p/>

		<div class="g-button-group">
			<a class="g-button dropdown-toggle" data-toggle="dropdown" href="#">
			{%if order == "new"%}
			新しい順
			{%else%}
			古い順
			{%endif%}
			<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
			{%if order == "new"%}
				<li><a href="{{host}}edit_thread_list?bbs_key={{bbs.key()}}&order=old">古い順</a></li>
			{%else%}
				<li><a href="{{host}}edit_thread_list?bbs_key={{bbs.key()}}&order=new">新しい順</a></li>
			{%endif%}
			</ul>
		</div>

		<p>&nbsp;</p>

		<form method="post" action="{{host}}edit_thread_list" id="del_thread_list">
		<input type="hidden" name="bbs_key" value="{{bbs.key()}}"/>
		<input type="hidden" name="page" value="{{page}}"/>
		<input type="hidden" name="order" value="{{order}}"/>
		<table class="g-table">
			<tr><th>タイトル</th><th>サムネイル</th><th>投稿者</th><th>投稿日</th><th>削除</th></tr>
		{% for thread in thread_list %}
		<tr><td>
			<a href="{{host}}{{bbs.short}}/{{thread.key()}}.html" target="_blank">
				<p>{{thread.title}}</p>
			</a>
		</td><td>
		{% if thread.image_key %}
			<a href="{{host}}{{bbs.short}}/{{thread.key()}}.html" target="_blank">
			<img src="{{host}}thumbnail/{{thread|image_key_with_except}}.jpg" width="40px" height="40px"/>
			</a>
		{% endif %}
		</td>
		<td>{{thread.author}}</td>
		<td>{{thread.create_date|time_JST_progress}}</td>
		<td><input type="checkbox" name="thread_list" value="{{thread.key()}}"/></td></tr>
		{% endfor %}
		</table>
		<br/>

			<a href="javascript:confirm_delete();" class="g-button">削除の実行</a>　

		</form>

		<hr>

		<p>
		{% if page != 1 %}
			<a href="{{host}}edit_thread_list?bbs_key={{bbs.key()}}&amp;page={{page-1}}&amp;order={{order}}">前のページ</a>　
		{% endif %}
			ページ{{page}}　
			<a href="{{host}}edit_thread_list?bbs_key={{bbs.key()}}&amp;page={{page+1}}&amp;order={{order}}">次のページ</a>　
			<a href="{{host}}{{bbs.short}}/">掲示板に戻る</a>
		</p>
		<hr>
	</div>
</div>
</body>
</html>
