<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>「{{bbs.bbs_name}}」の編集｜イラストブック</title>
{%include "meta.html" %}
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="Copyright" content="Copyright: ABARS" />
{% include "portal_css/css_pc.html" %}
<script language="javascript" src="api_js" type="text/javascript"></script>
<script language="javascript" src="js/mypage.js" type="text/javascript"></script>
</head>
<body onload="init_tab();">

{% include "floating_menu.html" %}

<div id="container">
	<p>&nbsp</p>
	<div id="contents">
		{% include "edit_bbs/edit_bbs.html" %}
	</div>
</div>
</body>
</html>
