<div id="floating_menu">

	{% if user %}
	<div style="float:left;padding-left:2px;padding-top:2px;padding-right:2px;font-weight:600;">
		<a href="{{host}}mypage"><img src="{{host}}show_icon?key={{user.user_id()}}&size=mini" width="24px" height="24px" alt="icon"/></a>
	</div>
	{% endif %}
	
	<div style="float:left;padding-left:2px;padding-top:3px;padding-right:2px;font-weight:600;">
	<div class="g-button-group">
		{% set show_link_detail = 0 %}

		{% if not(is_iphone and thread and thread.user_id and thread.bookmark_count) %}
			{% if not(is_iphone and (not thread) and bbs and bbs.bookmark_count) %}
				{% set show_link_detail = 1 %}
			{% endif %}
		{% endif %}

		{% set my_new_feed_count = user|new_feed_count %}

		{% if top_page and not user%}
			<div style="margin-top:2px;">イラストブック</div>
		{% else %}
			{% if top_page or my_new_feed_count %}
				<a href="{{host}}mypage" class="g-button mini {% if not show_link_detail %}no-text{% endif %}" style="margin:0px;">
					{% if top_page and is_iphone %}
					{% else %}
						<i class="icon-home"></i>
					{% endif %}
					{% if show_link_detail %}
						マイページ
					{% endif %}
					{% if my_new_feed_count %}
						({{my_new_feed_count}})
					{% endif %}
					</a>
			{% else %}
				<a href="{{host}}" class="g-button mini {% if not show_link_detail %}no-text{% endif %}" style="margin:0px;"><i class="icon-home"></i>
					{% if show_link_detail %}
					トップ
					{% endif %}
				</a>
			{% endif %}
		{% endif %}
		
		{% if not edit_thread %}
			{% if thread %}
				{% if thread.user_id %}
					<a href="{{host}}mypage?user_id={{thread.user_id}}" class="g-button mini"><i class="icon-user"></i>ドロワー</a>
				{% endif %}
				{{thread|add_bookmark_thread(host,is_iphone,user)|safe}}
			{% else %}
				{% if bbs %}
					<a href="{{host}}mypage?user_id={{bbs.user_id}}" class="g-button mini"><i class="icon-user"></i>オーナー</a>
					{{bbs|add_bookmark_bbs(host,is_iphone,user)|safe}}
				{% endif %}
			{% endif %}
		{% endif %}
	</div>
	</div>

	<div style="float:right;padding-left:2px;padding-top:3px;padding-right:2px;font-weight:600;">
		{% if is_iphone and top_page %}
	     	<div class="g-button-group">
	    	<a class="g-button dropdown-toggle" style="padding:4px;height:13px;" data-toggle="dropdown" href="#">メニュー
	    		<span class="caret"></span>
	    	</a>
			<ul class="dropdown-menu" style="right:0;left:auto;">
				{% if user %}
					<li><a href="{{host}}mypage">マイページ
					{% if my_new_feed_count %}
						({{my_new_feed_count}})
					{% endif %}
					</a></li>
				{% endif %}
				<li><a href="{{host}}sample/">試し描き</a></li>
				{% if not user %}
					<li><a href="{{host}}mypage">レンタル</a></li>
				{% endif %}
				<li><a href="{{host}}commu/">コミュニティ</a></li>
				<li><a href="{{host}}anything/">何でも投稿</a></li>
				<li><a href="{{host}}chat">チャット</a></li>
				<li><a href="{{host}}support/">サポート</a></li>
				<li><a href="{{host}}guide">使い方</a></li>
				{% if not user %}
					<li><a href="{{redirect_url|login_url|escape}}">ログイン</a></li>
				{% else %}
					<li><a href="{{redirect_url|logout_url|escape}}">ログアウト</a></li>
				{% endif %}
	      	</ul>
	    	</div>
	    {% else %}
			{% if user %}
				{% if not is_iphone or mypage %}
					<a href="{{redirect_url|logout_url|escape}}" class="g-button mini"><i class="icon-off"></i>ログアウト</a>
				{% endif %}
			{% else %}
				<a href="{{redirect_url|login_url|escape}}" class="g-button mini"><i class="icon-off"></i>ログイン</a>
			{% endif %}
      	{% endif %}
	</div>
	
<br clear="all"/>
</div>