{% if user %}
	{% set my_new_feed_count = user|new_feed_count %}
{% endif %}

<div id="floating_menu">
{% if is_iphone %}
	<div id="iconf-container">
          <a href="{{host}}">
          	<div class="iconf-list2 {% if page_mode == 'index' and order == 'new' %}iconf-list2-selected{% endif %}"><i class="ficon-docs"></i></div>
          </a>
          <a href="{{host}}?order=hot">
          <div class="iconf-list2 {% if order == 'monthly' or order == 'hot' %}iconf-list2-selected{% endif %}"><i class="ficon-star"></i></div>
          </a>
          <a href="{{host}}?search=empty">
          <div class="iconf-list2 {% if search %}iconf-list2-selected{% endif %}"><i class="ficon-search"></i></div>
          </a>
          <a href="{{host}}mypage">
          <div class="iconf-list2 {% if page_mode == 'user' %}iconf-list2-selected{% endif %}"><i class="ficon-user-1"></i>
          	{% if my_new_feed_count %}
          	<div style="margin-top:-32px;font-size:8px;">
          		{{my_new_feed_count}}
          	</div>
          	{% endif %}
          </div>
          </a>
          <a href="{{host}}guide">
          <div class="iconf-list2 {% if page_mode == 'guide' %}iconf-list2-selected{% endif %}"><i class="ficon-help"></i></div>
	      </a>
    </div>
{% else %}
	<!-- icon -->
	{% if user %}
	<div class="user_icon" id="user_icon">
		<a href="{{host}}mypage"><img src="{{host}}show_icon?key={{user.user_id()}}&size=mini" width="{% if is_iphone %}30px{% else %}24px{% endif %}" height="{% if is_iphone %}30px{% else %}24px{% endif %}" alt="icon"/></a>
		{% if my_new_feed_count %}
			<b>{{my_new_feed_count}}</b>
		{% endif %}
	</div>
	{% endif %}

	<!-- logo -->
	<div class="ilb_logo" id="ilb_logo">
		{% set show_link_detail = 0 %}

		{% if not(is_iphone and thread and thread.user_id and thread.bookmark_count) %}
			{% if not(is_iphone and (not thread) and bbs and bbs.bookmark_count) %}
				{% set show_link_detail = 1 %}
			{% endif %}
		{% endif %}

		<div class="ilb_logo_text_margin">
		<a href="{{host}}" class="ilb_logo_text" {% if is_iphone and my_new_feed_count and my_new_feed_count >= 10 %}style="letter-spacing: 0.75em;"{% endif %}>
			ILLUSTBOOK
		</a>
		</div>
	</div>

	<!-- menu -->
	<div class="main_menu">
		<div class="g-button-group">
			<a class="g-button dropdown-toggle menu_button" data-toggle="dropdown" href="#">
				{% if is_english %}Menu{%else%}メニュー{% endif %}
				<span class="caret"></span>
			</a>

		{% if (top_page or (not bbs)) %} {# (is_iphone and (top_page or (not bbs))) #}
			<ul class="dropdown-menu menu_list">
				{% if user %}
					<li><a href="{{host}}mypage"><i class="icon-home"></i>{% if is_english %}MyPage{%else%}マイページ{% endif %}</a></li>
				{% endif %}
				<li><a href="{{host}}guide"><i class="icon-exclamation-sign"></i>{% if is_english %}Guide{% else %}使い方{% endif %}</a></li>
				<li><a href="{{host}}sample/"><i class="icon-pencil"></i>{% if is_english %}Trial{% else %}試し描き{% endif %}</a></li>
				<li><a href="{{host}}mypage"><i class="icon-check"></i>{% if is_english %}Regist{% else %}ボード作成{% endif %}</a></li>
				<li><a href="{{host}}support/"><i class="icon-user"></i>{% if is_english %}Support{% else %}サポート{% endif %}</a></li>
				<li><a href="{{host}}chat"><i class="icon-retweet"></i>{% if is_english %}Chat{% else %}チャット{% endif %}</a></li>
				{% if is_iphone %}
					<li><a href="{{host}}?search=empty"><i class="icon-search"></i>{% if is_english %}Search{% else %}検索{% endif %}</a></li>
				{% endif %}
				{% if not user %}
					<li><a href="{{redirect_url|login_url|escape}}"><i class="icon-off"></i>{% if is_english %}Login{%else%}ログイン{% endif %}</a></li>
				{% else %}
					<li><a href="{{redirect_url|logout_url|escape}}"><i class="icon-off"></i>{% if is_english %}Logout{%else%}ログアウト{% endif %}</a></li>
				{% endif %}
			</ul>
		{% else %}
			<ul class="dropdown-menu menu_list">

			<!-- order -->
			{% if bbs and not thread %}
				{% if order!="new" or show_category_list%}
					<li><a href="javascript:bbs_select_change('new','{{page_url_order_base}}');">
						<i class="icon-align-left"></i>{% if is_english %}Latest{% else %}新着順{% endif %}
					</a></li>
				{% endif %}
				{% if order!="update" %}
					<li><a href="javascript:bbs_select_change('update','{{page_url_order_base}}');">
						<i class="icon-align-left"></i>{% if is_english %}Updated{% else %}更新順{% endif %}
					</a></li>
				{% endif %}
				{% if order!="thumbnail" %}
					<li><a href="javascript:bbs_select_change('thumbnail','{{page_url_order_base}}');">
						<i class="icon-th"></i>{% if is_english %}Thumbnail{% else %}サムネイル{% endif %}
					</a></li>
				{% endif %}
				{% if is_iphone and category_list %}
					<li><a href="?show_category_list=1">
						<i class="icon-list"></i>
						{% if is_english %}Category List{% else %}カテゴリ一覧{% endif %}
					</a></li>
				{% endif %}
			{% endif %}

			{% if user %}
				<li><a href="{{host}}mypage"><i class="icon-home"></i>{% if is_english %}MyPage{%else%}マイページ{% endif %}</a></li>
			{% endif %}

			<!-- thread -->
			{% if not edit_thread %}
			{% if thread %}
				{% if thread.user_id %}
					<li><a href="{{host}}mypage?user_id={{thread.user_id}}"><i class="icon-user"></i>{% if is_english %}Drawer{% else %}ドロワー{% endif %}</a></li>
				{% endif %}
				<li>{{thread|add_bookmark_thread(host,is_iphone,is_english,user)|safe}}</li>
			{% else %}
				{% if bbs %}
					<li><a href="{{host}}mypage?user_id={{bbs.user_id}}"><i class="icon-user"></i>{% if is_english %}Owner{% else %}オーナー{% endif %}</a></li>
					{% if is_tablet and not is_english and can_create_new_image and bbs %}
						<li><a href="ilbpaint://bbs_key={{bbs.key()}}"><i class="icon-plus"></i>アプリから投稿</li>
					{% endif %}
					<li>{{bbs|add_bookmark_bbs(host,is_iphone,is_english,user)|safe}}</li>
					<li><a href="javascript:bbs_mute('{{bbs.key()}}','{{host}}',{% if is_english %}1{% else %}0{% endif %});"><i class="icon-remove"></i>{% if is_english %}Mute{% else %}ミュート{% endif %}</li>
				{% endif %}
			{% endif %}
			{% endif %}

			{% if bbs and not thread and (is_iphone or bbs.in_frame_mode) and not bbs.disable_counter %}
				<li><a href="#">
					<i class="icon-user"></i>
					{% if is_english %}TODAY{% else %}今日{% endif %}：{{bbs.counter.today_cnt}}<br/>
					{% if is_english %}TOTAL{% else %}合計{% endif %}：{{bbs.counter.total_cnt}}<br/>
				</a></li>
			{% endif %}

			{% if user %}
				{% if not is_iphone or mypage %}
					<li><a href="{{redirect_url|logout_url|escape}}"><i class="icon-off"></i>{% if is_english %}Logout{%else%}ログアウト{% endif %}</a></li>
				{% endif %}
			{% else %}
				<li><a href="{{redirect_url|login_url|escape}}"><i class="icon-off"></i>{% if is_english %}Login{% else %}ログイン{% endif %}</a></li>
			{% endif %}

			</ul>
		{% endif %}
		</div>
	</div>
{% endif %}
<br clear="all"/>
</div>

<!-- ifframe判定 -->
<script>
	if(window!=parent){
		document.getElementById("floating_menu").style.backgroundColor="transparent";
		document.getElementById("floating_menu").style.borderColor="transparent";
		document.getElementById("ilb_logo").style.display="none";
		document.getElementById("user_icon").style.display="none";
	}
</script>
