<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% if is_iphone %}
<meta name="viewport" content="width=device-width">
{% endif %}
<meta name="Keywords" content="お絵かき掲示板,お絵かきブログ,無料,お絵かき,レンタル" />
<meta name="Description" content="イラストブックはお絵かきツールがなくてもすぐに描ける完全無料のレンタルお絵かき掲示板サービスです。" />
<title>イラストブック - 無料レンタルお絵かき掲示板</title>
{%include "meta.html" %}
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="Copyright" content="Copyright: ABARS" />
<link rel="stylesheet" type="text/css" media="screen,print" href="static_files/general/css/top.css" />
{% if is_iphone %}
	{% include "portal_css/css_iphone.html" %}
{% else %}
	{% include "portal_css/css_pc.html" %}
{% endif %}
{% include "floating_menu_css.html" %}
</head>
<body onload="get_ranking({{is_iphone}});">

{% include "floating_menu.html" %}

<div id="container">
	{% if not is_iphone %}
	<div id="header">
		<h1><a href="{{host}}"><img src="static_files/general/images/top/head3.jpg" alt="あなたのイラストから始まるコミュニティ　イラストブック" width="950" height="195" /></a></h1>
	</div>
	<div id="g-menu">
		<ul>
			<li><a href="{{host}}"><img src="static_files/general/images/top/m_home_on.gif" alt="ホーム" width="132" height="45" /></a></li>
			<li><a href="{{host}}guide"><img src="static_files/general/images/top/m_howto.gif" alt="イラストブックの使い方" width="195" height="45" class="swap" /></a></li>
			<li><a href="{{host}}community"><img src="static_files/general/images/top/m_community.gif" alt="コミュニティ" width="152" height="45" class="swap" /></a></li>
			<li><a href="{{host}}questionnaire"><img src="static_files/general/images/top/m_enq.gif" alt="アンケート" width="124" height="45" class="swap" /></a></li>
			<li><a href="{{host}}support"><img src="static_files/general/images/top/m_support.gif" alt="よくある質問・サポート" width="209" height="45" class="swap" /></a></li>
			<li><a href="{{host}}profile"><img src="static_files/general/images/top/m_profile.gif" alt="会社概要" width="138" height="45" class="swap" /></a></li>
		</ul>
		<div class="clr"></div>
	</div>
	{% endif %}
	<div id="contents">
		{% if is_iphone %}
			{% include "portal_css/option_tab.html" %}
			{% include "portal/toppage_iphone.html" %}
		{% else %}
			{% if is_pinterest %}
				{% include "pinterest.html" %}
			{% else %}
				{% include "portal/toppage_pc.html" %}
			{% endif %}
		{% endif %}
	</div>

	{% if not is_iphone %}
	<div id="footer">
		{% include "search/search_top_tag.html" %}
		<ul>
			{% include "portal/footer_sitemap.html" %}
		</ul>
		<p>{% include "portal/footer_link.html" %}</p>
	</div>
	{% endif %}
</div>
<script src="api_js" type="text/javascript"></script>
<script src="js/portal.js" type="text/javascript"></script>
</body>
</html>
