<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% if is_iphone %}
<meta name="viewport" content="width=device-width">
{% endif %}
<title>{% if view_mode %}「{{bookmark.name}}」のプロフィール{%else%}{% if user %}マイページ{%else%}登録して使う{%endif%}{%endif%}｜イラストブック</title>
{%include "meta.html" %}
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="Copyright" content="Copyright: ABARS" />
{% if is_iphone %}
	{% include "portal_css/css_iphone.html" %}
{% else %}
	{% include "portal_css/css_pc.html" %}
{% endif %}
<script language="javascript" src="api_js" type="text/javascript"></script>
<script language="javascript" src="js/mypage.js" type="text/javascript"></script>
{% if not is_iphone %}
	{% include "portal_css/option_2col.html" %}
{% endif %}
{% include "portal_css/option_tab.html" %}
{% include "floating_menu_css.html" %}
</head>
<body onload="mypage_init('{{tab}}',{% if user %}1{%else%}0{%endif%},{% if view_mode %}1{% else %}0{% endif %},{{edit_mode}},{{feed_page}},{{is_admin}},{{is_iphone}});">

{% include "floating_menu.html" %}

<div id="container">
	{% if not is_iphone %}
		<p>&nbsp</p>
	{% endif %}
	<div id="contents" style="background-color:#ffffff;padding:4px;">
		{% include "mypage/mypage.html" %}
	</div>

	<div id="footer">
		{% if not is_iphone %}
		<ul>
			{% include "portal/footer_sitemap.html" %}
		</ul>
		{% endif %}
		<p>{% include "portal/footer_link.html" %}</p>
	</div>
</div>
</body>
</html>
