<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% if is_iphone %}
<meta name="viewport" content="width=device-width">
{% endif %}
<meta name="Keywords" content="お絵かき掲示板,お絵かきブログ,無料,お絵かき,レンタル" />
<meta name="Description" content="イラストブックはお絵かきツールがなくてもすぐに描ける完全無料のレンタルお絵かき掲示板サービスです。" />
{% if tag %}
<title>{{tag}} - イラストブック</title>
{% else %}
{% ifequal page_mode "user" %}
{% if not view_user.name %}
<title>未登録ユーザ - イラストブック</title>
{% else %}
<title>{{view_user.name}} - イラストブック</title>
{% endif %}
{% else %}
{% ifequal page_mode "guide" %}
<title>イラストブックの使い方 - イラストブック</title>
{% else %}
<title>イラストブック - 無料レンタルお絵かき掲示板</title>
{% endifequal %}
{% endifequal %}
{% endif %}
{%include "meta.html" %}
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="Copyright" content="Copyright: ABARS" />

{% include "floating_menu_css.html" %}
{% include "portal_css/option_google_button.html" %}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery/jquery.masonry.min.js"></script>
<script type="text/javascript" src="js/jquery/jquery.infinitescroll.min.js"></script>
<script type="text/javascript" src="js/jquery/jquery.easing.1.3.js"></script>
<script language="javascript" src="js/mypage_common.js" type="text/javascript"></script>

{% include "pinterest/pinterest.css" %}
{% include "pinterest/ribbon.css" %}

{% if next_query %}
  {% include "pinterest/pinterest.js" %}
{% endif %}

</head>
<body>

{% include "floating_menu.html" %}

<!-- コンテンツ -->

<div id="contents">

<!-- 2ページ目以降はコンテンツだけでよい -->
{% if not contents_only %}
<div id="index">

<!-- タグサーチ -->

{% ifequal page_mode "tag" %}
  <div class="message">
    タグ「{{tag}}」の付けられたイラスト　<A HREF="{{host}}{{redirect_api}}" class="g-button mini">トップページ</A>
  </div>
{% endifequal %}

<!-- アラート -->

{% if regist_finish %}
  <div class="message">
    お絵かき掲示板の新規作成が完了しました。<br>
    掲示板の名前をクリックして掲示板にアクセスして下さい。
  </div>
  <br clear="all">
{% endif %}

{% if is_maintenance %}
  <div class="message">
    現在、サーバメンテナンス中です。ご迷惑をおかけします。数時間後に、再度、アクセスをお願い致します。
  </div>
{% endif %}

<!-- ユーザ情報 -->

{% ifequal page_mode "user" %}
  {% include "pinterest/user.html" %}
{% endifequal %}

<!-- ポータル -->

{% ifequal page_mode "index" %}
  <div class="logo">
  {% if is_iphone %}
   <img src="static_files/banner_360.png">
  {% else %}
   <img src="static_files/banner_360b.png">
  {% endif %}
   <div id="logo_fotter">
     from <a href="http://pochigoya0423.blog.shinobi.jp/">飯田のぎ</a>
    </div>
  </div>

  {% include "pinterest/menulist.html" %}

  <div class="message">「イラストブック」に搭載されたお絵かきツールとあなた専用のお絵かき掲示版を使って、作品を世界中に公開しましょう。
  {% if not is_iphone %}現在、{{bbs_n}}件の掲示板がレンタルされ、{{illust_n}}のイラストが公開されています。{% endif %}
  </div>
{% endifequal %}

<!-- タグ一覧 -->

{% if tag_list %}
<div class="message">
{% for tag2 in tag_list %}
    {% if forloop.counter <= 5 %}
      {{tag2|safe}}　
    {% endif %}
{% endfor %}
    <div id="more_tag">
{% for tag2 in tag_list %}
    {% if forloop.counter >= 6 %}
      {% if forloop.counter <= 100 %}
        {{tag2|safe}}　
      {% endif %}
    {% endif %}
{% endfor %}
      <a href="javascript:show_more_tag();" class="g-button mini">閉じる</a>
    </div>
      <a id="show_more_tag_button" href="javascript:show_more_tag();" class="g-button mini">もっと見る</a>
</div>
{% endif %}

<br clear="all">

<!-- ユーザ情報タブ -->
{% ifequal page_mode "user" %}
  {% include "pinterest/user_menu.html" %}
{% endifequal %}

<!-- 掲示板 -->

{% ifequal tab "bbs" %}
  {% include "pinterest/bbs.html" %}
{% endifequal %}

<!-- ガイド -->
{% ifequal page_mode "guide" %}
  <div class="guide">
    {%include "portal/guide.html"%}
  </div>
{% endifequal %}

<!-- ログイン要求 -->
{% ifequal page_mode "login_require" %}
  <div class="guide">
    {%include "mypage/login_require.html"%}
  </div>
{% endifequal %}

<!-- タイムライン -->

{% ifequal page_mode "user" %}
{% if is_timeline_enable %}
  {% include "mypage/feed.html" %}
  <script type="text/javascript" src="api_js"></script>
  <script type="text/javascript" src="js/timeline.js"></script>
  <script>
    feed_set_env("{{tab}}",{{view_mode}},{{edit_mode}},"{{user_id}}",1);
    feed_initialize();
  </script>
{% endif %}
{% endifequal %}

<!-- ポータルタブ -->

{% ifequal page_mode "index" %}
  {% include "pinterest/index_menu.html" %}
{% endifequal %}

<!-- 1ページ目 -->
</div>

{% endif %}

<!-- Pinterest -->

{% if not thread_list %}
{% if not contents_only %}
{% if illust_enable %}
{% ifnotequal page_mode "guide" %}
{% ifnotequal page_mode "login_require" %}
<div class="message">
イラストは見つかりませんでした。
</div>
{% endifnotequal %}
{% endifnotequal %}
{% endif %}
{% endif %}
{% endif %}

<div id="container" class="transitions-enabled infinite-scroll clearfix">
  {% include "pinterest/illust.html" %}
</div>

{% if next_query %}
<nav id="page-nav">
  <a href="{{redirect_api}}?{{next_query}}&contents_only=1&page={{next_page}}"></a>
</nav>
{% endif %}

</div>

<!-- フッター -->

<br clear="all">

<div id="pinterest_footer">
<a href="{{host}}">イラストブック</a>{% if is_iphone %}<br>{%else%} {%endif%}&copy 2010-2013 <a href="http://www.abars.biz">ABARS</a> all rights reserved.
</div>

</body>
</html>
