<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% if is_iphone %}
<meta name="viewport" content="width=device-width">
{% endif %}
<meta name="Keywords" content="お絵かき掲示板,お絵かきブログ,無料,お絵かき,レンタル" />
<meta name="Description" content="イラストブックはお絵かきツールがなくてもすぐに描ける完全無料のレンタルお絵かき掲示板サービスです。" />
<title>イラストブック　Pinterest風</title>
{%include "meta.html" %}
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="Copyright" content="Copyright: ABARS" />

{% include "floating_menu_css.html" %}
{% include "portal_css/option_google_button.html" %}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery/jquery.masonry.min.js"></script>
<script type="text/javascript" src="js/jquery/jquery.infinitescroll.min.js"></script>
<script type="text/javascript" src="api_js"></script>
<script language="javascript" src="js/mypage_common.js" type="text/javascript"></script>

{% include "pinterest.css" %}
{% include "pinterest.js" %}

</head>
<body>

{% include "floating_menu.html" %}

<!-- コンテンツ -->

<div id="contents">

<!-- タグサーチ -->

{% ifequal page_mode "tag" %}
  <div class="message">
    タグ「{{tag}}」の付けられたイラスト　<A HREF="{{host}}pinterest" class="g-button">トップページ</A>
  </div>
{% endifequal %}

<!-- ユーザ情報 -->

{% ifequal page_mode "user" %}
  <div class="message">
    {% ifequal edit_mode 2%}
      プロフィールを編集<BR>
      {%include "mypage/edit_profile.html"%}
    {% else %}
    <div style="float:left;margin-right:4px;">
      <img src="{{view_user.icon_url}}" {% if is_iphone %}width=100px height=100px{%else%}width=160px height=160px{% endif %}>
    </div>
    <div style="float:left">
     <p><b>{{view_user.name}}</b></p>
     <p>{{view_user_profile.profile|safe}}</p>

     <div class="g-button-group">
      {% if not view_mode %}
      {% else %}
       {% if following %}
         <a href="javascript:confirm_follow('{{view_user.user_id}}','{{view_user.name}}');" class="g-button">フォロー中</a>
       {% else %}
         <a href="javascript:confirm_follow('{{view_user.user_id}}','{{view_user.name}}');" class="g-button"><i class="icon-plus"></i>フォロー</a>
       {% endif %}
      {% endif %}
       {% if not view_mode %}
         <A HREF="{{host}}pinterest?user_id={{user_id}}&tab={{tab}}&edit=2" class="g-button">編集</A>

    <a class="g-button dropdown-toggle" data-toggle="dropdown" href="#">
      その他 <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
          <li><A HREF="{{host}}pinterest">トップへ戻る</A></li>
        {% if not view_mode or is_admin%}
          <li><a href="javascript:confirm_withdraw('mypage?withdraw=go&user_id={{bookmark.user_id}}')">退会する{% if is_admin %}（＊管理モード）{% endif %}</a></li>
        {% endif %}
    </ul>

       {% endif %}
      </ul>
     </div>

    </div>
    <br clear="all">
    {% endifequal %}
  </div>

    {% if follow or follower %}
  <div class="message">
    <div id="follower_button">
      フォロー{{follow|length}}　フォロワー{{follower|length}}
      <a href="javascript:show_follower();" class="g-button">詳細</a>
    </div>
    <div id="follower">
      {% if follow %}
     フォローしている<br>
     {% for user in follow %}
     <div class="deletable">
       <a href="pinterest?user_id={{user.user_id}}"><img src="{{user.icon_url}}" width=50px height=50px></a>
       {% if edit_mode %}
       <a href="javascript:confirm_delete('del_user&user_key={{user.user_id}}','フォロー','{{user.name}}');" class="g-button no-text delete_button"><i class="icon-remove"></i></a>
       {% endif %}
     </div>
     {% endfor %}
     <br clear="all">
     {% endif %}
     {% if follower %}
     フォローされている<br>
     {% for user in follower %}
     <a href="pinterest?user_id={{user.user_id}}"><img src="{{user.icon_url}}" width=50px height=50px></a>
     {% endfor %}
     {% endif %}
   </div>
 </div>
   {% endif %}

{% endifequal %}

<!-- ポータル -->

{% ifequal page_mode "index" %}
<div class="logo">
  <img src="static_files/banner_360.png">
  <div id="logo_fotter">
  from <a href="http://pochigoya0423.blog.shinobi.jp/">飯田のぎ</a>
  </div>
</div>

<div class="menu_list">
<a href="{{host}}sample/" class="guide">試し描き</a>
<a href="{{host}}mypage" class="guide">レンタル</a>
<a href="{{host}}commu/" class="guide">コミュニティ</a>
<a href="{{host}}anything/" class="guide">何でも投稿</a>
<a href="{{host}}chat" class="guide">チャット</a>
<a href="{{host}}guide" class="guide">使い方</a>
<a href="{{host}}support/" class="guide">サポート</a>
{% if not is_iphone %}<a href="{{host}}terms" class="guide">利用規約</a>{% endif %}
</div>
<div class="message">「イラストブック」に搭載されたお絵かきツールとあなた専用のお絵かき掲示版を使って、作品を世界中に公開しましょう。
</div>
{% endifequal %}

<!-- タグ一覧 -->

{% ifnotequal page_mode "user" %}
<div class="message">
{% for tag2 in tag_list %}
    {% if forloop.counter <= 5 %}
      {{tag2|safe}}　
    {% endif %}
{% endfor %}
    <div id="more_tag">
{% for tag2 in tag_list %}
    {% if forloop.counter >= 6 %}
      {% if forloop.counter <= 100 %}
        {{tag2|safe}}　
      {% endif %}
    {% endif %}
{% endfor %}
    </div>
      <a id="show_more_tag_button" href="javascript:show_more_tag();" class="g-button mini">もっと見る</a>
</div>
{% endifnotequal %}

<br clear="all">

<!-- ユーザ情報タブ -->
{% ifequal page_mode "user" %}
<div id="order">
  <div style="float:left">
  <div class="g-button-group toggle-buttons">
    {% if submit_illust_exist %}
      <a href="{{host}}pinterest?user_id={{user_id}}&tab=submit" class="g-button {%ifequal tab "submit"%}checked{%endifequal%}">{% if is_iphone %}投稿した{%else%}投稿したイラスト{% endif %}</a>
    {% endif %}
    <a href="{{host}}pinterest?user_id={{user_id}}&tab=bookmark" class="g-button {%ifequal tab "bookmark"%}checked{%endifequal%}">ブックマーク</a>
    <a href="{{host}}pinterest?user_id={{user_id}}&tab=bbs" class="g-button {%ifequal tab "bbs"%}checked{%endifequal%}">掲示板</a>
    <a href="{{host}}pinterest?user_id={{user_id}}&tab=feed" class="g-button {%ifequal tab "feed"%}checked{%endifequal%}">{% if is_iphone %}TL{%else%}タイムライン{% if not view_mode %}{% if new_feed_count %}({{new_feed_count}}){% endif %}{% endif %}{% endif %}</a>
  </div>
  </div>
  {% if not is_iphone %}
  <div style="float:left">
  {% ifequal tab "submit" %}
  {% else %}
    {% if not view_mode %}
      {% if edit_mode %}
     　<A HREF="{{host}}pinterest?user_id={{user_id}}&tab={{tab}}" class="g-button">戻る</A>
      {% else %}
     　<A HREF="{{host}}pinterest?user_id={{user_id}}&tab={{tab}}&edit=1" class="g-button">編集</A>
     {% endif %}
     {% endif %}
  {% endifequal %}
  </div>
  {% endif %}
  <br clear="all">
</div>
{% endifequal %}

<!-- 掲示板 -->

{% ifequal tab "bbs" %}

  {% if rental_bbs_list %}
  <div class="message">
  レンタルしている<br>
  {% for bbs in rental_bbs_list %}
  <a href="{{bbs.bbs_url}}">
  <img src="{{bbs.thumbnail_url}}" width=50px height=50px>{{bbs.title}}</a>
  {% if edit_mode %}
    <a href="javascript:confirm_action_bbs('del_bbs&bbs_key={{bbs.key}}','{{bbs.title}}');" class="g-button no-text"><i class="icon-remove"></i></a>
  {% endif %}
  {% if bbs.bookmark %}
    <a href='show_bookmark?bbs_key={{bbs.key}}' class='g-button no-text'><i class="icon-star"></i>{{bbs.bookmark}}</a>
  {% endif %}

  <br>
  {% endfor %}
  </div>
  {% endif %}

  {% if bookmark_bbs_list %}
  <div class="message">
  ブックマークしている<br>
  {% for bbs in bookmark_bbs_list %}
  <a href="{{bbs.bbs_url}}">
  <img src="{{bbs.thumbnail_url}}" width=50px height=50px>{{bbs.title}}</a>
  {% if edit_mode %}
    <a href="javascript:confirm_action('del_bbs&bbs_key={{bbs.key}}','ブックマーク',{{bbs.title}}');" class="g-button no-text"><i class="icon-remove"></i></a>
  {% endif %}
    {% if bbs.bookmark %}
    <a href='show_bookmark?bbs_key={{bbs.key}}' class='g-button no-text'><i class="icon-star"></i>{{bbs.bookmark}}</a>
  {% endif %}
  <br>
  {% endfor %}
  </div>
  {% endif %}

  {% if not view_mode %}
  <div class="message">
    新しい掲示板をレンタルする<br>
    {%include "mypage/rental.html" %}
  </div> 
  {% endif %}
{% endifequal %}

<!-- タイムライン -->

{% ifequal page_mode "user" %}
{% if is_timeline_enable %}
  {% include "mypage/feed.html" %}
  <script type="text/javascript" src="js/timeline.js"></script>
  <script>
    feed_set_env("feed",{{view_mode}},{{edit_mode}},"{{user_id}}",1);
    feed_initialize();
  </script>
{% endif %}
{% endifequal %}

<!-- ポータルタブ -->

{% ifequal page_mode "index" %}
<div id="order">
  <div class="g-button-group toggle-buttons">
    <a href="{{host}}pinterest?order=hot" class="g-button {%ifequal order "hot"%}checked{%endifequal%}">人気</a>
    <a href="{{host}}pinterest?order=new" class="g-button {%ifequal order "new"%}checked{%endifequal%}">新着</a>
    <a href="{{host}}pinterest?order=bookmark" class="g-button {%ifequal order "bookmark"%}checked{%endifequal%}">{%if is_iphone%}ブクマ{%else%}ブックマーク{%endif%}</a>
    <a href="{{host}}pinterest?order=applause" class="g-button {%ifequal order "applause"%}checked{%endifequal%}">拍手</a>
  </div>
</div>
{% endifequal %}

<!-- Pinterest -->

{% if not thread_list %}
{% ifequal next_page 2 %}
{% if illust_enable %}
<div class="message">
イラストは見つかりませんでした。
</div>
{% endif %}
{% endifequal %}
{% endif %}

<div id="container" class="transitions-enabled infinite-scroll clearfix">
  {% for thread in thread_list %}
    {% if thread.image_url %}
      <div class="item">
      <div class="deletable">
        <a href="{{thread.thread_url}}" target="_BLANK"><img src="{{thread.thumbnail2_url}}" width=200px></a>
        {% if edit_mode %}
          {% ifequal tab "bookmark" %}
            <a href="javascript:confirm_delete('del&thread_key={{thread.key}}','ブックマーク','{{thread.title}}');" class="g-button no-text delete_button"><i class="icon-remove"></i></a>
          {% endifequal %}
        {% endif %}
      </div>
      <a href="{{thread.thread_url}}" target="_BLANK"><b>{{thread.title}}</b></a><br>
      {% if thread.tag %}
      {% for tag in thread.tag %}
        <a href="{{host}}pinterest?tag={{tag}}" class="g-button mini">{{tag}}</a>
      {% endfor %}
      <br>
      {% endif %}
      {{thread.summary|safe}}
      <br>
      <div style="text-align:right;"><small>{{thread.comment}} comment<br>
      from 
      {%if thread.user_id %}<a href="pinterest?user_id={{thread.user_id}}" class="g-button mini">{% endif %}
      {{thread.author}}
      {%if thread.user_id %}</a>{% endif %}
      <br>{{thread.create_date}}</small></div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<nav id="page-nav">
  <a href="pinterest?{{next_query}}&page={{next_page}}"></a>
</nav>
</div>

<!-- フッター -->

<br clear="all">

<div id="pinterest_footer">
&copy 2010-2013 <a href="http://www.abars.biz">ABARS</a> all rights reserved.
</div>

</body>
</html>
