<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="msapplication-TileImage" content="/static_files/tile144.png"/>
<link rel="apple-touch-icon" href="/static_files/tile144.png">
{% if is_tablet %}
<meta name="viewport" content="width=860">
{% endif %}
{% if is_iphone %}
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable:no;">
{% endif %}
<meta name="Keywords" content="お絵かき掲示板,お絵かきブログ,無料,お絵かき,レンタル" />
<meta name="Description" content="イラストブックはお絵かきツールがなくてもすぐに描ける完全無料のレンタルお絵かき掲示板サービスです。" />

{% if page_mode == "bookmark" %}
  <title>
  {% if is_english %}
  Bookmark User
  {% else %}
  {% if search_app %}{{search_app.app_name}}{%endif %}
  {% if search_thread %}{{search_thread.title}}{% endif%}
  {% if search_bbs %}{{search_bbs.bbs_name}}{% endif %}
  をブックマークしているユーザ
  {% endif %}
  </title>
{%else%}
{% if search %}
<title>{{search}} - {% if is_english %}ILLUSTBOOK{% else %}イラストブック{% endif %}</title>
{% else %}
{% if tag %}
<title>{{tag}} - {% if is_english %}ILLUSTBOOK{% else %}イラストブック{% endif %}</title>
{% else %}
{% if page_mode == "user" %}
{% if not view_user.name %}
<title>{% if is_english %}Unknown User - ILLUSTBOOK{% else %}未登録ユーザ - イラストブック{% endif %}</title>
{% else %}
<title>{{view_user.name}} - {% if is_english %}ILLUSTBOOK{% else %}イラストブック{% endif %}</title>
{% endif %}
{% else %}
{% if page_mode == "guide" %}
<title>{% if is_english %}How to use ILLUSTBOOK - ILLUSTBOOK{% else %}イラストブックの使い方 - イラストブック{% endif %}</title>
{% else %}
<title>{% if is_english %}ILLUSTBOOK - the BBS network of Manga{% else %}イラストブック - 無料レンタルお絵かき掲示板{% endif %}</title>
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}

{%include "meta.html" %}
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="Copyright" content="Copyright: ABARS" />

{% if not contents_only %}
  {% include "css/floating_menu_css.html" %}
  {% include "css/google_button.html" %}
  {% include "css/pinterest.css" %}
{% endif %}

</head>
<body>

{% include "floating_menu.html" %}

<!-- コンテンツ -->

<div id="contents">

{% if not contents_only %}
<div id="index">

<!-- アラート -->
{% if regist_finish %}
  <div class="message">
    {% if is_english %}
      Success!<br/>
      Please access from BBS list.
    {% else %}
      お絵かき掲示板の新規作成が完了しました。<br/>
      掲示板の名前をクリックして掲示板にアクセスして下さい。
    {% endif %}
  </div>
  <br clear="all"/>
{% endif %}

{% if is_maintenance %}
  <div class="message">
    {% if is_english %}Emergency Maintenance{% else %}現在、サーバメンテナンス中です。ご迷惑をおかけします。数時間後に、再度、アクセスをお願い致します。{% endif %}
  </div>
  <br clear="all"/>
{% endif %}

<!-- ブックマークしているユーザ -->
{% if page_mode == "bookmark" %}
  <script type="text/javascript" src="api_js"></script>
  <script type="text/javascript" src="js/bookmark.js"></script>
  <div class="message">
    {% if is_english %}Bookmark User{% else %}ブックマークしているユーザ{% endif %}<br/>
    <div id="user_list">Loading...</div>
  </div>
  <script type="text/javascript">
    request_user_list(
      '{%if search_thread %}{{search_thread.key()}}{% endif %}',
      '{%if search_bbs %}{{search_bbs.key()}}{% endif %}',
      '{%if search_app %}{{search_app.key()}}{% endif %}');
  </script>
{% endif %}

<!-- ユーザ情報 -->
{% if page_mode == "user" %}
  {% if bookmark and bookmark.frozen %}
    <div class="message">
    現在、このユーザは凍結されています。<br/>
    詳細および凍結の解除につきましては、abarsceo@gmail.comまでお問い合せ下さい。<br/>
    {% if is_admin %}
    <a href="{{host}}mypage?user_id={{bookmark.user_id}}&freez=0" class="g-button">凍結解除（＊管理モード）</a>
    {% endif %}
    </div>
  {% else %}
    {% include "mypage/user.html" %}
  {% endif %}
{% endif %}

<!-- ユーザ情報タブ -->
{% if page_mode == "user" %}
  {% if bookmark and bookmark.frozen %}
  {% else %}
    <br clear="all">
   {% include "mypage/user_menu.html" %}
  {% endif %}
{% endif %}

<!-- 掲示板 -->
{% if tab == "bbs" %}
  {% include "mypage/bbs.html" %}
{% endif %}

<!-- タイムライン -->
{% include "mypage/user_timeline.html" %}

<!-- ガイド -->
{% if page_mode == "guide" %}
  <div class="guide">
    {%include "portal/guide.html"%}
  </div>
{% endif %}

<!-- ログイン要求 -->
{% if page_mode == "login_require" %}
  <div class="guide">
    {%include "mypage/login_require.html"%}
  </div>
{% endif %}

<!-- ポータルタブ -->
{% if page_mode == "index" and not is_iphone %}
  {% include "pinterest/order_menu.html" %}
{% endif %}

<!-- index終了 -->
</div>

{% endif %}

<!-- Pinterest -->

{% if not thread_list %}
{% if not contents_only %}
{% if illust_enable %}
{% if page_mode != "guide" %}
{% if page_mode != "login_require" %}
<div class="message">
{% if is_english %}Illust not found{% else %}イラストは見つかりませんでした。{% endif %}
</div>
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}

{% if is_iphone and top_page %}
  {% if not contents_only %}
     {% include "pinterest/corner_stamp.html" %}
  {% endif %}
{% endif %}

<div id="infinite-scroll-container" class="transitions-enabled infinite-scroll clearfix">
  <div class="corner-stamp">
  {% if not(is_iphone and top_page) %}
    {% if not contents_only %}
     {% include "pinterest/corner_stamp.html" %}
    {% endif %}
  {% endif %}
  {% if page_mode == "index" and is_iphone %}
    {% include "pinterest/order_menu.html" %}
  {% endif %}
  </div>
  {% include "pinterest/illust.html" %}
</div>

{% if next_query %}
<div id="page-nav">
  <!-- page must be 2 for inf-scroll path detecter -->
  <a href="{{redirect_api}}?{{next_query}}&amp;contents_only=1&amp;page=2"></a>
</div>
{% endif %}

<!-- コンテンツ終了　-->
</div>
<br clear="all"/>

<!-- フッター -->
<div id="back-top">
  <a href="#top">TOP</a>
</div>

<div id="pinterest_footer">
<a href="{{host}}">{% if is_english %}ILLUSTBOOK{% else %}イラストブック{% endif %}</a>{% if is_iphone %}<br>{%else%} {%endif%}&copy; 2010-2014 <a href="http://www.abars.biz">ABARS</a> all rights reserved.{% if not is_iphone %} {% if is_english %}artwork:{% else %}カバーイラスト：{% endif %}<a href="http://pochigoya0423.blog.shinobi.jp/">{% if is_english %}POCHI{% else %}飯田のぎ{% endif %}</a>{%endif%}
</div>

<!-- masonry script -->
{% if not contents_only %}
  {% include "jquery.html" %}
  {% if use_masonry %}
    <script language="javascript" src="js/masonry.js" type="text/javascript"></script>
  {% endif %}
{% endif %}

<!-- load javascript -->
{% if not contents_only %}
  <script language="javascript" src="js/mypage_common.js" type="text/javascript"></script>
  <script language="javascript" src="{{host}}js/infinite_scroll.js" type="text/javascript"></script>
  <script type="text/javascript">
  $(document).ready(function(){
   infinite_scroll_initialize('{{infinite_scroll_selecter}}',"{{use_masonry}}"=="True","{{host}}",{{page}},{% if is_english %}true{% else %}false{% endif %});
  });
  </script>
{% endif %}

</body>
</html>
