<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% if is_iphone %}
<meta name="viewport" content="width=device-width">
{% endif %}

<title>
{% if mode == "support" %}よくある質問・サポート{% endif %}
{% if mode == "terms" %}ご利用規約{% endif %}
{% if mode == "guide" %}イラストブックの使い方{% endif %}
{% if mode == "questionnaire" %}アンケート{% endif %}
{% if mode == "community" %}コミュニティ{% endif %}
{% if mode == "profile" %}会社概要{% endif %}
{% if mode == "link" %}リンク{% endif %}
{% if mode == "chat" %}お絵かきチャット{% endif %}
{% if mode == "ranking" %}ランキング{% endif %}
｜イラストブック</title>

{%include "meta.html" %}
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="Copyright" content="Copyright: ABARS" />
{% include "jquery.html" %}
{% include "css/pinterest.css" %}
{% include "css/google_button.html" %}
{% include "css/floating_menu_css.html" %}
</head>

<body>

{% include "floating_menu.html" %}

<div id="container">
	<div id="contents" style="background-color:#ffffff;{% if not is_iphone %}width:880px;{% endif %}">
		{% if mode == "questionnaire" %}
			<h1><img src="static_files/general/images/enq/title_enq.gif" alt="アンケート" width="880" height="46" /></h1>
			<iframe src="https://spreadsheets.google.com/embeddedform?formkey=dGxzRGw0TnRYQmhPVC1JOTJfS1NhcEE6MQ" width="100%" height="1503" frameborder="0" marginheight="0" marginwidth="0">読み込み中...</iframe>
		{% endif %}

		{% if mode == "profile" %}
			<h1><img src="static_files/general/images/profile/title_profile.gif" alt="会社概要" width="880" height="40" /></h1>
			{% include "portal/profile.html" %}
		{% endif %}

		{% if mode == "community" %}
			<h1><img src="static_files/general/images/community/title_community.gif" alt="コミュニティ" width="880" height="40" /></h1>
			{% include "portal/community.html" %}
		{% endif %}

		{% if mode == "ranking" %}
			{% include "ranking/ranking.html" %}
		{% endif %}
		
		{% if mode == "link" %}
			{% if is_iphone %}
				<p>リンク</p>
			{% else %}
				<h1><img src="static_files/general/images/top/title_link.gif" alt="リンク" width="880" height="40" /></h1>
			{% endif %}
			<p>{% include "portal/link.html" %}</p>
		{% endif %}

		{% if mode == "guide" %}
			{%include "portal/guide.html"%}
		{% endif %}

		{% if mode == "support" %}
			<h1><img src="static_files/general/images/support/title_support.gif" alt="よくある質問・サポート" width="880" height="41" /></h1>
			{%include "portal/support.html" %}
		{% endif %}

		{% if mode == "terms" %}
			<div style="padding:4px;">
			<h1>ご利用規約</h1>
			{% include "portal/terms.html" %}
			<p>&nbsp;</p>
			<h1>プライバシーポリシー</h1>
			{% include "portal/privacy.html" %}
			</div>
		{% endif %}
		
		{% if mode == "chat" %}
			{% include "chat/chat.html" %}
		{% endif %}
	</div>
</div>

<!-- フッター -->
<div id="back-top">
  <a href="#top">TOP</a>
</div>

<div id="pinterest_footer" style="display:block;">
	{% include "portal/footer_link.html" %}
</div>

<script language="javascript" src="{{host}}js/infinite_scroll.js" type="text/javascript"></script>

</body>
</html>
