<div style="float:left">
	<select id="regulation" name="regulation" style="margin-bottom:0px;">
	<option value="0" {% if thread and thread.adult==0 %}selected="selected"{% endif %}>{% if is_english %}-{% else %}制限なし{% endif %}</option>
	<option value="1" {% if thread and thread.adult==1 %}selected="selected"{% endif %}>{% if is_english %}R15(NL){% else %}15歳未満禁止(NL){% endif %}</option>
	<option value="2" {% if thread and thread.adult==2 %}selected="selected"{% endif %}>{% if is_english %}R15(BL){% else %}15歳未満禁止(BL){% endif %}</option>
	<option value="4" {% if thread and thread.adult==4 %}selected="selected"{% endif %}>{% if is_english %}R15(GL){% else %}15歳未満禁止(GL){% endif %}</option>
	</select>
</div>
<br clear="all"/>