<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<title>{{thread.title}} - {{bbs.bbs_name}}</title>
{% include "./bbs_thread/meta.html" %}
{% include "./bbs_thread/css.html" %}
</head>

<body>
{% include "floating_menu.html" %}
	<div id="container">
		<!-- ヘッダ -->
		{% if template_path %}
			<div id="header">
				<h1><a href="{{usrhost}}">{{bbs.bbs_name}}</a></h1>
			</div>
		{% endif %}
		
		<!-- コンテンツ -->
		{% include 'thread/thread_top_menu.html' %}
		
		<div id="contents">
			<!-- メインエリア -->
			{% if template_path %}
			<div id="main">
			{% else %}
			<div id="main_1col">
			{% endif %}
				<!-- メンテナンス中 -->
				{% if is_maintenance %}
					<h2>{% if is_english %}Emergency Maintenance.{% else %}メンテナンスモードで稼動しています。現在、新規投稿はできません。{% endif %}</h2><br/>
				{% endif %}
				{% if message %}
					<h2>{{message}}</h2><br/>
				{% endif %}

				{% if template_path %}
				<div id="entry-head">
				</div>
				{% endif %}
				
				<!-- イラスト -->
				{% include "thread/thread_content.html" %}

				<!-- 新規コメント -->
				{% if not bbs.disable_comment and bbs.bbs_mode == 3 %}
					<div class="entry">
					{% include "thread/thread_comment_form.html" %}
					</div>
				{% endif %}

				<!-- 広告 -->
				<div class="entry mobile_ad">
					{% include 'adsense/adsense_wide.html' %}
				</div>

				<!-- タグ -->
				{% include "thread/thread_tag.html" %}

				<!-- コメント一覧 -->
				{% if not bbs.disable_comment %}
					<div class="entry">
					{% if search %}{{search}}を含む{% endif %}
					{% if is_english %}Comment{% else %}コメント{% endif %}
					{% if not comment %}
						<hr/>
						{% if is_english %}
							no comments
						{% else %}
							{% if search %}コメントは見つかりませんでした。{%else%}コメントはまだありません。{% endif %}
						{% endif %}
						<br/>
					{% else %}
						{{comment}}
					{% endif %}
					<p>&nbsp;</p>
					{% if comment %}
						{% include "thread/thread_comment_order.html" %}
					{% endif %}
					{% if bbs.bbs_mode != 3 %}
						{% include "thread/thread_comment_form.html" %}
					{% endif %}
					</div>
				{% endif %}

				<!--検索-->
				{% if bbs.bbs_mode == 3 %}
				<div class="entry">
				{% if is_english %}Search Comment{% else %}コメント検索{% endif %}<hr/>
				<div class="g-button-group toggle-buttons">
					<form method="get" action="{{usrhost}}{{thread.short}}.html">
					<input name="search" style="float:left;width:200px;margin-top:2px;margin-right:2px;" value="{% if search	 %}{{search}}{% endif %}"/>
					<input type="submit" value="{% if is_english %}Search{%else%}検索{% endif %}" class="g-button"/>
					</form>
				</div>
				</div>
				{% endif %}
				
				<!-- スレッドメニュー -->
				<div class="entry">
				{% if is_english %}Menu{% else %}メニュー{% endif %}
				<HR>
				{% include "thread/thread_menu.html" %}
				</div>
			</div>

			<div class="clr"></div>
		</div>

		<!-- フッタ -->
		{%include "footer.html"%}
	</div>

<div id="back-top">
  <a href="#top">TOP</a>
</div>

<!-- javascript -->
{% include "jquery.html" %}
<script language="javascript" src="{{host}}js/thread.js" type="text/javascript"></script>
<script language="javascript" src="{{host}}js/tag.js" type="text/javascript"></script>
<script language="javascript" src="{{host}}js/infinite_scroll.js" type="text/javascript"></script>

</body>
</html>

