<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<title>{{thread.title}} - {{bbs.bbs_name}}</title>
{% include "./bbs_thread/meta.html" %}
{% include "./bbs_thread/css.html" %}
{% include "floating_menu_css.html" %}
</head>

<body>
{% include "floating_menu.html" %}
	<div id="container">
	<!-- メンテナンス中 -->
		{% if is_maintenance %}
			メンテナンスモードで稼動しています。現在、新規投稿はできません。<br/>
		{% endif %}

		<!-- ヘッダ -->
		{% if template_path %}
			<div id="header">
				<h1><a href="{{usrhost}}">{{bbs.bbs_name}}</a></h1>
			</div>
		{% endif %}
		
		<!-- コンテンツ -->
		{% include 'thread/thread_top_menu.html' %}
		
		<div id="contents">
			<!-- メインエリア -->
			{% if template_path %}
			<div id="main">
			{% else %}
			<div id="main_1col">
			{% endif %}
				{% if template_path %}
				<div id="entry-head">
				</div>
				{% endif %}
				
				<!-- イラスト -->
				{% include "thread/thread_content.html" %}

				<!-- 広告 -->
				<div class="entry" {% if is_iphone %}{% if template_path %}style="margin-left:-6px;width:320px;"{% else %}style="padding-left:0px;padding-right:0px;"{% endif %}{% endif %}>
					{% include 'adsense/adsense_wide.html' %}
				</div>

				<!-- タグ -->
				{% include "thread/thread_tag.html" %}

				<!-- コメント一覧 -->
				{% if not bbs.disable_comment %}
					<div class="entry">
					{% if search %}{{search}}を含む{% endif %}
					コメント
					{% if not comment %}
						<hr/>{% if search %}コメントは見つかりませんでした。{%else%}コメントはまだありません。{% endif %}<br/>
					{% else %}
						{{comment}}
					{% endif %}
					<p>&nbsp;</p>
					{% include "./thread/thread_comment_order.html" %}
					{% include "thread/thread_comment_form.html" %}
					</div>
				{% endif %}

				<!--検索-->
				{% ifequal bbs.bbs_mode 3 %}
				<div class="entry">
				コメント検索<hr/>
				<div class="g-button-group toggle-buttons">
					<form method="get" action="{{usrhost}}{{thread.short}}.html">
					<input name="search" style="float:left;width:200px;margin-top:2px;margin-right:2px;" value="{% if search	 %}{{search}}{% endif %}"/>
					<input type="submit" value="検索" class="g-button"/>
					</form>
				</div>
				</div>
				{% endifequal %}
				
				<!-- スレッドメニュー -->
				<div class="entry">
				メニュー
				<HR>
				{% include "thread/thread_menu.html" %}
				</div>
			</div>

			<div class="clr"></div>
		</div>

		<!-- フッタ -->
		{%include "footer.html"%}
	</div>

	<script language="javascript" src="{{host}}js/thread.js" type="text/javascript"></script>
	<script language="javascript" src="{{host}}js/tag.js" type="text/javascript"></script>
</body>

</html>

