<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% include "viewport.html" %}
<title>イラストの投稿｜イラストブック</title>
{%include "meta.html" %}
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="Copyright" content="Copyright: ABARS" />
{% include "css/portal.css" %}
{% include "css/floating_menu_css.html" %}
</head>
<body>

	<p>&nbsp</p>

<div id="container">
	<p>&nbsp</p>
	<div id="contents">
			<h1>イラストの投稿</h1>
			<p>アップロードしたイラストは、レンタルしている掲示板か、ブックマークしている掲示板に投稿することができます。</p>
			{% if not user %}
				<p>投稿にはログインが必要です。</p>
			{% else %}
				<p>次のフォームに必要な情報を入力し、投稿ボタンを押して下さい。</p>
			{% endif %}

			<form action='http://localhost/' enctype="multipart/form-data" method="post" onSubmit="this.action='{{host}}add_thread';">
			<input type="hidden" name="illust_mode" value="1"/>
			<input type="hidden" name="mode" value="illust_temp"/>
			<input type="hidden" name="temp_illust_key" value="{{temp_key}}"/>

			<table class="g-table">
				<tr>
					<td>アップロードしたイラスト</td>
					<td>
						<img src="./img/{{temp_key}}.jpg?force=1" width="300px"/>
					</td>
				</tr>
				<tr>
					<td>引数</td>
					<td>
						{{args}}
					</td>
				</tr>
			{% if user %}
				<tr>
					<td>投稿先</td>
					<td>
						<select name="bbs_key">
						{% for bbs in bbs_list %}
							<option value="{{bbs.key}}">{{bbs.title}}</option>
						{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>タイトル</td>
					<td><input name="thread_title"/></td>
				</tr>
				<tr>
					<td>投稿者(必須)</td>
					<td><input name="author" value="{{user_name}}"/><input name="link_to_profile" type="checkbox" checked/>マイページにリンク</td>
				</tr>
				<tr>
					<td>コメント</td>
					<td><textarea name="comment" rows="8" cols="40"></textarea></td>
				</tr>
			{% endif %}
			</table>
			<br/>
			{% if not user %}
				<a href="{{redirect_url|login_url|escape}}" class="g-button">ログインして投稿</a>
			{% else %}
				<input type="submit" value="イラストを投稿する" class="g-button"/>
			{% endif %}
			<a href="{{host}}guide" class="g-button" target="_blank">イラストブックとは？</a>
		</form>
	</div>
</div>

	<p>&nbsp</p>

</body>
</html>
