<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% include "viewport.html" %}
<title>イラストの投稿｜イラストブック</title>
{%include "meta.html" %}
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="Copyright" content="Copyright: ABARS" />
{% include "css/portal.css" %}
{% include "css/floating_menu_css.html" %}
</head>
<body>

	<p>&nbsp</p>

<div id="container">
	<p>&nbsp</p>
	<div id="contents">
			<h1>{% if is_english %}Submit the uploaded image{% else %}イラストの投稿{% endif %}</h1>
			<p>
				{% if is_english %}
				You can submit the uploaded image to the selected BBS.
				{% else %}
				アップロードしたイラストは、自分のボードか、ブックマークしているボードに投稿することができます。
				{% endif %}
			</p>
			{% if not user %}
				<p>
					{% if is_english %}
					Please login to the ILLUSTBOOK.
					{% else %}
					投稿にはログインが必要です。
					{% endif %}
				</p>
			{% else %}
			<p>
				{% if is_english %}
				Please enter the following information.
				{% else %}
				次のフォームに必要な情報を入力し、投稿ボタンを押して下さい。
				{% endif %}
			</p>
			{% endif %}

			<form action='http://localhost/' enctype="multipart/form-data" method="post" onSubmit="this.action='{{host}}add_thread';">
			<input type="hidden" name="illust_mode" value="1"/>
			<input type="hidden" name="mode" value="illust_temp"/>
			<input type="hidden" name="temp_illust_key" value="{{temp_key}}"/>

			<table class="g-table">
				<tr>
					<td>{% if is_english %}Uploaded image{% else %}アップロードしたイラスト{% endif %}</td>
					<td>
						<img src="./img/{{temp_key}}.jpg?force=1" width="300px"/>
					</td>
				</tr>
{#
				<tr>
					<td>引数</td>
					<td>
						{{args}}
					</td>
				</tr>
#}
			{% if user %}
				<tr>
					<td>{% if is_english %}Submit to{% else %}投稿先{% endif %}</td>
					<td>
						<select name="bbs_key">
						{% for bbs in bbs_list %}
							<option value="{{bbs.key}}">{{bbs.title}}</option>
						{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>{% if is_english %}Title{% else %}タイトル{% endif %}</td>
					<td><input name="thread_title"/></td>
				</tr>
				<tr>
					<td>{% if is_english %}Author{% else %}投稿者(必須){% endif %}</td>
					<td><input name="author" value="{{user_name}}"/><input name="link_to_profile" type="checkbox" checked/>{% if is_english %}Link to mypage{% else %}マイページにリンク{% endif %}</td>
				</tr>
				<tr>
					<td>{% if is_english %}Comment{% else %}コメント{% endif %}</td>
					<td><textarea name="comment" rows="8" cols="40"></textarea></td>
				</tr>
			{% endif %}
			</table>
			<br/>
			{% if not user %}
				<a href="{{redirect_url|login_url|escape}}" class="g-button">{% if is_english %}Login and Submit{% else %}ログインして投稿{% endif %}</a>
			{% else %}
				<input type="submit" value="{% if is_english %}Submit{% else %}イラストを投稿する{% endif %}" class="g-button"/>
			{% endif %}
			<a href="{{host}}guide" class="g-button" target="_blank">{% if is_english %}About ILLUSTBOOK{% else %}イラストブックとは？{% endif %}</a>
		</form>
	</div>
</div>

	<p>&nbsp</p>

</body>
</html>
