<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

{% if ipad %}
	<meta name="viewport" content="width=device-width,user-scalable=no,minimum-scale=1.0,maximum-scale=1.0">
{% else %}
	<meta name="viewport" content="width=480px,user-scalable=no,minimum-scale=0.667,maximum-scale=0.667">
{% endif %}

{% if chat %}
<title>{{room_name}}｜イラブチャット</title>
{% else %}
<title>{{bbs.bbs_name}}へのイラストの新規投稿</title>
{% endif %}

<link rel="stylesheet" type="text/css" media="screen,print" href="{{host}}static_files/google_buttons/css/google-buttons.css?version=120531" />

<script language="JavaScript" src="./api_js"></script>
<script language="JavaScript" src="./js/ipad/ilbpaint_ipad_const.js"></script>
<script language="JavaScript" src="./js/ipad/ilbpaint_ipad_rendering.js"></script>
<script language="JavaScript" src="./js/ipad/ilbpaint_ipad_draw_primitive.js"></script>
<script language="JavaScript" src="./js/ipad/ilbpaint_ipad_draw.js"></script>
<script language="JavaScript" src="./js/ipad/ilbpaint_ipad_chat.js"></script>
<script language="JavaScript" src="./js/ipad/ilbpaint_ipad_buffer.js"></script>
<script language="JavaScript" src="./js/ipad/ilbpaint_ipad_undo.js"></script>
<script language="JavaScript" src="./js/ipad/ilbpaint_ipad_upload.js"></script>
<script language="JavaScript" src="./js/ipad/ilbpaint_ipad_import.js"></script>
<script language="JavaScript" src="./js/ipad/ilbpaint_ipad_tool.js"></script>
<script language="JavaScript" src="./js/ipad/ilbpaint_ipad_hand.js"></script>
<script language="JavaScript" src="./js/ipad/ilbpaint_ipad_user.js"></script>
<script language="JavaScript" src="./js/ipad/ilbpaint_ipad_layer.js"></script>
<script language="JavaScript" src="./js/ipad/ilbpaint_ipad_spoit.js"></script>
<script language="JavaScript" src="./js/ipad/ilbpaint_ipad_palette.js"></script>
<script language="JavaScript" src="./js/ipad/ilbpaint_ipad_colorcircle.js"></script>
<script language="JavaScript" src="./js/ipad/ilbpaint_ipad_bottom_tool.js"></script>
<script language="JavaScript" src="./js/ipad/ilbpaint_ipad.js"></script>

<script language="JavaScript" src="./js/cookie.js"></script>

<style>
	.layer_button{
		border:solid 1px #5f5fef;
		margin:6px;
		padding:2px;
		border-radius:4px;
	}
	
	#toolmenu{
		z-index:99;
		background-color:#F4F7FC;
		border-radius:4px;
		margin:2px;
		padding-bottom:4px;
		padding-left:1px;
		padding-right:1px;
	}
	
	#bottom_tool{
		position:fixed;
		right:2px;
		bottom:2px;
		padding-bottom:0px;
		z-index:99;
		background-color:#F4F7FC;
		border-radius:4px;
	}
	
	#palette_tool{
		position:fixed;
		display:none;
		z-index:99;
		right:0px;
		margin:2px;
		background-color:#F4F7FC;
		border-radius:4px;
		margin-bottom:4px;
	}
	
	.upload_form{
		position:fixed;
		padding-bottom:10px;
		display:none;
		right:0px;
		bottom:0px;
		width:471px;
		z-index:99;
		background-color:#F4F7FC;
		border-radius:4px;
		margin:2px;
		margin-bottom:4px;
		padding:4px;
	}
	
	.tool_button{
		border-radius:4px;
		margin:2px;
		text-align:center;
		border:solid 2px #5f5fef;
		background-color:#ffffff;
	}
	
</style>

{% if chat %}
<script src="/_ah/channel/jsapi"></script>
{% endif %}
</head>

<body style="color:#2f2fbf;background-color:#d8d8d8;margin:0px;" onload="loadCookie();{% if chat %}chat_init('{{chat}}','{{user_id}}','{{user_name}}',{{server_time}},{{viewmode}},'{{token}}','{{client_id}}');{% else %}chat_init('local','','',0);{% endif %}ipad_init({{canvas_width}},{{canvas_height}},'{{canvas_url}}');" style="overflow:hidden;margin:0px;padding:0px;-webkit-user-select: none;" onselectstart="return false;">

<div style="width:100%;height:100%;">
	<div id="bottom_tool">
		<div id="toolmenu">
		</div>
		<BR clear="all">
		<div id="edit_tool">
			<div style="float:left;"><canvas id="pen_tools" width="480px" height="60px""></canvas></div>
			<BR clear="all">
		</div>
		{% if chat %}
		<div style="float:left;width:70%;margin-top:8px;margin-left:2px;">
			<textarea id="comment_list" style="width:100%;height:100px;" readonly="readonly"></textarea>
		</div>
		<div style="float:left;margin-left:8px;margin-top:8px;width:25%;">
			<div id="user_list">
			</div>
			<div id="status">
			</div>
			<div id="twitter">
				<a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-count="none" data-hashtags="ilbchat">ツイート</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>
		<BR clear="all">
		{% ifequal viewmode "false" %}
			<form action="javascript:return false;" onsubmit="javascript:g_chat.comment();return false;" style="margin-left:2px;margin-bottom:2px;"><input id="comment" type="text" style="width:50%;"></input><input type="submit" value="発言"></input></form>
		{% endifequal %}
		{% else %}
		{% endif %}
	</div>

	<div id="palette_tool">
			<div id="palette_tool_color" style="display:none;">
				<div style="float:left;"><canvas id="color_circle" width="200px" height="200px"></canvas></div>
				<div id="palette" style="float:left;max-width:210px;margin-top:4px;margin-bottom:4px;"></div>
			</div>
			<div id="palette_tool_layer" style="display:none;">
				<div id="palette_tool_layer_list" style="float:left;">
				</div>
				<div style="float:left;">
					{% if chat %}
					{% else %}
					<div class="layer_button" onmousedown="g_layer.add_layer();" ontouchstart="g_layer.add_layer();">
					レイヤーの追加
					</div>
					<div class="layer_button" onmousedown="g_layer.clear_layer();" ontouchstart="g_layer.clear_layer();">
					レイヤーのクリア
					</div>
					<div class="layer_button" onmousedown="g_layer.up_layer();" ontouchstart="g_layer.up_layer();">
					一つ上に移動
					</div>
					<div class="layer_button" onmousedown="g_layer.down_layer();" ontouchstart="g_layer.down_layer();">
					一つ下に移動
					</div>
					{% endif %}
				</div>
			</div>
	</div>

		<div id="uploading" class="upload_form">
			アップロード中です。しばらくお待ち下さい。
			<input class="g-button blue" type="button" value="キャンセル" onclick="javascript:g_upload.upload_cansel();">
		</div>

		<div id="upload_finish" class="upload_form">
			アップロードが完了しました。
			<input class="g-button blue" type="button" value="完了" onclick="javascript:g_upload.upload_cansel();">
		</div>
	
		<div id="upload_form" class="upload_form">
			<table>
				<tr><td>タイトル</td><td><input id="title""></td></tr>
				<tr><td>投稿者名（必須）</td><td><input id="name"></td></tr>
				<tr><td>マイページにリンク</td><td>
			{% if logined %}
				<input id="link_to_profile" name="link_to_profile" type="checkbox" checked>リンクする
			{% else %}
				リンクするにはログインが必要です
			{% endif %}
				</td></tr>
				<tr><td>削除キー</td><td><input id="delete_key"></td></tr>
				{% if chat %}
				<tr><td>投稿先</td><td>
					{% if bbs_list %}
					<select id="bbs_list">{% for bbs in bbs_list %}<option value="{{bbs.key}}">{{bbs.bbs_name}}</option>{% endfor %}</select>
					{% else %}
					投稿先が見つかりません。マイページから掲示板を作成して下さい。
					{% endif %}
				</td></tr>
				{% endif %}
				{% if not chat %}
				<tr><td>画像を読込</td><td><input type="file" id="import" onchange="ipad_import();"/></td></tr>
				{% endif %}
			</table>
			<BR>コメント<BR><textarea id="comment" rows=6 style="width:90%;"></textarea><BR><BR>
<input class="g-button blue" type="button" value="{% if chat %}スナップショットを投稿する{% else %}イラストを投稿する{% endif %}" onclick="javascript:g_upload.upload('{{bbs_key}}','{{thread_key}}','{{reply}}');">
		</div>

	<!-- Canvas外でもイベントを取るためにサイズを64拡張する -->
	<div id="canvas_event" style="width:100%;height:10%;background-color:#d8d8d8;">
		<div id="canvas_div" style="position:relative;width:{{canvas_width|add:64}}px;height:{{canvas_height|add:64}}px; top: 0; left: 0;">
			<canvas id="canvas_background" width="{{canvas_width}}px" height="{{canvas_height}}px" style="position: absolute; top: 32; left: 32;background-color:#ffffff;z-index: 0;"></canvas>
		</div>
	</div>
</div>

<!--ワーク-->
<canvas id="canvas_work" width="{{canvas_width}}px" height="{{canvas_height}}px"  style="position: absolute; top: 0; left: 0;z-index: 0; visibility:hidden;"></canvas>
<canvas id="canvas_rendering" width="{{canvas_width}}px" height="{{canvas_height}}px" style="background-color:#ff0000;z-index:100;position:absolute;top:0;left:60;display:none;"></canvas>
<canvas id="canvas_thumbnail" width="100" height="100" style="background-color:#00ff00;z-index:110;position:absolute;top:0;left:60;display:none;"></canvas>

</body>
</html>