{% if not template_path %}
	<style type="text/css">
	.g-table td{
		padding:0px;
		padding-left:2px;
	}
	</style>
{% endif %}

	<div id="container">
{% if template_path %}
		<div id="header"></div>
{% endif%}
		<div id="contents-header">
			<div style="padding-top:6px;">
				<input class="g-button" type="button" onclick="close_submit_window();" value="{% if is_english %}Back to Tool{% else %}お絵かきツールに戻る{% endif %}"/>
				<a href="{{host}}guide" target="_blank" class="g-button" style="color:#333;">{% if is_english %}How to{% else %}イラストブックの使い方{% endif %}</a>
			</div>
		</div>
		<div id="contents">
{% if template_path %}
			<div id="main">
				<div id="entry-head"></div>
{% else %}
			<div id="main_1col">
{% endif %}
				<div class="entry">
					<p>{% if is_english %}Submit Illust{% else %}イラストを掲示板に投稿します。イラストの情報を入力して、投稿ボタンを押して下さい。{% endif %}</p>

					<p>&nbsp</p>

					<table class="g-table" style="width:100%;">
					{% if reply == "1" %}
					{% else %}
					<tr><td><p>{% if is_english %}Title{% else %}タイトル{% endif %}</p></td><td><input id="title" style="width:100%;"/></td></tr>
					{% endif %}
					<tr><td><p>{% if is_english %}Name (MUST){% else %}投稿者名（必須）{% endif %}</p></td><td><input id="name" style="width:30%;"/>&nbsp;
						{% if logined %}
							<input  type="checkbox" id="link_to_profile"checked>{% if is_english %}Link to mypage{% else %}マイページにリンク{% endif %}
						{% endif %}
					</td></tr>
					<tr><td><p>{% if is_english %}Homepage URL{% else %}ホームページ{% endif %}</p></td><td><input id="homepage_addr" value="http://" style="width:100%;"/></td></tr>
					<tr><td><p>{% if is_english %}Delete key{% else %}削除キー{% endif %}</p></td><td><input id="delete_key" style="width:100%;"/></td></tr>
					<tr><td><p>{% if is_english %}Category{% else %}カテゴリ{% endif %}</p></td><td>
					{% include "category_list.html" %}
					</td></tr>
					<tr><td><p>{% if is_english %}Regulation{% else %}年齢制限{% endif %}</p></td><td>
					{% include "regulation_list.html" %}
					</td></tr>
					<tr><td><p>{% if is_english %}Option{% else %}オプション{% endif %}</p></td><td>
						<div id="thread_option" style="float:left;">
							<input type="checkbox" id="no_illust" onClick="SetToOnlyTextMode();">{% if is_english %}Text Only{% else %}文字だけで投稿{% endif %}　
							<input type="checkbox" id="alpha_png_mode" onClick="SetToAlphaPngMode();">{% if is_english %}PNG format{% else %}透過PNGで投稿{% endif %}　
							<input type="checkbox" id="resize_width" checked>{% if is_english %}Auto resize{% else %}700px以上の画像を縮小{% endif %}　
							<input type="checkbox" id="dont_show_in_portal">{% if is_english %}Private{%else%}トップに非表示{% endif %}
						</div>
					</td></tr>
					</table>
					
					<p>&nbsp</p>

					<p>{% if is_english %}Comment{% else %}コメント{% endif %}</p>{% if template_path %}<br/>{% endif %}

					<div id="rediter_comment" style="float:left"></div>
					<div id="rediter_fontsize" style="float:left"></div>  
					<div id="rediter_palette" style="float:left"></div>
					<div id="rediter_button" style="float:left"></div><BR clear="both">
					<iframe id="rediter_iframe" width=100% height=300px></iframe><BR>

					{% if not is_english %}
					<p>&nbsp</p>

					<p>投稿時の注意</p>{% if template_path %}<br/>{% endif %}
					<p>同じイラストを複数の掲示板に投稿する行為（マルチポスト）は避けて下さい。</p>
					<p>投稿の際、非表示レイヤーは非表示の状態で、反転は反転された状態で投稿されます。<p>
					<p>投稿後はレイヤー情報が失われます。再編集をする必要がある場合はファイルに保存して下さい。</p>
					<p>実写画像の投稿は禁止されています。</p>
					{% endif %}

					<div id="no_illust_alert" style="display:none;background-color:#ffcccc;">
						{% if is_english %}
						<p>Text only submit mode</p>
						{% else %}
						<p>文字だけで投稿をした場合は描画したイラストは投稿されませんのでご注意下さい。</p>
						{% endif %}
					</div>

					<p>&nbsp</p>

					<input id="normalsubmit" class="g-button" type="button" onclick="close_submit_window();uploadImage(0);" value="{% if is_english %}Submit{% else %}イラストを投稿する{% endif %}">
					<input id="overwrite" class="g-button" type="button" onclick="close_submit_window();uploadImage(1);" value="{% if is_english %}Overwrite{% else %}イラストを上書き投稿する{% endif %}" style="visibility:hidden;">

				</div>
			</div>
		</div>
		<div id="contents-footer">
		</div>
	</div>
