<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{% include "./bbs_thread/css.html" %}
<title>{% if is_english %}New Illust{% else %}{{bbs.bbs_name}}へのイラストの新規投稿{% endif %}</title>

<style type="text/css">

/* for IE10 */
body{
	-ms-touch-action: none;
	-ms-content-zooming: none;
}

/* for all */
html,body{
	height: 100%;
	overflow: hidden;
}

* {
	margin:0px;
	padding:0px;
}

object, embed {	
	vertical-align: top;
}

</style>

{% if wacom2 %}
<script language="JavaScript" src="./js/wacom_tablet_plugin_ver2.js"></script>
{% else %}
<script language="JavaScript" src="./js/wacom_tablet_plugin.js"></script>
{% endif %}

<script language="JavaScript" src="./js/swfobject.js"></script>
<script language="JavaScript" src="./js/cookie.js"></script>
<script language="JavaScript" src="./js/upload_ilb.js"></script>
<script language="JavaScript" src="./js/unloadlock.js"></script>
<script language="JavaScript" src="./js/rediter.js"></script>
<script><!--
	function init(){
		//Flashの読込
		var playerVersion = swfobject.getFlashPlayerVersion();
		var flashvars={
			"celsys":"{{celsys}}",
			"draw_time":"{{draw_time}}",
			"local_mode":"0",
			"width":"{{canvas_width}}",
			"height":"{{canvas_height}}",
			"bbs_key":"{{bbs_key}}",
			"thread_key":"{{thread_key}}",
			"entry_key":"{{entry_key}}",
			"canvas_url":"{{canvas_url}}",
			"host":"{{host}}",
			"reply":"{{reply}}",
			{% if bbs.tool_bg_color %}
			"bg_color":"{{bbs.tool_bg_color}}",
			{%endif%}
			{% if is_english %}
			"is_english":"1",
			{% endif %}
			"delete_when_upload_success":"{{bbs.delete_when_upload_success}}",
			"disable_import_image":"{{bbs.disable_import_image}}"
		};
		var params={
			"allowScriptAccess":"always",
			"quality":"high",
			"allowFullScreen":"true",
			"wmode":"direct"
		};

		{% if version == "100" %}
			swfobject.embedSWF("flash/IllustBookNew.swf","fromJavaScript","100%","100%","11.2.0",null,flashvars,params);
		{% else %}
			var force_version10=false;
			{% if version == "10" %}
				force_version10=true;
			{% endif %}
			if(force_version10 || playerVersion.major<=10 || (playerVersion.major==11 && playerVersion.minor<9)){
				swfobject.embedSWF("flash/IllustBook10.swf","fromJavaScript","100%","100%","10.0.0",null,flashvars,params);
			}else{
				swfobject.embedSWF("flash/IllustBook.swf","fromJavaScript","100%","100%","11.9.0",null,flashvars,params);
			}
		{% endif %}
		
		//リッチエディタを準備
		var color="{%if bbs.font_color and not template_path %}#{{bbs.font_color}}{% else %}#333333{% endif %}";
		rediter_init('rediter','{{summary|safe}}','10pt',color,false,{% if is_english %}true{% else %}false{% endif %});
		if(document.getElementById("title")){
			document.getElementById("title").value='{{title|safe}}';
		}
		
		//タブレットを準備
		initWacom();
		
		//クッキー読込
		loadCookie();

		//上書き保存時のみ上書きモードを表示
		{% if canvas_url != "" and reply == "0"%}
			document.getElementById("overwrite").style.visibility="visible";
		{% endif %}
		
		//コメントの編集時は上書きのみ
		{% if entry_key != "" %}
			document.getElementById("overwrite").style.visibility="visible";
			document.getElementById("normalsubmit").style.display="none";
		{% endif %}
		
		//絵でコメント時はpngにできない
		{% if reply == "1" %}
			document.getElementById("thread_option").style.display="none";
		{% endif %}
	}
	
	//Size指定による
	function get_flex_object(){
		if (navigator.appName.indexOf("Microsoft") != -1 && !document["fromJavaScript"]) {
			flex_object=window["fromJavaScript"];
		} else {
			flex_object=document["fromJavaScript"];
		}
		return flex_object;
	}

	function open_submit_window(){
		get_flex_object().width="1px";
		get_flex_object().height="1px";
		document.getElementById("loading_window").style.display="none";
		document.getElementById("submit_window").style.display="block";
	}

	function close_submit_window(){
		get_flex_object().width="100%";
		get_flex_object().height="100%";
		document.getElementById("submit_window").style.display="none";
	}

	//ホスト名の取得
	var g_remote_host="";
	
	function get_host(remote_host){
		g_remote_host=remote_host;
	}
--></script>

<script type="application/javascript" src="http://www.abars.biz/remote_host/remote_host.php?callback=get_host"> </script>

</head>

<body bgcolor=#ffffff onload="init();">

<div id="fromJavaScript">
</div>

<div id="loading_window" style="position:absolute;left:8px;top:8px;z-index:-1;">
	<p>{% if is_english %}Loading{% else %}イラブペイントを読込中{% endif %}</p>
</div>

<div id="submit_window" style="position:absolute;left:0px;top:0px;margin:0px;padding:0px;z-index:1;display:none;width:100%;height:100%;overflow: auto;">
	{% include "tools/draw_window_flash_submit.html" %}
</div>

<div id="wacomPlugin">
</div>

</body>
</html>
