{% if not contents_only %}

<div class="bbs_list_left">
	<!-- レンタルしている -->
	{% if rental_bbs_list %}
	<div class="message bbs_list hot_bbs">
		<div class="bbs_title">
		{% if is_english %}My BBS{% else %}作成済み{% endif %}
		{% if bookmark.privacy_rental_bbs %}
			<br/>
			{% if is_english %}
			not open to the public
			{% else %}
			非公開に設定されています
			{% endif %}
		{% endif %}
		</div>

		<br clear="all"/>
		{% if not bookmark.privacy_rental_bbs or not view_mode %}
		{% for bbs in rental_bbs_list %}
			<div class="bbs_info">
				<div class="bbs_info_contents">
					<a href="{{bbs.bbs_url}}">
					{{bbs.title}}
					</a>
					<br/>{{bbs.summary}}
					{% if bbs.bookmark %}
						&nbsp;
						<a href='show_bookmark?bbs_key={{bbs.key}}'>{{bbs.bookmark}}{% if is_english %}Bookmark{% else %}ブクマ{% endif %}</a>
					{% endif %}
				</div>
			</div>

			<div class="bbs_thumbnail">
				<a href="{{bbs.bbs_url}}">
				{% if bbs.thumbnail_url %}<img src="{{bbs.thumbnail_url}}" width="50px" height="50px" alt="{{bbs.title}}"/>{%else%}<img src="{{host}}static_files/empty_user.png" width="50px" height="50px" alt="{{bbs.title}}"/>{% endif %}
				</a>
			</div>

			<div class="bbs_button">
				{% if edit_mode == 1 %}
					<a href="javascript:confirm_action_bbs('del_bbs?bbs_key={{bbs.key}}','{{bbs.title|escape_single_quotation}}',{% if is_english %}true{%else%}false{% endif %});" class="g-button no-text"><i class="icon-remove"></i></a>
				{% endif %}
			</div>

			<br clear="all"/>
		{% endfor %}
		{% endif %}
	</div>
	{% endif %}

	<!-- 新規作成 -->
	{% if not is_iphone %}
		{%include "mypage/rental.html" %}
	{% endif %}
</div>

	<!-- ブックマーク -->
	{% if bookmark_bbs_list %}
	<div class="message bbs_list hot_bbs">
		<div class="bbs_title">
			{% if is_english %}Bookmark BBS{% else %}ブックマークしている{% endif %}
		</div>
		<br clear="all"/>

		{% for bbs in bookmark_bbs_list %}
			<div class="bbs_info">
				<div class="bbs_info_contents">
					{% if bbs.bbs_url %}<a href="{{bbs.bbs_url}}">{% endif %}
					{{bbs.title}}
					{% if bbs.bbs_url %}</a>{% endif %}
					<br/>
					{{bbs.summary}}
							{% if bbs.bookmark %}
						&nbsp;<a href='show_bookmark?bbs_key={{bbs.key}}'>{{bbs.bookmark}}{% if is_english %}Bookmark{% else %}ブクマ{% endif %}</a>
					{% endif %}
			</div>
		</div>

		<div class="bbs_thumbnail">
			<a href="{{bbs.bbs_url}}">
			{% if bbs.thumbnail_url %}<img src="{{bbs.thumbnail_url}}" width="50px" height="50px" alt="{{bbs.title}}"/>{%else%}<img src="{{host}}static_files/empty_user.png" width="50px" height="50px" alt="{{bbs.title}}"/>{% endif %}
			</a>
		</div>

		<div class="bbs_button">
			{% if edit_mode == 1 %}
				<a href="javascript:confirm_delete('del_bbs&bbs_key={{bbs.key}}','ブックマーク','{{bbs.title|escape_single_quotation}}',{% if is_english %}true{%else%}false{% endif %});" class="g-button no-text"><i class="icon-remove"></i></a>
			{% endif %}
		</div>

		<br clear="all"/>
		{% endfor %}
	</div>
	{% endif %}

	<!-- ミュート -->
	{% if bookmark_mute_bbs_list and not view_mode %}
	<div class="message bbs_list hot_bbs">
		<div class="bbs_title">
			{% if is_english %}Mute BBS{% else %}ミュートしている{% endif %}
		</div>
		<br clear="all"/>

		{% for bbs in bookmark_mute_bbs_list %}
			<div class="bbs_info">
				<div class="bbs_info_contents">
					{% if bbs.bbs_url %}<a href="{{bbs.bbs_url}}">{% endif %}
					{{bbs.title}}
					{% if bbs.bbs_url %}</a>{% endif %}
					<br/>
					{{bbs.summary}}
			</div>
		</div>

		<div class="bbs_thumbnail">
			<a href="{{bbs.bbs_url}}">
			{% if bbs.thumbnail_url %}<img src="{{bbs.thumbnail_url}}" width="50px" height="50px" alt="{{bbs.title}}"/>{%else%}<img src="{{host}}static_files/empty_user.png" width="50px" height="50px" alt="{{bbs.title}}"/>{% endif %}
			</a>
		</div>

		<div class="bbs_button">
			{% if edit_mode == 1 %}
				<a href="javascript:confirm_delete('del_mute_bbs&bbs_key={{bbs.key}}','ミュートリスト','{{bbs.title|escape_single_quotation}}',{% if is_english %}true{%else%}false{% endif %});" class="g-button no-text"><i class="icon-remove"></i></a>
			{% endif %}
		</div>

		<br clear="all"/>
		{% endfor %}
	</div>
	{% endif %}

	<!-- 新規レンタル -->
	{% if is_iphone %}
		{%include "mypage/rental.html" %}
	{% endif %}

{% endif %}