				<form action="./update_profile" enctype="multipart/form-data" method="post" name="profile_frm">
				<input type="hidden" name="mode" value="profile">
				
				<table>
				<tr><td>{% if is_english %}Name{% else %}ユーザ名{% endif %}</td><td>　</td><td><input name="name" type="text" value="{% if bookmark.name %}{{bookmark.name}}{% endif %}" style="width:90%;"></td></tr>
				<tr><td>{% if is_english %}Sex{% else %}性別{% endif %}</td><td>　</td><td>
				<select name="sex" id="sex">
					<option value="0" {% if bookmark.sex == 0 %} selected="selected" {% endif%}>{% if is_english %}-{% else %}非公開{% endif %}</option>
					<option value="1" {% if bookmark.sex == 1 %} selected="selected" {% endif%}>{% if is_english %}Male{% else %}男{% endif %}</option>
					<option value="2" {% if bookmark.sex == 2 %} selected="selected" {% endif%}>{% if is_english %}Female{% else %}女{% endif %}</option>
				</select>
				</td></tr>
				<tr><td>{% if is_english %}Birth Year{% else %}生まれた年(西暦){% endif %}</td><td>　</td><td>
				<input name="birthday_year" type="text" value="{% if bookmark.birthday_year %}{{bookmark.birthday_year}}{% endif %}" style="width:80px;">{% if not is_english %}年（空白で非公開）{% endif %}
				</td></tr>
				<tr><td>{% if is_english %}Birth Day{% else %}誕生日（半角）{% endif %}</td><td>　</td><td>
				<input name="birthday_month" type="text" value="{% if bookmark.birthday_month %}{{bookmark.birthday_month}}{%endif%}" style="width:40px;">{% if is_english %}/{% else %}月{% endif %}
				<input name="birthday_day" type="text" value="{% if bookmark.birthday_day %}{{bookmark.birthday_day}}{% endif %}" style="width:40px;">{% if not is_english %}日（空白で非公開）{% endif %}
				</td></tr>
				<tr><td>{% if is_english %}Publicity{% else %}公開設定{% endif %}</td><td>　</td><td>
					<input type="checkbox" name="privacy_rental_bbs" value="privacy_rental_bbs" {% if not bookmark.privacy_rental_bbs %} checked{% endif %} />{% if is_english %}BBS{% else %}自分のボード{% endif %}<br/>
					<input type="checkbox" name="privacy_user_ranking" value="privacy_user_ranking" {% if not bookmark.disable_rankwatch %} checked{% endif %} />{% if is_english %}User Ranking{% else %}ユーザランキング{% endif %}<br/>
					<input type="checkbox" name="privacy_tweet" value="privacy_tweet" {% if not bookmark.disable_global_tweet %} checked{% endif %} />{% if is_english %}Tweet{% else %}ツイート（ポータル）{% endif %}
				</td></tr>
				<tr><td>{% if is_english %}Regulation{% else %}年齢制限付きコンテンツ{% endif %}</td><td>　</td><td>
					<input type="checkbox" name="regulation_r15_nl" value="regulation_r15_nl" {% if bookmark.regulation and bookmark.regulation%2 == 1 %} checked{% endif %} />R15(NL)&nbsp;
					<input type="checkbox" name="regulation_r15_bl" value="regulation_r15_bl" {% if bookmark.regulation and (bookmark.regulation//2)%2 == 1 %} checked{% endif %} />R15(BL)&nbsp;
					<input type="checkbox" name="regulation_r15_gl" value="regulation_r15_gl" {% if bookmark.regulation and (bookmark.regulation//4)%2 == 1 %} checked{% endif %} />R15(GL)<br/>
				</td></tr>
				<tr><td>{% if is_english %}Comment{% else %}コメント{% endif %}</td><td>　</td><td><textarea name="profile" rows="8" cols="40" style="width:90%;">{% if edit_profile %}{{edit_profile}}{% endif %}</textarea></td></tr>
				<tr><td>{% if is_english %}Homepage{% else %}ホームページ{% endif %}</td><td>　</td><td><input name="homepage" type="text" value="{% if bookmark.homepage %}{{bookmark.homepage}}{% endif %}" style="width:90%;"></td></tr>
				<tr><td>{% if is_english %}Mail{% else %}メール{% endif %}</td><td>　</td><td><input name="mail" type="text" value="{% if bookmark.mail %}{{bookmark.mail}}{% endif %}" style="width:90%;"></td></tr>
				<tr><td>TwitterID</td><td>　</td><td><input name="twitter" type="text" value="{% if bookmark.twitter_id %}{{bookmark.twitter_id}}{% endif %}" style="width:90%;"></td></tr>
				<tr><td>マイカラー（β）</td><td>　</td><td><input name="my_color" type="text" value="{% if bookmark.my_color %}{{bookmark.my_color}}{% else %}#f2f2f2{% endif %}" style="width:90%;"></td></tr>
				<tr><td>{% if is_english %}Icon{% else %}アイコン{% endif %}</td><td>　</td><td>{% if not is_iphone %}<input type="file" name="icon">{% endif %}</td></tr>
				</table>
				{% if is_iphone %}
				<input type="file" name="icon">
				{% endif %}
				<br/>

				<div class="g-button-group">
					<a href="javascript:document.profile_frm.submit();" class="g-button"><i class="icon-ok"></i>{% if is_english %}Update{% else %}プロフィールを更新{% endif %}</a>
				</div>

				</form>
