<p>&nbsp;</p>

<div class="g-button-group">
		{% if not view_mode %}
			<a href="mypage" class="g-button">マイアカウント</a>
		{% else %}
		{% if following %}
			<a href="add_bookmark?mode=add_user&user_key={{bookmark.user_id}}" class="g-button">フォロー中</a>
		{% else %}
			<a href="add_bookmark?mode=add_user&user_key={{bookmark.user_id}}" class="g-button"><i class="icon-plus"></i>フォロー</a>
		{% endif %}
		{% endif %}
		<a class="g-button dropdown-toggle" data-toggle="dropdown" href="#">
			その他 <span class="caret"></span>
		</a>
		<ul class="dropdown-menu">
			{% if view_mode %}
				<li><a href="./mypage"">マイページへ戻る</a></li>
			{% else %}
				<li><a href="./mypage?user_id={{bookmark.user_id}}"">リンク用URLを開く</a></li>
			{% endif %}
			{% if user %}
				<li><a href="./mypage?tab=profile&edit=1">フォロワーの管理</a></li>
				<!--退会 -->
				{% if not view_mode or is_admin%}
					<li><a href="javascript:confirm_withdraw('mypage?withdraw=go&user_id={{bookmark.user_id}}')">退会する{% if is_admin %}（＊管理モード）{% endif %}
</a></li>
				{% endif %}
			{% endif %}
		</ul>
</div>

<p>&nbsp;</p>

{% if is_iphone %}
<div class="example">
{% endif %}

	<p>フォローしている</p>

	<div id="follow">Loading</div>
	<br clear="all">

	<p>&nbsp;</p>
	<p>フォローされている</p>

	<div id="follower">Loading</div>
	<br clear="all">

	<p>&nbsp;</p>

	<p>アプリ</p>

	<div id="bookmark_app">Loading</div>
	<br clear="all">

{% if is_iphone %}
</div>
{% endif %}

<p>&nbsp;</p>

{% if is_iphone %}
<div class="example">
{% endif %}
	<p>イラブチャット</p>

	<a href="./chat"><img src="./static_files/chat/mypage.png"></a><br/><br/>
	<div class="g-button-group">
	<a href="chat" class="g-button">ルーム作成</a>
	<a href="chat?mode=tool&key=always&viewmode=false&pass=false" class="g-button">お試し</a>
	</div>
{% if is_iphone %}
</div>
{% endif %}

<!--
<p>&nbsp;</p>

{% if is_iphone %}
<div class="example">
{% endif %}
	<p>広告</p>
	<p>&nbsp;</p>
	<a href="dropbox"><img src="./static_files/dropbox.png" width=160px></a><br/><br/>
	<p>イラストをクラウドに保存してバックアップ。下記のリンクから登録すると500MBのボーナス。</p>
	<div class="g-button-group">
	<a href="dropbox" class="g-button">ドロップボックスに登録</a>
	</div>
{% if is_iphone %}
</div>
{% endif %}
-->
