{% if regist_finish %}
	<p class="bar">新規登録完了</p>
	<p>お絵かき掲示板の登録が完了しました。このページの”レンタルしているお絵かき掲示板”からアクセスして下さい。</p>
	<p>&nbsp</p>
{% endif %}

<!-- メイン領域 -->

{% if not user %}
	{% if not view_mode %}
		<p>&nbsp;</p>		
		<p>お絵かき掲示板のレンタルを行うにはGoogleアカウントでログインする必要があります。</p>
		<p><a href='{{redirect_url|login_url}}' class="declink">Googleアカウントをお持ちの方はこちらからログインして下さい。</a></p>
		<p><a href="https://www.google.com/accounts/NewAccount?hl=ja" class="declink" target="_BLANK">Googleアカウントをお持ちでない方はこちらから新規登録して下さい。</a></p>
	{% endif %}
{% endif %}

<div class="profile_box">
{% if user or view_mode%}
	<a href="{{host}}mypage{% if view_mode %}?user_id={{bookmark.user_id}}{% endif %}">
	{% if is_iphone %}
		<div id="profile" style="float:left;margin:6px;"><img src="./show_icon?key={{bookmark.user_id}}" width="100" height="100" class="radius_image"/></div>
		<div style="float:left;font-size: 18px;padding-top:50px;">
	{% else %}
		<div id="profile" style="margin-top:2px;margin-left:10px;margin-right:10px;"><img src="./show_icon?key={{bookmark.user_id}}" width="160" height="160" class="radius_image"/><br/></div>
		<div style="font-size: 24px;width:100%;text-align:center;">
	{% endif %}
	{% if bookmark.name%}
	{{bookmark.name}}
	{%else%}
	プロフィール未登録
	{% endif%}
	</div>
	</a>

	{% if is_iphone %}
		<br clear="all">
	{% endif %}
	
	<!--フォロワー -->
	{% if not is_iphone %}
		{% include "mypage/follower.html" %}
	{% endif %}
{% endif %}
</div>

<div class="left_box">

{% if user or view_mode%}

<script>
	function display_tab(id){
		{% if view_mode %}
			window.location.href="{{host}}mypage?user_id={{bookmark.user_id}}&tab="+id;
		{% else %}
			window.location.href="{{host}}mypage?tab="+id;
		{% endif %}
		return false;
	}
</script>

	<div style="float:left;padding-right:8px;">
	{% if is_iphone %}
	<div class="g-button-group toggle-buttons">
		<a href="javascript:display_tab('illust');" class="g-button no-text {% ifequal tab "illust" %}checked{% endifequal %}">イラスト</a>
		<a href="javascript:display_tab('profile');" class="g-button no-text {% ifequal tab "profile" %}checked{% endifequal %}">プロフ</a>
		<a href="javascript:display_tab('feed');" class="g-button no-text {% ifequal tab "feed" %}checked{% endifequal %}">TL{% if bookmark.new_feed_count %}({{bookmark.new_feed_count}}){% endif %}</a>
		<a href="javascript:display_tab('rental');" class="g-button no-text {% ifequal tab "rental" %}checked{% endifequal %}">レンタル</a>
		</div>
	{% else %}
		<div class="g-button-group toggle-buttons">
		<a href="javascript:display_tab('illust');" class="g-button {% ifequal tab "illust" %}checked{% endifequal %}">イラスト</a>
		<a href="javascript:display_tab('profile');" class="g-button {% ifequal tab "profile" %}checked{% endifequal %}">プロフィール</a>
		<a href="javascript:display_tab('feed');" class="g-button {% ifequal tab "feed" %}checked{% endifequal %}">タイムライン{% if bookmark.new_feed_count %}({{bookmark.new_feed_count}}){% endif %}</a>
		<a href="javascript:display_tab('rental');" class="g-button {% ifequal tab "rental" %}checked{% endifequal %}">レンタル</a>
		</div>
	{% endif %}
	</div>
	
	{% if not view_mode %}
	<div style="float:right;">
		{% if edit_mode %}
		<a href="./mypage?{% if tab %}tab={{tab}}&{% endif %}" class="g-button no-text checked">
		{% else %}
		<a href="./mypage?{% if tab %}tab={{tab}}&{% endif %}edit=1" class="g-button no-text">
		{% endif %}
		<i class="icon-edit"></i>{% if not is_iphone %}編集{% endif %}</a>
	</div>
	{% endif %}
	
	<br clear="all">
	<br clear="all">

{% ifequal tab "illust" %}
<div>
	<div class="example">
		<p><h2>投稿したイラスト</h2></p>
		<table width="100%"><tr><td>
		<div id="submit_thread">Loading</div>
		</td></tr></table>
	</div>
	
	<div class="example">
		<p><h2>ブックマークしているイラスト</h2></p>

		<table width="100%"><tr><td>
		<div id="bookmark_thread">Loading</div>
		</td></tr></table>
	</div>
</div>
<div>
	<div class="example">
		<p><h2>ブックマークしている掲示板</h2></p>

		<table width="100%"><tr><td>
		<div id="bookmark_bbs">Loading</div>
		</td></tr></table>
	</div>

	<div class="example">
		<p><h2>レンタルしている掲示板</h2></p>

		<table width="100%"><tr><td>
		<div id="rental">Loading</div>
		</td></tr></table>
	</div>
</div>
{% endifequal %}

{% ifequal tab "profile" %}

	<div class="example">
		<p><h2>プロフィール</h2></p>
	
			<table width="100%"><tr><td>
				{% if edit_mode %}
				<form action="./update_profile" enctype="multipart/form-data" method="post" name="profile_frm">
				<input type="hidden" name="mode" value="profile">
				
				<table>
				<tr><td>ユーザ名（必須）</td><td>　</td><td><input name="name" type="text" value="{{bookmark.name}}" style="width:90%;"></td></tr>
				<tr><td>性別</td><td>　</td><td>
				<select name="sex" id="sex">
					<option value="0" {% ifequal bookmark.sex 0 %} selected="selected" {% endifequal%}>非公開</option>
					<option value="1" {% ifequal bookmark.sex 1 %} selected="selected" {% endifequal%}>男</option>
					<option value="2" {% ifequal bookmark.sex 2 %} selected="selected" {% endifequal%}>女</option>
				</select>
				</td></tr>
				<tr><td>生まれた年(西暦)</td><td>　</td><td>
				<input name="birthday_year" type="text" value="{% if bookmark.birthday_year %}{{bookmark.birthday_year}}{% endif %}" style="width:80px;">年<br/>
				何も書かなければ非公開になります
				</td></tr>
				<tr><td>誕生日（半角）</td><td>　</td><td>
				<input name="birthday_month" type="text" value="{% if bookmark.birthday_month %}{{bookmark.birthday_month}}{%endif%}" style="width:40px;">月
				<input name="birthday_day" type="text" value="{% if bookmark.birthday_day %}{{bookmark.birthday_day}}{% endif %}" style="width:40px;">日<br/>
				何も書かなければ非公開になります
				</td></tr>
				<tr><td>ユーザランキング</td><td>　</td><td>
				<select name="disable_rankwatch" id="disable_rankwatch">
					<option value="0" {% if not bookmark.disable_rankwatch %} selected="selected" {% endif %}>参加する</option>
					<option value="1" {% if bookmark.disable_rankwatch %} selected="selected" {% endif%}>参加しない</option>
				</select><br/>
				ランキング設定は次回のランキング更新から反映されます
				</td></tr>
				<tr><td>コメント</td><td>　</td><td><textarea name="profile" rows="8" cols="40" style="width:90%;">{% if edit_profile %}{{edit_profile}}{% endif %}</textarea></td></tr>
				<tr><td>ホームページ</td><td>　</td><td><input name="homepage" type="text" value="{% if bookmark.homepage %}{{bookmark.homepage}}{% endif %}" style="width:90%;"></td></tr>
				<tr><td>メール</td><td>　</td><td><input name="mail" type="text" value="{% if bookmark.mail %}{{bookmark.mail}}{% endif %}" style="width:90%;"></td></tr>
				<tr><td>TwitterID</td><td>　</td><td><input name="twitter" type="text" value="{% if bookmark.twitter_id %}{{bookmark.twitter_id}}{% endif %}" style="width:90%;"></td></tr>
				<tr><td>アイコン</td><td>　</td><td>{% if not is_iphone %}<input type="file" name="icon">{% endif %}</td></tr>
				</table>
				{% if is_iphone %}
				<input type="file" name="icon">
				{% endif %}
				<br/>

				<div class="g-button-group">
					<a href="javascript:document.profile_frm.submit();" class="g-button"><i class="icon-edit"></i>プロフィールを更新</a>
				</div>

				</form>
				{% else %}
					{% if not bookmark.name %}
						<p>ユーザのプロフィールは設定されていません。</p><br/>
					{% else %}
						<table>
						<tr><TD WIDTH=100px>ユーザ名</td><td>　</td><td>
						{{bookmark.name}}
						{%if not bookmark.disable_rankwatch %}
							<div class="g-button-group">
								<a href="ranking?mode=user" class="g-button">ランキング {% if user_rank %}{{user_rank}}位{% else %}-{% endif %}</a>
							</div>
						{%endif%}
						</td></tr>
						{% if bookmark.sex %}<tr><td>性別</td><td>　</td><td>
							{% ifequal bookmark.sex 1 %}
								男
							{%else%}
								女
							{%endifequal%}
						</td></tr>
						{% endif %}
						{% if age %}<tr><td>年齢</td><td>　</td><td>{{age}}才</td></tr>{%endif%}
						{% if bookmark.birthday_month %}<tr><td>誕生日</td><td>　</td><td>{{bookmark.birthday_month}}月{{bookmark.birthday_day}}日</td></tr>{%endif %}
						<tr><td>コメント</td><td>　</td><td>{{bookmark.profile|safe}}</td></tr>
						{% if bookmark.homepage %}<tr><td>ホームページ</td><td>　</td><td><a href="{{bookmark.homepage}}" class="declink"><div class="linebreak">{{bookmark.homepage}}</div></a></td></tr>{% endif %}
						{% if bookmark.mail %}<tr><td>メール</td><td>　</td><td><a href="mailto:{{bookmark.mail}}" class="declink"><div class="linebreak">{{bookmark.mail|safe}}</div></a></td></tr>{% endif %}
						{% if bookmark.twitter_id %}<tr><td>Twitter</td><td>　</td><td>{% if bookmark.twitter_id %}<a href="https://twitter.com/#!/{{bookmark.twitter_id}}" class="declink"><div class="linebreak">{{bookmark.twitter_id}}</div></a>{% endif %}</td></tr>{% endif %}
						{% if is_admin %}{% if bookmark.owner %}<tr><td>アカウント(＊管理モード)</td><td>　</td><td>{{bookmark.owner.email}}</td></tr>{% endif %}{% endif %}
						</table>
					{% endif %}
				{% endif %}
			</td></tr></table>
	</div>
{% endifequal %}

	<!--レンタル -->
{% ifequal tab "rental" %}
<div id="tab_bbs">
	<div class="example">

	{%if user and not view_mode%}
			<form action="./add_bbs" enctype="multipart/form-data" method="post" name="rental_frm">
			<input type="hidden" name="official" value="0">
			<input type="hidden" name="redirect" value="./regist">
			<table width="100%">
				<tr>
					<td>タイトル（必須）<br/></td>
					<td><input type="text" name="bbs_title" size="38" style="width:90%;"><br/></td>
				</tr>
				<tr>
					<td>概要（必須）</td>
					<td><textarea name="bbs_summary" rows="3" cols="40" style="width:90%;"></textarea></td>
				</tr>
				<tr>
					<td>
						希望するID(半角英数16文字以下)
					</td>
					<td><input type="text" id="check_short" name="short" value="{% if bbs.short %}{{bbs.short}}{% endif %}" maxlength="16">
					</td>
				</tr>	  
				<tr>
					<td>モード</td>
					<td>
						<select name="mode">
							<option value="1">お絵かき掲示板{% if not is_iphone %}（誰でも投稿可能）{% endif %}
							<option value="2">お絵かきブログ{% if not is_iphone %}（管理人だけ投稿可能）{% endif %}
							<option value="3">スレッド式掲示板{% if not is_iphone %}（イラストなし）{% endif %}
						</select>
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
					<div style="float:left;padding-right:4px;">
						<div class="g-button-group">
			<a href="javascript:check_id('{{host}}');" class="g-button"><i class="icon-check"></i>IDを利用可能か確認</a>
		</div>
					</div>
					<div style="float:left;">
							<div class="g-button-group">
			<a href="javascript:document.rental_frm.submit();" class="g-button"><i class="icon-plus"></i>レンタルを実行</a>
		</div>
		</div>
					</td>
				</tr>
			</table>
			</form>
			{%else%}
				<p>レンタルは自分のアカウントでのみ行うことができます。</p>
			{%endif %}
		</div>
	</div>
{% endifequal %}
{% endif%}

	<!--タイムライン -->
{% ifequal tab "feed" %}
<div id="tab_feed">
	{% include "mypage/feed.html" %}
</div>
{% endifequal %}

	<!--フォロワー -->
	{% if is_iphone %}
		{% if user %}
			{% ifequal tab "profile" %}
				{% include "mypage/follower.html" %}
			{% endifequal %}
		{% endif %}
	{% endif %}

</div>

{% if not is_iphone %}
<br clear="all">
{% endif %}
