<script>
	function create_new_bbs(){
		$("#rental").hide();
		$("#rental_exec").show();
		document.rental_frm.submit();
	}
</script>

<div id="rental_exec" style="display:none;">
	<img src="./static_files/loading.gif"><BR>
	{% if is_english %}
	BBS Creating...
	{% else %}
	掲示板を作成しています。<BR>
	しばらくお待ち下さい。
	{% endif %}
</div>

<div id="rental">
    {% if is_english %}Regist new BBS{% else %}新しい掲示板をレンタルする{% endif %}
			<form action="./add_bbs" enctype="multipart/form-data" method="post" name="rental_frm">
			<input type="hidden" name="official" value="0">
			<input type="hidden" name="redirect" value="./regist">
			<table width="100%">
				<tr>
					<td>{% if is_english %}Title(MUST){% else %}タイトル（必須）{% endif %}<br/></td>
					<td><input type="text" name="bbs_title" size="38" style="width:90%;"><br/></td>
				</tr>
				<tr>
					<td>{% if is_english %}Summary(MUST){% else %}概要（必須）{% endif %}</td>
					<td><textarea name="bbs_summary" rows="3" cols="40" style="width:90%;"></textarea></td>
				</tr>
				<tr>
					<td>
						{% if is_english %}ID(MUST){% else %}希望するID（必須）{% endif %}
					</td>
					<td><input type="text" id="check_short" name="short" value="" maxlength="16">{% if is_english %}(16 characters or less){% else %}(半角英数16文字以下){% endif %}
					</td>
				</tr>	  
				<tr>
					<td>{% if is_english %}Mode{% else %}モード{% endif %}</td>
					<td>
						<select name="mode">
							<option value="1">{% if is_english %}BBS{% else %}お絵かき掲示板{% endif %}{% if not is_iphone and not is_english%}（誰でも投稿可能）{% endif %}
							<option value="2">{% if is_english %}BLOG{% else %}お絵かきブログ{% endif %}{% if not is_iphone and not is_english %}（管理人だけ投稿可能）{% endif %}
							<option value="3">{% if is_english %}FORUM{% else %}スレッド式掲示板{% endif %}{% if not is_iphone and not is_english %}（イラストなし）{% endif %}
						</select>
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td>
					<div style="float:left;padding-right:4px;">
						<div class="g-button-group">
			<a href="javascript:check_id('{{host}}');" class="g-button"><i class="icon-check"></i>{% if is_english %}Check ID availability{% else %}IDを利用可能か確認{% endif %}</a>
		</div>
					</div>
					<div style="float:left;">
							<div class="g-button-group">
			<a href="javascript:create_new_bbs();" class="g-button"><i class="icon-plus"></i>{% if is_english %}Regist{% else %}レンタルを実行{% endif %}</a>
		</div>
		</div>
					</td>
				</tr>
			</table>
			</form>
</div>
