{% if not timeline %}
	<p>{% if is_english %}no feed exist{% else %}フィードはありません。{% endif %}</p><p>&nbsp</p>
{% endif %}

{% if timeline %}
<div class="feed">
	{% for feed in timeline %}
	<div style="padding:4px;">
		<!-- アイコン -->
		<div style="float:left;width:58px;padding-right:6px;text-align:center;margin:auto;">
		{% if feed.from_user and feed.mode != "deleted" %}
			<a href="{{feed.from_user.profile_url}}"><img src="{{feed.from_user.icon_url}}&size=mini" width="50px" height="50px"/></a>
		{% else %}
			<img src="static_files/empty_user.png" width="50px" height="50px"/>
		{% endif %}
		</div>

		<!-- メイン -->
		<div style="float:left;{% if is_iphone %}width:232px;{% else %}width:760px;{% endif %}">
	
		<!-- ユーザ名 -->
		<div style="float:left;"> 
		{% if feed.mode != "deleted" %}
			<b>
			{% if feed.from_user %}
				<a href="{{feed.from_user.profile_url}}">
					{{feed.from_user.name}}
				</a>
			{% else %}
				匿名ユーザ
			{% endif %}
			{% if feed.to_user %}
			　->　<a href="{{feed.to_user.profile_url}}">
				{{feed.to_user.name}}
			</A>
			{% endif %}
			</b>
		{% endif %}
		</div>

		<!-- オプション -->
		<div style="float:right;text-align:right;">
		{{feed.create_date}}<br/>

		{% if not view_mode %}
			{% if edit_mode %}
				{% if feed.from_user.user_id == user_id %}				
				<a href="#" onclick="confirm_delete_tweet('{{feed.key}}','{{page}}','{{tab}}',{% if is_english %}true{%else%}false{% endif %});" class="g-button mini">
					{% if is_english %}Remove{% else %}削除{% endif %}
				</a><br/>
				{% else %}
				<a href="#" onclick="confirm_remove_tweet('{{feed.key}}','{{page}}','{{tab}}',{% if is_english %}true{%else%}false{% endif %});" class="g-button mini">
					{% if is_english %}Hide{% else %}除外{% endif %}
				</a><br/>
				{% endif %}
			{% endif %}
			{% if feed.to_user.user_id == user_id %}
				<a href="mypage?user_id={{feed.from_user.user_id}}&tab=feed" class="g-button mini">
				{% if is_english %}Reply{% else %}返信{% endif %}
				</a><br/>
			{% endif %}
		{% endif %}
		</div>

		<br clear="all"/>

		{% set deleted_style_header = "<font color='#888'>" %}
		{% set deleted_style_footer = "</font>" %}
		{% set enh_style_header = "<font color='#E47911'>" %}
		{% set enh_style_footer = "</font>" %}
		{% set message = feed.message %}

		<!-- メッセージ -->
		<p>
		{% if feed.mode == "bbs_new_illust" %}
			{% if not feed.thread.title %}
				{{deleted_style_header}}投稿したイラストは削除されました。{{deleted_style_footer}}
			{% else %}
				{% if feed.thread.thumbnail_url == "" %}
					<a href="{{feed.thread.thread_url}}">
						{% if is_english %}
							Submit {{feed.thread.title}}
						{% else %}
							{{feed.bbs.title}}に{{feed.thread.title}}を投稿しました。
						{% endif %}
					</a>
					<blockquote>
						<a href="{{feed.thread.thread_url}}">
							{{feed.thread.summary}}
						</a>
					</blockquote>
				{% else %}
					<a href="{{feed.thread.thread_url}}">
						{% if is_english %}
							Submit {{feed.thread.title}}
						{% else %}
							{{feed.bbs.title}}に{{feed.thread.title}}を投稿しました。
						{% endif %}
					</a>
				{% endif %}
			{% endif %}
		{% endif %}

		{% if feed.mode == "new_follow" %}
			<a href="{{feed.follow_user.profile_url}}">
				{% if is_english %}Follow {% endif %}{{feed.follow_user.name}}{% if not is_english %}をフォローしました。{% endif %}
			</a>
		{% endif %}

		{% if feed.mode == "new_bookmark_thread" %}
			<a href="{{feed.thread.thread_url}}">
				{% if not feed.thread.title %}
					{{deleted_style_header}}ブックマークしたイラストは削除されました。{{deleted_style_footer}}
				{% else %}
					{% if is_english %}Bookmark {% endif %}{{feed.thread.title}}{% if not is_english %}をブックマークしました。{% endif %}
				{% endif %}
			</a>
		{% endif %}

		{% if feed.mode == "new_comment_thread" %}
			{% if not feed.thread %}
				{{deleted_style_header}}
				コメントしたイラストは削除されました。
				{{deleted_style_footer}}
				{% set message = "" %}
			{% else %}
				<a href="{{feed.thread.thread_url}}">
					{% if is_english %}Comment to {% endif %}{{feed.thread.title}}{% if not is_english %}にコメントしました。{% endif %}
				</a>
			{% endif %}
		{% endif %}

		{% if feed.mode == "new_bookmark_bbs" %}
			<a href="{{feed.bbs.bbs_url}}">
				{% if not feed.bbs.title %}
					{{deleted_style_header}}ブックマークした掲示板は削除されました。{{deleted_style_footer}}
				{% else %}
					{% if is_english %}Bookmark {% endif %}{{feed.bbs.title}}{% if not is_english %}をブックマークしました。{% endif %}
				{% endif %}
			</a>
		{% endif %}

		{% if feed.mode == "new_applause_thread" %}
			<a href="{{feed.thread.thread_url}}">
				{% if not feed.thread.title %}
					{{deleted_style_header}}拍手したイラストは削除されました。{{deleted_style_footer}}
				{% else %}
					{% if is_english %}Like to {% endif %}{{feed.thread.title}}{% if not is_english %}に拍手しました。{% endif %}
				{% endif %}
			</a>
		{% endif %}

	</p>

	<!-- 付加画像データ -->
	{% if feed.mode == "bbs_new_illust" or feed.mode == "new_applause_thread" or feed.mode == "new_bookmark_thread" %}
		{% if feed.thread.thumbnail_url %}
			{% if feed.thread|regulation_check(user)%}
				<a href="{{feed.thread.thread_url}}">
					<img src="{{feed.thread.thumbnail_url}}" width="100px" height="100px"/>
				</a>
			{% else %}
				[年齢制限付きイラスト]
			{% endif %}
		{% endif %}
	{% endif %}

	{% if feed.mode == "new_follow" %}
		<a href="{{feed.follow_user.profile_url}}">
			<img src="{{feed.follow_user.icon_url}}&size=mini" width="50px" height="50px"/>
		</a>
	{% endif %}

	{% if message %}
		{% if feed.mode == "new_comment_thread" %}
			<blockquote><p>
				<a href="{{feed.thread.thread_url}}">
					{% if message == "deleted" %}
						{{deleted_style_header}}コメントは削除されました。{{deleted_style_footer}}
					{% else %}
						{{message}}
					{% endif %}
				</a>
			</p></blockquote>
		{% else %}
			{% if feed.mode == "deleted" %}
				<p>{{deleted_style_header}}{{message}}{{deleted_style_footer}}</p>
			{% else %}
				<p>{{message}}</p>
			{% endif %}
		{% endif %}
	{% endif %}

		<!-- メインブロック -->
		</div>

	</div>
	<br clear='all'/>

	<!-- 既読バー -->
	{% if loop.index+timeline_unit*(page-1)-1 == new_feed_count+new_my_feed_count-1 %}
		<hr style="border-top: 4px solid #cccccc;"/>
	{% else %}
		<hr/>
	{% endif %}

	{% endfor %}
</div>
{% endif %}

