  <div class="message">
    {% if edit_mode == 2%}
      プロフィールを編集<br/>
      {%include "mypage/edit_profile.html"%}
    {% else %}
    <div style="float:left;margin-right:4px;">
      <img src="{{view_user.icon_url}}" {% if is_iphone %}width=74px height=74px{%else%}width=160px height=160px{% endif %}>
    </div>
    <div style="float:left;word-break:break-all;{% if is_iphone %}width:220px;{% endif %}">
      {% if view_user.name %}
       <p><b>{{view_user.name}}</b></p>
       <p>{% if view_user_profile.profile and view_user_profile.profile!="None" %}{{view_user_profile.profile|safe}}{% else %}&nbsp;{% endif %}</p>
     {% else %}
     <p>イラストブックへようこそ。<br/>
     編集ボタンを押すと、ユーザ情報を登録することができます。<br/>
     掲示板タブでは、掲示板をレンタルすることができます。</p>
     {% endif %}

      <div id="profile">
            <table>
            {% if bookmark.sex %}<tr><td>性別</td><td>　</td><td>
              {% if bookmark.sex == 1 %}
                男
              {%else%}
                女
              {%endif%}
            </td></tr>
            {% endif %}
            {% if age %}<tr><td>年齢</td><td>　</td><td>{{age}}才</td></tr>{%endif%}
            {% if bookmark.birthday_month %}<tr><td>誕生日</td><td>　</td><td>{{bookmark.birthday_month}}月{{bookmark.birthday_day}}日</td></tr>{%endif %}
            {% if bookmark.homepage %}<tr><td>ホームページ</td><td>　</td><td><a href="{{bookmark.homepage}}" class="declink"><div class="linebreak">{{bookmark.homepage}}</div></a></td></tr>{% endif %}
            {% if bookmark.mail %}<tr><td>メール</td><td>　</td><td><a href="mailto:{{bookmark.mail}}" class="declink"><div class="linebreak">{{bookmark.mail|safe}}</div></a></td></tr>{% endif %}
            {% if bookmark.twitter_id %}<tr><td>Twitter</td><td>　</td><td>{% if bookmark.twitter_id %}<a href="https://twitter.com/#!/{{bookmark.twitter_id}}" class="declink"><div class="linebreak">{{bookmark.twitter_id}}</div></a>{% endif %}</td></tr>{% endif %}
            {% if is_admin %}{% if bookmark.owner %}<tr><td>アカウント(＊管理モード)</td><td>　</td><td>{{bookmark.owner.email()}}</td></tr>{% endif %}{% endif %}
            </table>
      </div>


     <div class="g-button-group">
      {% if view_mode %}
       {% if following %}
         <a href="javascript:confirm_unfollow('{{view_user.user_id}}','{{view_user.name}}');" class="g-button">フォロー中</a>
       {% else %}
         <a href="javascript:confirm_follow('{{view_user.user_id}}','{{view_user.name}}');" class="g-button"><i class="icon-plus"></i>フォロー</a>
       {% endif %}
      {% endif %}
      {% if detail_exist %}
        <a id="profile_button" href="javascript:show_profile();" class="g-button">詳細</a>
      {% endif %}
      {% if not view_mode %}
         <A HREF="{{host}}{{redirect_api}}?tab={{tab}}&edit=2" class="g-button">編集</A>
      {% endif %}
      {% if not view_mode or is_admin %}
    <a class="g-button dropdown-toggle" data-toggle="dropdown" href="#">
      その他 <span class="caret"></span>
    </a>

    <ul class="dropdown-menu">
          <li><a href="{{host}}{{redirect_api}}">トップへ戻る</a></li>
          {%if not bookmark.disable_rankwatch %}
          <li>
            <a href="ranking?mode=user">ランキング
              {% if user_rank %}{{user_rank}}位{% else %}-{% endif %}
            </a>
          </li>
          {%endif%}
          {% if not view_mode %}
            <li><a href="./mypage?tab=timeline">マイタイムライン</a></li>
          {% endif %}
          <li><a href="{{redirect_url|logout_url}}">ログアウト</a></li>
          {% if is_admin %}
          <li><a href="javascript:if(confirm('アカウントを凍結しますか？')){ window.location.href='{{host}}mypage?freez=1&user_id={{bookmark.user_id}}' }">アカウント凍結（＊管理モード）</a></li>
          {% endif %}
          {% if not view_mode %}
          <li><a href="javascript:confirm_withdraw('mypage?withdraw=go&user_id={{bookmark.user_id}}')">退会する{% if is_admin %}（＊管理モード）{% endif %}</a></li>
          {% endif %}
          {% if is_admin %}
          <li><a href="{{host}}tolot/{{bookmark.user_id}}.html">アルバムを作成(β)</a></li>
          {% endif %}
    </ul>

       {% endif %}
      </ul>
     </div>

    </div>
    <br clear="all">
    {% endif %}
  </div>

  {% if 0 %}
   {% include "adsense/adsense_wide.html" %}
  {% endif %}

    {% if follow or follower %}
  <div class="message">
    <div id="follower_button">
      フォロー{{follow|length}}　フォロワー{{follower|length}}
      <a href="javascript:show_follower();" class="g-button mini">詳細</a>
    </div>
    <div id="follower">
      {% if follow %}
     フォローしている<br/>
     {% for user in follow %}
     <div class="deletable">
       <a href="{{redirect_api}}?user_id={{user.user_id}}"><img src="{{user.icon_url}}&size=mini" width="50px" height="50px" alt='{{user.name}}'/></a>
       {% if edit_mode %}
       <a href="javascript:confirm_delete('del_user&user_key={{user.user_id}}','フォロー','{{user.name}}');" class="g-button no-text delete_button"><i class="icon-remove"></i></a>
       {% endif %}
     </div>
     {% endfor %}
     <br clear="all"/>
     {% endif %}
     {% if follower %}
     フォローされている<br/>
     {% for user in follower %}
     <a href="{{redirect_api}}?user_id={{user.user_id}}"><img src="{{user.icon_url}}&size=mini" width=50px height=50px></a>
     {% endfor %}
     {% endif %}
      <br/><a href="javascript:show_follower();" class="g-button mini">閉じる</a>
   </div>
 </div>
   {% endif %}

   {% if timeline %}
    {% include "mypage/tweet.html" %}
   {% endif %}
