<div id="order">
  <div style="float:left">
  <div class="g-button-group toggle-buttons">
    {% if submit_illust_exist %}
      <a href="{{host}}{{redirect_api}}?{% if bookmark %}user_id={{user_id}}&{% endif %}tab=submit" class="g-button {%if tab=="submit"%}checked{%endif%}">{% if is_english %}Submit{% else %}{% if is_iphone %}投稿{%else%}投稿したイラスト{% endif %}{% endif %}</a>
    {% endif %}
    {% if submit_moper_exist and not is_iphone and not is_english%}
      <a href="{{host}}{{redirect_api}}?{% if bookmark %}user_id={{user_id}}&{% endif %}tab=moper" class="g-button {%if tab=="moper"%}checked{%endif%}">{% if is_iphone %}動画{%else%}投稿した動画{% endif %}</a>
    {% endif %}
    {% if bookmark_illust_exist %}
      <a href="{{host}}{{redirect_api}}?{% if bookmark %}user_id={{user_id}}&{% endif %}tab=bookmark" class="g-button {%if tab == "bookmark"%}checked{%endif%}">{% if is_english %}Bookmark{% else %}{% if is_iphone %}ブクマ{%else%}ブックマーク{%endif%}{% endif %}</a>
    {% endif %}
    <a href="{{host}}{{redirect_api}}?{% if bookmark %}user_id={{user_id}}&{% endif %}tab=bbs" class="g-button {%if tab == "bbs"%}checked{%endif%}">{% if is_english %}BBS{% else %}掲示板{% endif %}</a>
    <a href="{{host}}{{redirect_api}}?{% if bookmark %}user_id={{user_id}}&{% endif %}tab=feed" class="g-button {%if tab == "feed" or tab=="timeline" %}checked{%endif%}">{% if is_iphone or is_english %}TL{%else%}タイムライン{% if not view_mode %}{% if new_feed_count %}({{new_feed_count}}){% endif %}{% endif %}{% endif %}</a>
  </div>
  </div>
  <div style="float:right;">
  {% if not tab == "submit" and not tab=="moper" and not view_mode %}
      {% if edit_mode == 1 %}
        {% if tab == "timeline" or tab == "feed" %}
         <a href="#" onclick="confirm_remove_tweet_list({% if is_english %}true{%else%}false{% endif %});" class="g-button {% if is_iphone %}no-text{% endif %}">
           {% if is_iphone %}<i class="icon-trash"></i>{% else %}{% if is_english %}Remove{% else %}削除{% endif %}{% endif %}
         </a>
        {% endif %}
      {% else %}
       <a href="{{host}}{{redirect_api}}?user_id={{user_id}}&tab={{tab}}&edit=1" class="g-button {% if is_iphone %}no-text{% endif %}">{% if is_iphone %}<i class="icon-list"></i>{% else %}{% if is_english %}Edit{% else %}編集{% endif %}{% endif %}</a>
      {% endif %}
  {% endif %}
  </div>

  <br clear="all"/>
</div>
