<!----------------------------------------------------------------------------- -->

<div style="width:570px;float:left;padding-right:20px;">
<H1><p>デベロッパーポータル(β)</p></H1>

<p>
イラストブックプラットフォームでは、イラストブックのバーチャルグラフとイラストを使用したアプリやプラグイン、CSSデザインを開発し、<a href="app" class="declink">イラストブックマーケット</a>で公開することができます。</p>

<p>&nbsp</p>

<p><a href="dev?page=intro" class="declink">イラストブックプラットフォームの概要</a></p>
<p><a href="dev?page=json" class="declink">JSON APIリファレンス</a></p>
<p><a href="dev?page=js" class="declink">JavaScript APIリファレンス</a></p>
<p><a href="dev?page=css" class="declink">CSSリファレンス</a></p>

</div>

<div style="width:300px;float:left;">
	<img src="static_files/app/app_p2.jpg">
</div>

<br clear="all">

<!----------------------------------------------------------------------------- -->

<script>
	function confirm_delete(url){
		if(confirm("アプリを削除してもよろしいですか？")){
			if(confirm("削除操作は取り消せません。本当によろしいですか？")){
				window.location.href=url;
			}
		}
	}
</script>

{% if logined %}

<p>&nbsp</p>
<p>&nbsp</p>

<H2><p>開発中のコンテンツ一覧</p></H2>
<HR>

<TABLE>
{% if my_app_list %}
	{% for app2 in my_app_list %}
		<TR>
			<TD><p><a href="app?mode=play&app_key={{app2.key()}}">
			{{app2.app_name}}
			{% if app2.mode == 0 %}（アプリ）{% endif %}
			{% if app2.mode == 1 %}（プラグイン）{% endif %}
			{% if app2.mode == 2 %}（デザイン）{% endif %}
			</a></p></TD>
			<TD><input type="button" onclick="script:window.location.href='dev?page=edit&app_key={{app2.key()}}'" value="編集"></TD>
			<TD><input type="button" onclick="script:confirm_delete('dev?page=delete&app_key={{app2.key()}}');" value="削除"></TD>
		</TR>
	{% endfor %}
{% else %}
	<TR><TD><p><small>開発しているコンテンツはまだありません。</small></p></TD></TR>
{% endif %}
</TABLE>

<p>&nbsp</p>
<p>&nbsp</p>

<H2><p>新規コンテンツの作成</p></H2>
<HR>

<form action="dev" method="POST">

<p>コンテンツの名称とID、種別を入力して新規作成ボタンを押して下さい。</p>

<TABLE>
<TR><TD>コンテンツ名称</TD><TD><input name="app_name" style="width:200px;"></TD>
<TR><TD>コンテンツID(半角英数)</TD><TD><input name="app_id" style="width:200px;"></TD>
<TR><TD>コンテンツ種別</TD><TD><select name="mode"><option value="0">アプリ</option selected><option value="1">プラグイン</option><option value="2">CSSデザイン</option></select></TD></TR>
<TD>
<input type="hidden" name="page" value="submit">
<input type="submit" value="新規作成">
</TD>
</TR>
</TABLE>

</form>

<div align="right">
<p>
<A HREF="{{url_log}}" class="declink">ログアウト</A>
</p>
</div>

{% else %}

<p>&nbsp</p>
<p>&nbsp</p>

<H2><p>ログイン</p></H2>
<hr>

<p>アプリを開発して登録するにはログインする必要があります。<A HREF="{{url_log}}" class="declink">ログインするにはこちらをクリック</A>して下さい。</p>
{% endif %}


