<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>アプリ設定の編集 - イラストブック</title>
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="Copyright" content="Copyright: ABARS" />
<link rel="stylesheet" type="text/css" media="screen,print" href="static_files/general/css/common.css?version=111119" />
<script language="javascript" src="static_files/general/js/jquery.js" type="text/javascript"></script>
<script language="javascript" src="static_files/general/js/rollover.js" type="text/javascript"></script>

</head>
<body>
<div id="container">
	<div id="contents">
		<div id="main">

<p>&nbsp</p>

<H1><p>{{app.app_name}}のコンテンツ設定の編集</p></H1>

{% include "app_icon.html" %}

<form action="./dev" enctype="multipart/form-data" method="post" >
<H3><p>コンテンツ共通設定</p></H3>
<TABLE>
<TR><TD>コンテンツ名</TD><TD><input name="app_name" style="width:400px;" value="{{app.app_name}}"></TD></TR>
<TR><TD>コンテンツID(できる限り変更しないで下さい)</TD><TD><input name="app_id" style="width:400px;" value="{{app.app_id}}"></TD></TR>
<TR><TD>コンテンツ種別</TD><TD><select name="mode"><option value="0">アプリ</option {% ifequal app.mode 0%}selected{% endifequal %}><option value="1" {% ifequal app.mode 1%}selected{%endifequal%}>プラグイン</option><option value="2" {% ifequal app.mode 2%}selected{%endifequal%}>CSSデザイン</option></select></TD></TR>
<TR><TD>コンテンツ解説</TD><TD><textarea name="app_guide" style="width:400px;" rows=4>{{app.app_guide}}</textarea></TD></TR>
<TR><TD>開発者名</TD><TD><input name="author" style="width:400px;" value="{{app.author}}"></TD></TR>
<TR><TD>公開設定</TD><TD><select name="is_public"><option value="0">非公開</option {% if not app.is_public %}selected{% endif %}><option value="1" {% if app.is_public%}selected{%endif%}>公開</option></select></TD></TR>
<TR><TD>アイコン(100x100px)</TD><TD>{% if app.icon %}<img src="app?mode=icon&app_key={{app.key}}" width=100px height=100px class="app_icon">{%else%}<small>アイコン未設定</small>{%endif%}　<input type="file" name="icon"></TD></TR>
</TABLE>

<p>&nbsp</p>
<H3><p>アプリ設定</p></H3>
<TABLE>
<TR><TD>ランキングに使用するdata_key</TD><TD><input name="ranking_key" style="width:400px;" value="{% if app.ranking_key %}{{app.ranking_key}}{%endif%}"></TD></TR>
<TR><TD>ランキングの順番</TD><TD><select name="ranking_order"><option value="0">降順</option {% if not app.ranking_order %}selected{% endif %}><option value="1" {% if app.ranking_order%}selected{%endif%}>昇順</option></select><small>(昇順の場合は0はランキングに含まれません)</small></TD></TR>
</TABLE>

<p>&nbsp</p>
<H3><p>プラグイン設定</p></H3>
<TABLE>
<TR><TD>プラグインのデフォルト引数</TD><TD><input name="plugin_args" style="width:400px;" value="{{app.plugin_args}}"></TD></TR>
</TABLE>

<p>&nbsp</p>
<H3><p>画像リソースの管理</p></H3>

{% if app.image_id_list %}
	<TABLE BORDER=1>
	<TR><TD>名前</TD><TD>画像</TD><TD>URL</TD><TD WIDTH=100px>操作</TD></TR>
	{% for image_id in app.image_id_list %}
		<TR><TD>{{image_id}}</TD><TD><center><img src="app/{{app.app_id}}/img/{{image_id}}" style="max-width:200px;max-height:200px;"></center></TD><TD><a href="{{host}}app/{{app.app_id}}/img/{{image_id}}" target="_BLANK">{{host}}app/{{app.app_id}}/img/{{image_id}}</a></TD><TD><input type="button" value="削除" onclick="javascript:if(confirm('画像リソースを削除してもよろしいですか？')){window.location.href='dev?page=del_image&app_key={{app.key}}&image_id={{image_id}}{% if bbs_key %}&bbs_key={{bbs_key}}{% endif %}'};return false;"></TD></TR>
	{% endfor %}
	</TABLE>
{% else %}
	<p>画像リソースはありません。</p>
{% endif %}

<p>&nbsp</p>
<H3><p>画像リソースの追加</p></H3>
<p>URLに使用する名前：<input name="image_id">(例：background.jpg)</p>
<p>追加するファイル：<input type="file" name="image"></p>
<p>アプリ容量は合計で1MB以下に抑える必要があります。</p>

<p>&nbsp</p>

<input type="hidden" name="app_key" value="{{app.key}}">
<input type="hidden" name="page" value="update">
{% if bbs_key %}
<input type="hidden" name="redirect" value="dev?page=info&app_key={{app.key}}&bbs_key={{bbs_key}}">
{% endif %}
<input type="submit" value="コンテンツ情報を更新する">
</form>

<p>&nbsp</p>

</div>
</div>
</div>

</body>
</html>